[2017-05-21 13:03] emkap01 commented on #188
@ptatian I corrected the sheet, and will make sure the correction is reflected in the new data pipeline status dashboard I'm working on.

[2017-05-21 17:51] louvis commented on #16
Hey @NealHumphrey and @emkap01, any word from DCRA on updated building permit data? I've been playing around with some of the data in Tableau and would like to use it but don't want to make it a point of emphasis if it's not accurate.

[2017-05-21 19:30] ajhalani commented on #274
Please note I wrote the base opendata api conn class in https://github.com/codefordc/housing-insights/pull/283. Would love feedback to avoid duplicate work.

[2017-05-21 20:43] domaley commented on #53
I'm really interested in this data @terrysky18, please let me know once this is pulled together. Also, if there's anything I can do to help, let me know.

[2017-05-21 23:42] Creence commented on #274
I already wrote this yesterday and did not have a chance to check it in.

[2017-05-22 00:39] Creence commented on #274
@ajhalani I added mine because the get_data method is supposed to call all of the get_XXX methods in #284 and yours seems to be a generic function for getting a particular file.  This ticket was assigned to me yesterday when I worked on it.  If you want to work on something you need to assign it to yourself to avoid duplicate work.

[2017-05-22 02:01] ajhalani commented on #274
Ofcourse. Not my intention to do someone story assigned to someone else :). SInce story is assigned to you, I defer to your PR. My crime data story needed the base class so thank you!

@NealHumphrey  - The way the requirements are written for this story, wouldn't opendata logic for pre-defined filepaths be inconsistent with existing get_api_data/mar.py. mar.py which take path of file as a paramter

[2017-05-22 15:00] NealHumphrey commented on #140
@ptatian is there a reason you recommend the public-extract over the public-extract-facts table I first linked to? It looked like adding the description fields in the facts version was useful, though I also see there's a slight difference in the number of records which I don't understand.

[2017-05-22 15:04] ptatian commented on #140
@NealHumphrey No, no reason. My understanding is that they should be identical (so odd about the record count) other than the replacement of codes with descriptions. So, fine to use either version.

[2017-05-22 15:10] NealHumphrey commented on #254
@xee5ch - John and I talked yesterday about some improvements to the recreate_table system that will better be able to handle updates from multiple files going into one table. For now, just make sure the replace_table field in meta.json is `false` and then rebuild the database any time you test re-adding the data, so you don't end up with duplicates. This will be improved soon.

If you make a PR I

[2017-05-22 15:16] NealHumphrey commented on #16
@louvis It looks like opendata.dc.gov still does not have access to current data. @emkap01 did you ever reach out to the DCRA FOIA officer? Let me know if you're able to or want me to help.

@louvis I'm pretty sure this data should be reinstated at some point. Data is definitely valid through 2016, so you could do analysis that ends in that calendar year and I think it would be valuable both on it

[2017-05-22 15:29] NealHumphrey commented on #274
@ajhalani I'll get this merged in today and resolve any duplicative approaches by pulling from these - the discovery of the .csv endpoint from opendata.dc.gov caused a couple things that started out as separate issues to clash with each other a bit. I'm sorry for confusion with these!

@ajhalani with respect to the get_data method - as we've started thinking about how to use all these ApiConn obje

[2017-05-22 15:55] xee5ch commented on #254
OK I'll just commit this afternoon or evening. I have not done much validation as data seems where it needs to be.  The NHILC ID issue I am not sure how were resolving it yet.

I also diffed other data sources quickly and had the aha moment re the reloaddata JSON param the evening after the hackathon. Duh.

Anyway I'll give it to you and await your orders.

[2017-05-22 18:09] NealHumphrey commented on #254
Cool. We'll figure out the nlihc_id as part of the work @jkwening is doing on identifying duplicate projects via address.

[2017-05-22 21:05] NealHumphrey opened #285 "202 response needs handling"
The opendata.py class (not yet merged to dev) can sometimes return a 202 status. This means the request has been accepted but not finished processing. We will need to poll the server to find out when it is available to be able to resolve this issue and successfully download the file.

I'm not sure which file was being requested when this occurred (will update when I re-encounter the error)
[code]

[2017-05-23 00:05] NealHumphrey commented on #132
@jkwening and I discussed this. Basic concept we discussed was that:
- unique_data_id should stay the same across different versions of the same data set (i.e. if the tax data is updated, id is still 'tax')
- the manifest table in the database will record which specific (datestamped) file the current database copy comes from.
- There is only every one unique_data_id per file that is in the databas

[2017-05-23 00:30] NealHumphrey commented on #53
@terrysky18 - We briefly talked about this, but the best first step on this is the bullet point on the 'geographical summary':
- Get the latest copy of all the Zillow Rent Index datasets (there is a separate dataset for each combination of apartment/building types).
- Calculate roughly how much of the city has data for each of the data sets. Some data sets only report a handful of neighborhoods, w

[2017-05-23 00:38] NealHumphrey commented on #152
@citizenrich is traveling. To get census data in before our June launch we should have someone else pick up where he left off. I'm updating status.

Some additional information:
- Start w/ code in the PR #281
- the opendata.py example in #286 is the best model to work from to make sure that the census class behaves the same as all the others. Make sure there's a get_data method with all the same p

[2017-05-23 00:39] NealHumphrey commented on #152
@ajhalani maybe this is one you could take on?

[2017-05-23 20:52] NealHumphrey commented on #272
I tried doing a bit of digging to fix this. Couldn't quite trace it, but it appears to be related to sequencing of when the data is available vs. when this function is called.  the `chart.data` object is empty when changeZoneType is called.

sidebar-view.js sets these three subscriptions:
[code]

My guess is that if mapLayer finishes before firstPieReady it triggers the changeZoneType event but th

[2017-05-23 22:49] terrysky18 commented on #53
@NealHumphrey, @domaley - acknowledged.

[2017-05-23 23:22] emkap01 commented on #16
Sorry for the delay on this - I emailed Runako and copied you on it, once we hear back from him I will follow up as appropriate.

[2017-05-23 23:25] ajhalani commented on #152
Will take over..

[2017-05-23 23:43] ajhalani commented on #187
Work completed in PR - https://github.com/codefordc/housing-insights/pull/286

@NealHumphrey  can we close this?

[2017-05-24 00:26] #171 closed

[2017-05-24 00:30] thischrisoliver opened #289 "Update map view wireframe"
#### Updates to make after 5/23 discussion: ####
- [x] add charts drawer
- [ ] add export link/button
- [ ] categorize filters
- [ ] update mobile layout to include the side panels as different views (navigation for views could be dropdown at top or tab bar at bottom)

**added:**
- [ ] Create legend for categorical contextual layer
- [ ] Propose updated names for things that might not be understoo

[2017-05-24 00:58] xee5ch commented on #188
Re HMDA @ptatian and @NealHumphrey, this came up at the meeting and I clarified.  I verified with latest test builds the data does import cleanly as @emkap01 generously took care of that.  It is only currently set to be ignored as it is large and iteratively reloading the test DB on our test environments can add minutes to quick testing as we test our Python harness.  @emkap01 might want to mark t

[2017-05-24 01:04] louvis commented on #250
After tonights work session we came up with the following list of visualizations we want to have completed by the V1 launch:
- [ ] [Housing Inventory by Ward/Neighborhood Cluster](https://public.tableau.com/profile/publish/HousingInsightsInventoryMaps/InventorybyNeighborhoodCluster#!/publish-confirm)
- [ ] [Median Rent by Neighborhood Cluster](https://public.tableau.com/profile/daniel.o.maley#!/vi

[2017-05-24 01:20] kasao10 commented on #92
Draft created and sent to Peter for review!  Now on to the logic.

[2017-05-24 16:05] NealHumphrey commented on #260
Implemented in #286

[2017-05-24 16:05] #260 closed

[2017-05-24 17:51] NealHumphrey commented on #250
Check out the page that dynamically creates a list of available visualizations by checking the /docs/_insights folder (needs to be prettier still): http://housinginsights.org/insights/housing-inventory

Add your own by adding new .md files to /docs/_insights using the pattern of one of the existing ones (frontmatter with layout, title, author, and copy-paste the embed code from tableau)

[2017-05-25 13:33] jkwening opened #292 "DataReader - Runtime Error: cannot connect to s3 URL for data"
@NealHumphrey I finished my dchousing code last night and it I was able to load into the data base without an issue until after I merged in all the new code from dev. There were some conflicts which I was able to resolve - related to what I have in my manifest.csv vs dev, my load_data refactor as a class, and additional methods I've added to MarApiConn.

When I run load_data.py docker rebuild ever

[2017-05-25 21:02] thischrisoliver commented on #289
@NealHumphrey I added the charts drawer:
https://app.moqups.com/neal@nhumphrey.com/dDYbZTfu6T/edit/page/afbb51730

[2017-05-25 21:58] #183 closed

[2017-05-25 22:12] jasonrhaas commented on #249
@NealHumphrey @ohaaga OK I will have time to start on this starting tomorrow.  I've been working on some other projects but plan to dig into this a bit.  I need to familiarize myself with the data structure again to create the correct declarations for SQL Alchemy.

[2017-05-25 23:42] ajhalani commented on #249
Mhoofl

On May 15, 2017 6:32 PM, "Neal Humphrey" <notifications@github.com> wrote:

[2017-05-25 23:42] ajhalani commented on #249
Mhoofl

On May 15, 2017 6:32 PM, "Neal Humphrey" <notifications@github.com> wrote:

Hey @ohaaga <https://github.com/ohaaga> and @jasonrhaas
<https://github.com/jasonrhaas> just wanted to check in on the status of
work on this. Jason mentioned you guys talked last week. What are you
thinking re: approach? What do you think about a target of next week for
having a structure in place for the refactor

[2017-05-26 00:51] NealHumphrey commented on #249
@jasonrhaas Awesome! Glad to hear it.

Here's a few additional things to consider based on our latest developments:
1) All the endpoints needed for V1 are in the current draft except for one. That's the filter data (see below). But, we definitely want any improved API structure completed for the June 13 launch because for V2 we will be adding additional endpoints for the building view (all our fro

[2017-05-26 01:35] NealHumphrey commented on #289
Thanks @thischrisoliver! I updated your description above to use checkboxes and checked off the charts drawer, plus added two additional bullet points we discussed Tuesday.

@ostermanj @ptgott @MaryColley @wassona @Nunie123  for some additional context, on Tuesday the Filter team discussed the mockup linked above compared to our current view. We decided a few key things, most of which are reflecte

[2017-05-26 01:51] NealHumphrey commented on #252
Note, this is the current action items on this issue: https://github.com/codefordc/housing-insights/issues/289

[2017-05-26 02:22] NealHumphrey commented on #268
Bump. I've checked off the components that are currently completed in `/docs/tool/js/util/filter.js`.

While the filter code had been set up by @wassona , unfortunately it will need a rewrite to make it ready for later use. In `filter-view.js`, we place each filter ui component (slider, datepicker, etc.) on the page using some meta data (which eventually will be provided by the api). This means th

[2017-05-26 02:31] NealHumphrey commented on #267
Current status:
- filter-view.js has functionality to dynamically build components
- The multi-select is working in a sandbox (filter-sandbox in the current code), but needs to be integrated into the current code. It should go into the appropriate section of /views/filter-view.js.
- date picker I don't think has anything usable on it? (@MaryColley did some exploration but not sure if it resulted i

[2017-05-26 02:35] jgordo04 opened #294 "get_api_data.py sporatically timing out on opendata class"
The opendata class is timing out in get_api_data.py SOMETIMES. It is timing out on the get statement (I think):
`result = self.get(self._urls[u], params=None)`

The following error is what it spits out:
[code]

If you encounter this same issue, please post so we can try to get to the bottom of it.

[2017-05-26 03:11] NealHumphrey commented on #292
@jkwening Interesting. @dogtoothdigital does John's suggested change match with what you were intending for that updated code? As john alludes to, we do want the ability for users to load data that is only stored locally and is not yet uploaded to S3.

@jkwening I can test this myself later and look at the actual code to provide a better insight, can't do it tonight

[2017-05-26 12:40] jkwening commented on #294
@jgordo04 what are the arguments you passed in `get_multiple_api_sources(unique_data_ids,sample,output_type,db,debug, module_list)` that triggered this? I'll see if I can replicate and help try and debug the issue tonight or over the weekend.

[2017-05-26 16:31] ostermanj commented on #248
I can work on getting the left and right sidebars to slide in and out.

[2017-05-26 17:12] thischrisoliver commented on #289
"Contextual" could be replaced with "neighborhood", "area", "region", or "zone". "Boundaries" could be replaced with "neighborhood/area/region/zone type".

[2017-05-26 22:20] jgordo04 commented on #294
@jkwening . The module arguments were  ["opendata","DCHousing"] . And it was timing out/failing on opendata. Thanks for taking a look!

[2017-05-27 17:47] terrysky18 commented on #53
The meta.json file contains 'zillow_zrisqft_neighbor'.  The Zillow rent index per square feet for all home file contains the most neighbourhoods in DC; other files only provide either a few neighbourhoods or none for Washington.

The Neighborhood_MedianRentalPrice_1Bedroom.csv file contains data for 10 DC neighbourhoods:  Columbia Heights, Capitol Hill, Adams Morgan, Logan Circle, Dupont Circle, F

[2017-05-28 13:31] ptgott commented on #212
@ostermanj @NealHumphrey
I've merged #291. Today I'm going to work on integrating the building view into the refactor.

[2017-05-29 03:57] ajhalani commented on #274
Think we can close this story!

[2017-05-29 03:57] #274 closed

[2017-05-29 03:58] ajhalani commented on #187
Work completed in PR - https://github.com/codefordc/housing-insights/pull/297 to ingest csv that are dumped by OpendataApiConn classes.

[2017-05-29 21:28] ptgott commented on #212
I've started moving Building Page stuff into the refactor in PR #298. While everything is mostly in the right place, I haven't even run the code yet. The plan is to debug it tomorrow. I also have to make sure that the JS for the Building Page is called in the right places/times.

**One thing to consider for later:** I've hardcoded the requests for default datasets in the Building View. This isn't

[2017-05-30 16:40] NealHumphrey commented on #212
@ptgott Sounds good! Note that I merged in @ostermanj 's fly-in sidebar code so you'll want to update your branch with the latest dev.

On your comment on the Building View datasets - I think we don't want to use meta.json to provide the datasets, because we're doing more custom displays as you've noted. Unlike our main browse/filter page, we're deliberately choosing what things to put on the page

[2017-05-30 20:55] NealHumphrey commented on #248
The api endpoint for the filterable data is up: http://hiapidemo.us-east-1.elasticbeanstalk.com/api/filter/

[2017-05-30 20:56] NealHumphrey commented on #268
We should now use this endpoint to get the data to filter from (subsidy + project table joined): http://hiapidemo.us-east-1.elasticbeanstalk.com/api/filter/

[2017-05-30 22:20] #238 closed

[2017-05-30 23:13] terrysky18 commented on #53
Other files that may be useful are _**Neighborhood_Zri_AllHomes.csv**_ and **_Zip_Zri_AllHomes.csv_**.

_**Neighborhood_Zri_AllHomes.csv**_ contains the same number of neighbourhoods as in zri-sqft, which is 92.  It gives a monthly rent price for the whole neighbourhood.

**_Zip_Zri_AllHomes.csv_** gives the monthly rent price by postcode.  However, the zri by postcode only contains 21 entries for

[2017-05-30 23:24] domaley commented on #53
Ideally we would like to be able to map the Zillow data onto the geographic
units that are used by DC area policymakers - DC Wards and DC Neighborhood
Clusters. This DC gov website has the info for the boundaries of DC wards
and DC neighborhood clusters. (
https://www.neighborhoodinfodc.org/nclusters/nclusters.html). If there is a
way to match up the data, that'd be great.

On Tue, May 30, 2017 at

[2017-05-30 23:30] dogtoothdigital commented on #292
Yes, @jkwening, this makes sense.  It was not my intention for the error-checking in DataReader to create a nuisance; my apologies. Also, sorry for the delay in getting back to you.

cheers,
-meg

[2017-05-30 23:36] emkap01 commented on #188
I updated the dash per @xee5ch's suggestion.

[2017-05-31 00:24] ajhalani commented on #187
The crime data can now be downloaded and ingested. @NealHumphrey  okay to close this story?

[2017-05-31 01:20] ptgott commented on #212
@NealHumphrey @ostermanj
I've done a bit more work in PR #298, which has been messier than expected. I've zapped some runtime errors, mostly related to matching up references to data with the data objects themselves. The subsidy timeline chart is beginning to emerge, though it's now hilariously off-kilter. I think a big part of this might be SubsidyTimelineChart.prototype.timeParser not matching u

[2017-05-31 15:05] NealHumphrey commented on #53
@domaley That is something I've looked into some. This is the ticket related to calculating this, which is on hold: https://github.com/codefordc/housing-insights/issues/148

We have the boundaries of the Zillow neighborhoods, which are different from any other boundaries we have. To roll them up we need some way of splitting a zillow neighborhood between two different neighborhood clusters, for ex

[2017-05-31 15:07] NealHumphrey commented on #187
Yep! Thanks @ajhalani, closing issue

[2017-05-31 15:07] NealHumphrey commented on #187
@emkap01 heads up that crime data is now working

[2017-05-31 15:07] #187 closed

[2017-06-02 04:42] ajhalani commented on #152
First PR for code to output files - https://github.com/codefordc/housing-insights/pull/306 for the data output code.
I used list of fields from existing code @citizenrich wrote (Thank you!). If you could comment on the fields, there is no combined census_tract field I can find from census.

Still pending - meta.json/manifest.csv and any code changes needed for loading the files.

[2017-06-05 03:59] ajhalani commented on #152
Second PR for code to ingest the new files - https://github.com/codefordc/housing-insights/pull/308

Please review both PRs

[2017-06-05 15:42] NealHumphrey opened #309 "census.py enhancements"
@ajhalani As noted in the pull request review, whenver it's convenient:

- Make ` self._fields` simpler by not needing to copy-paste the list of fields every time.
- hoist the api_keys method into base.py  so that keys are available to all objects. Remove from census and wmata `__init__` code and make sure that the call to `super()` provides what is needed.

[2017-06-05 16:20] ajhalani commented on #309
From https://github.com/codefordc/housing-insights/pull/308 - add year as additional column to table.

[2017-06-05 16:23] NealHumphrey commented on #152
Done! Thanks @ajhalani

[2017-06-05 16:23] #152 closed

[2017-06-05 19:38] ostermanj opened #311 "filter.js filters out non-matching null values. should it ignore instead?"
Applying the filters in the left sidebar filters out projects/buildings with null values in the properties being filtered. Nulls should perhaps be ignored instead (?)

For example, 34 of the 360 projects have `null` project unit counts. Activating *any* of the filters will filter those projects out. From there, there's no way to get back to having all 360 show.

Making separate issue so it's not l

[2017-06-05 20:20] txomashernandez commented on #251
Testing Script: https://docs.google.com/document/d/18Iv6NWktWU-DNj8pYjcbKGoTQbLoTlmpn2YHla9926E/edit?usp=sharing

[2017-06-05 21:16] NealHumphrey commented on #311
So a quick summary of why this behaves as it does:

- The filtering code uses a for loop to go through all of the `filterValues.whatever` elements of the State module. If no filters have been selected yet, there are none to iterate over and no filtering is applied.
- When the user drags a slider, the selected min and max (based on the slider min/max) are added to the State module.
- If the user th

[2017-06-05 23:41] txomashernandez commented on #251
@NealHumphrey - Getting close to the testing session, very excited! A few quick questions for your before tomorrow's planning session:
*1. Location:* Do you have any thoughts on the location? If not the usual spot or somewhere you've got in mind, we could use my office. It's actually right across the street from the weekly session meeting building.
*2. Participants:* I think you have a list of peo

[2017-06-06 00:56] NealHumphrey commented on #104
Here is the Census webpage that has all of the field names and codes:
http://api.census.gov/data/2015/acs5/variables.html

[2017-06-06 16:20] NealHumphrey commented on #285
I have yet to re-encounter this error.

One potential solution - instead of polling the server for the completion of the original request, if a 202 status is returned, just dump the old request and try again with a fresh request and hope it goes through immediately. Seems like nearly all the time it is going through. We will of course not want to risk an infinite loop so define a limited number of

[2017-06-06 17:11] NealHumphrey opened #312 "Add crow distance to wmata_dist table"
To speed up processing of rail distances, I pulled in the haversine calculation of crow distances based on lat/lon pairs. Since we have this calculation available, we might as well add it to the database.

Currently the calculation is only in the _find_rail_stations method.
- Add calculation to the _find_bus_stations method
- Add it to the distOutput as a new key value pair ('crow_dist': 0.5)
- Ad

[2017-06-06 17:23] NealHumphrey opened #313 "Cache walking distance calculations"
The walking distance calculation is very time consuming (4+ hours) due to the rate limit imposed by Mapbox. In reality we only need to run this once per pair of locations (building+station). Stations and buildings rarely move (mostly in cases of data errors not actually due to moving). However, if the lat/lon of a building or station changes (though the ID of that station did not change) we do wan

[2017-06-06 17:24] NealHumphrey commented on #313
@jgordo04 If you're not too sick of working on distance calculations - this and #312 are two enhancements so that our server won't have to run the wmata_dist code for 5 hours every week!

[2017-06-06 18:10] NealHumphrey commented on #251
Hey @txomashernandez . Here's my thoughts:

1. We can use our regular classroom if we schedule any of them during the Tuesday work session. I think it would be nice to aim for holding 2 user tests on June 20th and set it up with two class rooms so that people can observe and then discuss results afterwards, but we probably only have time for 2 there. I'd say if you and any other testers can schedu

[2017-06-06 18:23] NealHumphrey opened #314 "Geocode newly added dchousing buildings"
the DCHousing data set (pulled from opendata.dc.gov) is being merged into the projects table; any time a filed is missing, it is given a Null value.

For our geographic zones, we want to encode this data instead of using nulls, so that filtering can work properly for these new buildings. We are already connecting to the MAR to get the mar address ID; the MAR has this information. We just need the

[2017-06-06 18:28] NealHumphrey opened #315 "Enforce consistent data fields for current database"
We want all data fields in our current database to have consistent names and data values if they represent the same thing in different tables. This especially applies to our zones (ward, zip, etc.) but any other field that means the same thing should behave the same across all tables.

Check all tables of the current database, and edit the sql_name in meta.json and the relevant Cleaner in /ingesti

[2017-06-06 18:30] NealHumphrey commented on #315
@ilissablechwapo we talked about you taking this on last night and got you set up with rebuilding the database (!) . But we should also coordinate with @emkap01 because I know he was looking into this a little at the hackathon - but I think we do still have outstanding issues. #314 is one for example - some values are missing (and need to be added) while Ward values are different between the two (

[2017-06-06 19:59] txomashernandez commented on #251
Neal,
1. That plan sounds great. We can plan for 2 on the 20th, and the other 3 when it makes sense for the other participants. My office at 1152 15th Street (Across for the Code Academy) should work.
2. Sounds great, will discuss how we want to schedule those this evening.
3. Excellent, we'll plan on recording all sessions.
4. Yes that sounds great, we can lead with that and then go into a few sp

[2017-06-06 21:58] NealHumphrey opened #316 "Home Stretch - Final Items for June 13"
For discussion and editing in our session tonight - my first pass at what I see remaining. TBD how many of these we can complete.

Data ingestion:
- [x] @jkwening Add meta.json back into the API
- [x] @jkwening Automatic update of the manifest.csv when the get_api_data is run
- [x] @louvis (and/or @HLKwon @ncclementi) Ensure consistent column name and data structures for all current tables
-  [x]

[2017-06-06 22:26] jgordo04 commented on #313
No prob. Happy to!

[2017-06-06 22:50] txomashernandez commented on #251
@NealHumphrey here's a doodle with my availability for the week of the 20th: https://doodle.com/poll/3gxrfzfgy9m3zmkh. Feel free to use in the intro email to potential participants.

[2017-06-07 01:06] emkap01 commented on #316
Data documentation for all raw datasets used in the production db is being worked on, the status of each one is being tracked via [this sheet](https://docs.google.com/spreadsheets/d/1EcjViJq2SuiHEEiRu9TemVJ29oNrNV7ibC6NofJiXzA/edit?usp=sharing).

[2017-06-07 13:19] ptgott opened #317 "Front-end home-stretch items for June 13"
Based on a conversation at yesterday's meeting, here is a condensed version of the to-do list in Issue #316. The list reflects the number of front-enders who'll likely have time to work on this stuff through the next week.

(EDIT by Neal: I got a lot done so I pulled over the whole list and updated with status as of 6/8. Ones marked 'John' are ones he put his initials on in #316, but he's out of t

[2017-06-07 14:08] NealHumphrey commented on #180
@ajhalani I don't know why the data dissappeared from that folder (or maybe I wrote the ticket planning to sync it there but didn't...). In any case, I've re-uploaded the weighting files to S3.

If you have the CLI tool set up, you can navigate to the /housing-insights/data folder and use this command: `aws s3 sync raw/geographic_data s3://housinginsights/raw/geographic_data --profile housinginsig

[2017-06-07 15:20] NealHumphrey commented on #273
@ostermanj Here is the summary of the behavior desired for persisting the zone selection state when switching data.

[2017-06-07 17:54] MikeS-nth commented on #104
@NealHumphrey:  I've made some progress on this and wanted to give you a quick update on where things stand:

I've learned a couple relevant things about the variables in the Harvard study:
- It seems the values are not pulled directly from the census; rather, they are metrics/measures that are derived using the census as source data.  For example, Racial Segregation takes several census values an

[2017-06-07 18:49] NealHumphrey commented on #104
@MikeS-nth sounds like great progress - thanks for the update!

We can also pull data from the Dicennial Census in addition to the American Community Survey - we started with ACS because it seemed to have more of the stuff we were interested in. We'll want to pull ours from the 2010 census, though, as it's the most recent. Here's documentation on the [Dicennial Census API](https://www.census.gov/d

[2017-06-08 12:29] ajhalani commented on #180
Thanks @NealHumphrey. I will be able to work on this during the weekend, can't spare time during the week. If that blocks someone else's development, maybe it would be better if someone else can help with this. If it can wait, will try to knock out this weekend.

[2017-06-09 19:49] NealHumphrey commented on #272
This is no longer an issue as we are not using the Ward dropdown anymore.

[2017-06-09 19:49] #272 closed

[2017-06-11 13:46] emkap01 commented on #315
Here's a link to the Slack thread about the spreadsheet that explains what cleaner functions each dataset will need, and how to map the fields from each “raw” dataset to the corresponding fields in the ‘project’ table: https://codefordc.slack.com/archives/C5D0LRMFX/p1496794136294546.

[2017-06-11 16:40] ajhalani commented on #180
For later reference - Good description of neighbourhood cluster and wards -

**Neighborhood Clusters**
- Description - https://www.neighborhoodinfodc.org/nclusters/nclusters.html
- Visual mapping - http://neighborhoodinfodc.org/pdfs/Cluster_Tract.pdf
----------------------------
**2012 Council Wards**
- Description - https://www.neighborhoodinfodc.org/wards/wards.html
- Visual mapping - http://nei

[2017-06-11 19:31] MikeS-nth commented on #104
Hi @NealHumphrey:

Sorry for the lag on this.  Picking a handful of easy-to-calculate fields for this rev makes total sense.  I've added a new tab to the google sheet with 6 that I think are viable candidates.  In the "Pseudocode" column, I've included the ACS API fields and the calculation logic (they are all simple ratios).

Please let me know if you think this will work.  Anything I can do to h

[2017-06-11 19:36] ajhalani commented on #180
@NealHumphrey - can you help clarify -

Do you mean just loading these tables? Any preferences on the name of table/column?

@application.route('/api/census/<sql_column_name>/<grouping>', methods=['GET'])

I am not sure what this entails, is their any sample code which does this already so I can review to understand?

[2017-06-11 21:06] NealHumphrey commented on #180
@ajhalani
1) Yep, that's it. No particular preference on table/column names. But, do make sure that column names are universally unique to the database, i.e. the same column name doesn't exist in another table. While not required by SQL, this helps us w/ front end coding. It will probably happen naturally anyways.

2) There are some similar endpoints in the `/python/api/application.py` file. Curre

[2017-06-11 21:51] NealHumphrey commented on #104
@MikeS-nth not a problem - thanks for the update!

I think those 6 look like a great starting point. If you want to help with implementation that would be great.

To implement, 1) we need to add the column names to our api download, which is pretty easy. In `/python/housinginsights/sources/census.py`, add the appropriate column names to the list of fields we want to get from the census API in the

[2017-06-11 22:57] MikeS-nth commented on #104
@NealHumphrey sounds good; I'll get cracking on #1 right now.  I'll also start in on #2 once #1 is done.

[2017-06-11 23:29] ajhalani commented on #180
@NealHumphrey  created PR for part 1, please review.

Will start work on part 2 and provide update by EOD today.

[2017-06-12 03:18] ajhalani commented on #180
@NealHumphrey I have made some progress in the api code, but it's not close to being completed. I will need few days to understand how to implement the maths behind weighting correctly for ward/clusters. Apologies!

[2017-06-12 12:48] ptatian commented on #104
@NealHumphrey @MikeS-nth Hi guys, just to give some context, there's probably limited value in the decennial census data at this point, since it's 7 years out of date. The most useful thing about the decennial data are that they are based on a **full count** of the population, so small area (tract) pop counts are reliable. In other words, if I wanted to know **how many more people** there are in a

[2017-06-12 14:28] NealHumphrey opened #333 "'clear all filters' triggering multiple state changes"
The "Clear All Filters" button introduced in #324 has some performance issues where it is triggering multiple state change events, causing the page to perform the filtering calculation multiple times.

When the 'clear filters' button is pressed, there is a state change of filterValues.data_id for:
1) 2X for every slider filter (presumably once for min and once for max?)
2) for every categorical fi

[2017-06-12 17:18] ptgott commented on #333
This all sounds reasonable! We could add an 'is_touched' method to each filterControl that detects non-default values. This way we would cycle through only those filterControls that have been 'touched' when calling clearAllFilters.

It'd be great to decouple the setState(filterValues, state) from the user's adjustments of the filterControls, so that changing the filter control doesn't automaticall

[2017-06-12 17:38] NealHumphrey opened #334 "Improvements to chloropleth legend"
Just a few tweaks to enhance the usability and performance of the chloropleth legends:

- [x] When toggling the data sets, the legend is added after the semantic UI accordion triggers, which leads to a jumpy 'pop' into place. It'd be good to make it smoother. Easiest technique is probably to add a fixed-height div just under the `id=overlay-about-DATANAME` div and append the chloropleth legend to

[2017-06-12 18:09] NealHumphrey opened #335 "Documentation updates to census.md"
See my inline comments on this pull request @MikeS-nth
https://github.com/codefordc/housing-insights/pull/331

[2017-06-12 22:59] NealHumphrey opened #336 "Refactor cama.py to work with load_data.py"
Key things that need changing:

- rename the `get_csv` method to be the `get_data` method (rename `get_data` to something else like `_get_raw_data` or `_pull_from_apis`. `_` at the beginning of the name indicates it shouldn't be called by the end user, they should use get_data instead).
- get_data should take the following arguments: `def get_data(self, unique_data_ids=None, sample=False, output_t

[2017-06-12 23:00] NealHumphrey commented on #336
@HLKwon and @ncclementi and @ilissablechwapo Made this to keep track of the fact that we'll need to refactor this a little for V2, as discussed in the PR #320.

[2017-06-13 14:23] #335 closed

[2017-06-13 20:08] #132 closed

[2017-06-14 15:39] NealHumphrey opened #342 "Streamlining the data download/ingestion process"
For discussion, things to consider adding to our data download/ingestion process in V2 as we prepare to launch this onto a server as a regular cron job.

1) `Manifest.update_manifest` only updates the manifest when it finds an exactly matching unique_data_id already in the manifest. Should we alert the user if it finds extra files that aren't already in the manifest? For example if a user misspell

[2017-06-14 15:51] NealHumphrey commented on #342
@jkwening You'll probably do this anyways, but obviously your thoughts/input on this list would be very useful.

[2017-06-14 21:41] NealHumphrey opened #344 "Quick fixes this week for V1"
Pulling the top priority items out of [this google doc](https://docs.google.com/document/d/1R5nEh86T5yj1W4N3eqgiHHzZx9-QgTG4UxL8c76s2-k/edit)

- [x] Shrink circle size at moderate zoom level to avoid overlap
- [x] Add pillboxes for each filter that's selected along the top of map, as in mockup (this method provides better feedback as to what is currently filtered when you switch over to the layer

[2017-06-15 13:56] NealHumphrey opened #345 "Conversion of Census API Format"
I got this email from census.gov. Need to investigate the nature of the change and how it will impact our ingestion process.

The U.S. Census Bureau is currently transforming how we disseminate data to allow for a more seamless and customized user experience through Census.gov.  The foundation of this transformation is the centralization of all data into the Census API in a uniform and consistent

[2017-06-15 22:06] NealHumphrey opened #347 "Rename the 'count' variable in front end and API"
Early V2 update:
When we first made the building_permits and crime API endpoints, we used the word 'count' in the json response, as in this endpoint: http://hiapidemo.us-east-1.elasticbeanstalk.com/api/crime/all/ward

However, we've expanded our 'layers' data to include more than just counts - fractions, averages, etc. It will help with developer clarity to rename this to something more universal,

[2017-06-16 02:32] NealHumphrey commented on #344
I've got most of the pillboxes (item 2) working - got them showing up / disappearing, just need to style slightly and add the callback function

[2017-06-16 03:56] #257 closed

[2017-06-16 23:20] NealHumphrey opened #350 "Only animate entering/exiting buildings"
For consideration in the map view - not 100% certain this is worth the added overhead, but would help especially with the exiting dots that right now just disappear.

I looked into doing this as part of #344 but decided it wouldn't be a quick fix. @ostermanj can advise on best approach, but here's my best guess as to how to implement it by adapting the current approach:

- in `mapView.placeProject

[2017-06-16 23:24] NealHumphrey opened #353 "dchousing buildings not filtering properly due to missing attributes"
Need to geocode the dchousing buildings with the relevant fields - convert ward to not be all upper case (use "Ward 1" instead of WARD 1), and add in data for census_tract, anc, zip, neighborhood_cluster, neighborhood_cluster_desc, etc.

Currently some buildings that show up as being in a given ward are dissappearing from the view when a ward filter is selected. @txomashernandez heads up in case a

[2017-06-16 23:33] NealHumphrey opened #354 "Remove census tract 11001006202?? (Downtown DC)"
Should we remove results for census tract 11001006202? This is located in downtown DC and mostly covers the Mall, Hanes Point, etc. It has a very low population since it is mostly government buildings and so is distorting data like the crime rate, which is divided by the number of residents which is not a fair representation for this non-residential area.

![image](https://user-images.githubuserco

[2017-06-17 04:27] jkwening commented on #353
@NealHumphrey yeah I noticed this yesterday as I was adding cleaner code to fix the geocode issue from ticket #314. I plan on fixing this along with that ticket, hence why I haven't submitted PR yet.

[2017-06-17 11:38] NealHumphrey commented on #353
Oh! Sorry about that, these are essentially the same issue, I forgot I
created that other one.

On Jun 17, 2017 1:54 AM, "John Kwening" <notifications@github.com> wrote:

@NealHumphrey <https://github.com/nealhumphrey> yeah I noticed this
yesterday as I was adding cleaner code to fix the geocode issue from ticket
#314 <https://github.com/codefordc/housing-insights/issues/314>. I plan on
fixing thi

[2017-06-17 18:18] ptgott commented on #344
@NealHumphrey I've updated the line item related to acs_rent_median. This seems to be a back-end issue, as all of the values received from the filterData endpoint are 'null'.

[2017-06-17 18:35] ptgott commented on #344
@NealHumphrey I'll be working on some of the quick fixes in #355.

So far, I've just commented out the acs_median_rent filter, making a note that I've done so because of the issue with all the values being 'null'.

[2017-06-17 20:49] NealHumphrey commented on #344
Another thing I noticed in playing with the site - with the new added layer
data sources, the zone selection are no longer obvious, especially on small
screens. Maybe we should make these sticky to the bottom of that side panel
and only have the scrolling for the data sources section

On Jun 17, 2017 12:35 PM, "Paul Gottschling" <notifications@github.com>
wrote:

@NealHumphrey <https://github.com/

[2017-06-18 12:20] emkap01 commented on #344
FYI I noticed that "ANC" is missing from the filter shelf.  I couldn't find anything in the Issues to indicate whether that was something we specifically opted to hold back for a future version, or whether it's just an oversight.

[2017-06-19 20:15] ostermanj commented on #350
I may be able to jump on this before the June 20 meeting. It may be hard to target specific circles within a single mapBox layer; if so the the *staying*, *entering*, and *exiting* categories may need to be separate layers. Will see . . .

[2017-06-20 16:10] NealHumphrey commented on #350
@ostermanj  I agree that it doesn't look easy/possible to target specific circles in a mapbox layer, at least with how the animations are currently configured. I was envisioning those being 3 separate layers, managed in a way that all buildings exist in all layers but are turned on or off so that they are only shown in 1 (or none) of the layers.

[2017-06-20 16:14] ostermanj commented on #350
Yeah, I'm working on it now. mapBox native transitions and data-driven-styling looked promising but the two don't really work with each other. Transitions seem to only work when the value is changed from one number (as type) to another number. So I'm going the multiple layer route. Should work . . .

[2017-06-20 16:33] NealHumphrey commented on #344
@emkap01 - 'ANC' is currently listed in the filter shelf. Not sure if it was missing at some point, but there now. Note, it's not available as a layers option though.

[2017-06-20 16:35] NealHumphrey opened #359 "Zone buttons always visible"
With more layer data sources now available, making the list of data sources longer, the zone selection buttons are no longer obvious, especially on small screens.

Suggest making these sticky to the bottom of the left hand 'layers' side panel and only have the scrolling for the data sources section above it.

[2017-06-20 16:36] NealHumphrey commented on #359
@ostermanj If you have a few minutes to give this a shot, it should be a relatively simple CSS fix and I anticipate there will be some usability confusion for folks on this.

[2017-06-20 16:42] NealHumphrey opened #360 "Add links to data documentation in each 'filter' or 'layer' selection section"
Add a 'more info' link to each data explanation linking to the appropriate table in our docs

In both 'map-view.js' and 'filter-view.js' there is some hard-coded meta data that includes a "display_text", which is how we populate the descriptions that are shown when each accordion for a different data source is toggled open.

To add the more info link, we should
- Add an additional configuration ke

[2017-06-20 16:43] NealHumphrey commented on #344
Closing this issue - opened two separate issues for the last remaining components, everything else is done!

[2017-06-20 16:43] #344 closed

[2017-06-20 20:19] ostermanj commented on #359
All set in PR #362

[2017-06-20 22:26] NealHumphrey opened #364 "Show/hide bottom legend"
Ward 8 is always hidden by the building legend when on a laptop sized screen. In desktop it collapses down to one level.

Add a show/hide button to transform from a minimized state to a full state. Minimized version should look like this mockup, but with only the 'building layer' bar since we already put the "Contextual layer" into the sidebar itself.
https://app.moqups.com/neal@nhumphrey.com/dDYb

[2017-06-20 23:37] ostermanj commented on #359
Closing issue. Resolved.

[2017-06-20 23:37] #359 closed

[2017-06-20 23:46] ostermanj commented on #350
There may be some timing issues cross-browser about when to fire the animations (in setTimeouts), but by and large this is done. I'll close the issue; if the timings prove difficult we can open a new issue. If so, it may be better to go back to the requestAnimationFrame method.

[2017-06-20 23:46] #350 closed

[2017-06-24 19:35] ptgott commented on #212
@NealHumphrey
Is there anything left of this issue for post-version 1 work, or is it closed?

[2017-06-24 19:42] #271 closed

[2017-06-24 20:17] ptgott commented on #333
I've prepared a quick fix in #367 that adds an 'isTouched' method to the filter controls based on whether their current values match their initial ones, then uses this method to decide which filters to clear in clearAllFilters.

The bulk of the problem is still there, and is down to the callbacks on changing the controls. We'll have to work out how to reset the controls without triggering the call

[2017-06-26 15:54] NealHumphrey commented on #212
@ptgott We've done a lit of the big code stuff, but there's a few building-view specific items that are probably worth revisiting based on our single-page app design. I'll look through the code and rewrite this into a clean new ticket and/or discussion points for our planning sessions

[2017-06-27 18:03] ptgott opened #369 "Use d3-format for formatting numbers"
This is something that @NealHumphrey pointed out regarding PR #366: A lot of our custom helpers for formatting numbers do what's basically built-in behavior for the d3-format [library](https://github.com/d3/d3-format). Examples are roundTo in housing-insights.js, the code for adding thousands separators for numbers in chloropleth-legend.js, and rounding for specific number types in map-view.js.

[2017-06-28 15:47] NealHumphrey opened #372 "Drop table during update action if no data remains"
When we are actively developing the database, we sometimes change the table structure of a table - renaming columns, adding columns or removing columns. When this occurs, the '--update-only' param of load_data.py is not sufficient, because it only drops rows - the old table format will clash with the updated data. This means that the only option is to rebuild the whole database. It would be useful

[2017-06-28 15:52] NealHumphrey opened #373 "Street view and image url for non-PresCat projects"
PR #371 adds the ability to get properly geocoded fields from the MAR for projects that are missing them. We should also add the ability to get street view and proj_image_url from the MAR, plus any other fields that are available in the mar and null in our existing data.

See this example URL to cross reference what is available from the MAR with the nulls we have in the current project table: htt

[2017-06-28 16:57] jkwening commented on #353
Closing - resolved with PR #371

[2017-06-28 16:57] #353 closed

[2017-06-28 17:08] jkwening commented on #373
@NealHumphrey Thanks for the info. I was unsure whether to populate nulls for this field or not but it seems for completeness I should see if I can encode all data fields for PresCat project table if possible and readily available. I'll work through all fields again and see what else can be cleaned up.

[2017-06-28 17:12] jkwening commented on #314
per additional notes in PR #371 will attempt to encode an additional field that has nulls based on available data resources and information I can gather.

[2017-06-28 17:15] jkwening commented on #313
Cleaning up related data ingestion issues - closing because it looks like this has been completed.

[2017-06-28 17:15] #313 closed

[2017-06-28 17:15] jkwening commented on #312
Cleaning up related data ingestion issues - closing because it looks like this has been completed.

[2017-06-28 17:15] #312 closed

[2017-06-28 17:16] jkwening commented on #294
closing - I wasn't able to replicate the error and haven't heard any new reports.

[2017-06-28 17:16] #294 closed

[2017-06-28 17:16] jkwening commented on #292
Cleaning up related data ingestion issues - closing because it looks like this has been completed.

[2017-06-28 17:16] #292 closed

[2017-06-28 17:17] jkwening commented on #309
Cleaning up related data ingestion issues - closing because it looks like this has been completed.

[2017-06-28 17:21] jkwening commented on #194
Cleaning up related data ingestion issues - closing because it looks like this has been completed. Note - there are some outstanding issues related to cleaning up encoded data for the project table fields ( #373)

[2017-06-28 17:21] #194 closed

[2017-06-28 18:04] NealHumphrey commented on #309
This one hasn't actually been done yet, reopening

[2017-06-28 18:06] NealHumphrey opened #374 "Switch dchousing to pull csv directly"
From #194:
Flagging a future issue we'll run into using the endpoint you set up for dchousing. ESRI by default limits the API calls to 1,000 records, as we found in #198 . Using the geojson endpoint but swapping .geojson for .csv will return the full api data already formatted as .csv.

Change the data download method for the DCHousing.py - instead of using geojson and converting, download as a CS

[2017-06-28 18:07] NealHumphrey commented on #194
Note, I moved the flagged issue in my May 12 comment into its own issue #374

[2017-06-28 18:08] NealHumphrey commented on #374
Note, this will only be an issue if the dchousing data set reaches greater than 1,000 records; the current code works as-is. This will help us future-proof the data collection process.

[2017-06-29 15:25] ostermanj commented on #364
May be unnecessary if we merge in changes from #376

[2017-07-01 15:00] emkap01 commented on #315
I think an automated way to help us enforce consistent fields for the production db is probably long overdue.  I lack the Python chops to pull it off myself in a timely fashion, but I took a shot at [mapping out the underlying logic we would want to implement](https://docs.google.com/document/d/1tSz9YUL1AmCYUfv_eRT5sxycpv9cW9_2uzZQgNzy_kE/edit?usp=sharing), along with an [example of what the outpu

[2017-07-01 22:16] NealHumphrey opened #379 "Lat/Lon incorrect from MAR, and Street view not correctly calculated"
In the 'add_mar_id' method of the cleaner for projects, we manually create a google street view if it is not available in the MAR. However, this is not done completely accurately. There are two issues:
- We use the project's lat/lon instead of the street view car lat/lon. Google moves this to the closest street view available, which might be on an adjacent street
- The heading is set to default to

[2017-07-01 22:16] NealHumphrey commented on #379
Notes on the angle between street view car and the building:
I researched a little bit and couldn't find the right solution quickly, but I did find this SO question that shows how to point the POV from truck to building using the computeHeading() method of the maps/streetview API, if you're using their javascript library instead of python: https://stackoverflow.com/questions/3198415/using-google-s

[2017-07-02 20:58] ptgott opened #380 "End-to-end testing to anticipate the shift to V2"
As we plan new features for V2 and think about overhauling the existing interface based on the user tests, I thought it would be good to include some end-to-end testing. I had originally looked into doing JavaScript unit tests with Jasmine, but ultimately sided with end-to-end testing because it seems like a nice way to specify a set of requirements for the tool while also (even if crudely) indica

[2017-07-03 14:38] jkwening commented on #379
@NealHumphrey I did some further playing around and it looks like the reason why mar api calls is returning no street view url is because one actually doesn't exist. I need to verify some additional examples to confirm but that is definitely the case for 1710 7th ST NW. The address points you to the street view for 1712 7th ST NW instead. In playing with street view, moving along the street goes f

[2017-07-06 22:28] jasonrhaas opened #384 "Onboarding instructions are out of date"
The commands to load data in the database have changed slightly.  Need to update the onboarding instructions to reflect this.

http://localhost:4000/resources/onboarding/docker.html

instead of `python load_data.py docker rebuild`,

its now `python load_data.py docker` or `python load_data.py docker -s`

[2017-07-07 22:53] jasonrhaas commented on #249
Trying to use SQLAlchemy's [automap](http://docs.sqlalchemy.org/en/latest/orm/extensions/automap.html) feature to get this thing jump started.  Once the declarations in there, we get a whole bunch of nice built in API features that come with Flask RestLess.  Once that is up and going the next step will be to translate the endpoints on the existing API to the new format.  Hopefully this can be done

[2017-07-09 14:01] emkap01 commented on #315
@NealHumphrey and @jkwening - I updated the [Data Pipeline](https://docs.google.com/spreadsheets/d/1EcjViJq2SuiHEEiRu9TemVJ29oNrNV7ibC6NofJiXzA/edit?usp=sharing) spreadsheet in order to determine which datasets might still need a little cleanup/work.

You guys may already be aware of this, but FWIW I noticed that records in both the project and subsidy tables that are derived from the `dchousing`

[2017-07-09 14:11] emkap01 commented on #237
Per the "Data Sources" section in this Issue, I updated the [Data Pipeline dashboard](https://public.tableau.com/views/DataPIpelineTracker-Updated/DataPipelineTrackerDash?:embed=y&:display_count=yes&publish=yes) to indicate which data sources have been fully processed and which ones still need some work as of today.

Almost all of the datasets listed above have been fully processed, although a cou

[2017-07-10 01:06] jkwening commented on #374
Completed and merged in PR #378 - closing ticket

[2017-07-10 01:06] #374 closed

[2017-07-10 19:13] #236 closed

[2017-07-10 19:15] #198 closed

[2017-07-10 19:16] #140 closed

[2017-07-10 19:18] #148 closed

[2017-07-10 19:24] NealHumphrey commented on #315
@emkap01 how does that spreadsheet overlap with the [dashboard](https://public.tableau.com/profile/eric.k3077#!/vizhome/DataPIpelineTracker-Updated/DataPipelineTrackerDash)? Are those need_to_add_from_MAR etc. fields also available in the MAR?

On the NLIHC_ID fields - that's intentional. NLIHC_ID is created by urban institute for the project table, so we don't have control over the sequential num

[2017-07-10 19:25] #251 closed

[2017-07-10 19:26] #248 closed

[2017-07-10 19:26] #267 closed

[2017-07-10 19:27] #289 closed

[2017-07-10 19:28] #95 closed

[2017-07-10 19:29] #91 closed

[2017-07-10 19:30] #180 closed

[2017-07-10 19:32] #212 closed

[2017-07-10 19:32] #84 closed

[2017-07-10 19:32] #104 closed

[2017-07-10 19:32] #127 closed

[2017-07-10 19:32] #133 closed

[2017-07-10 19:32] #141 closed

[2017-07-10 19:32] #196 closed

[2017-07-10 19:32] #227 closed

[2017-07-10 19:32] #235 closed

[2017-07-10 19:32] #252 closed

[2017-07-10 19:33] #364 closed

[2017-07-10 19:35] #334 closed

[2017-07-10 19:38] #317 closed

[2017-07-10 19:39] #316 closed

[2017-07-10 19:41] NealHumphrey commented on #311
Note: we want to fix this by adding a checkbox for 'include nulls' in the slider filter box. Should re-write up this ticket to describe this functionality.

[2017-07-10 19:42] #273 closed

[2017-07-10 19:44] #268 closed

[2017-07-10 19:44] #254 closed

[2017-07-10 19:45] #250 closed

[2017-07-10 19:47] #237 closed

[2017-07-10 23:12] NealHumphrey opened #387 "URL state encoding"
After selecting several filter parameters, I want to be able to bookmark or share my findings by sending a URL to someone. When changing views in the single page app (such as changing from map view to look at a specific building) I also want my back button to behave as expected. Both of these things necessitate encoding the state of the app in the URL.

Core functionality:
- [ ] Every time the use

[2017-07-11 14:04] NealHumphrey opened #388 "Create ZoneFacts table and endpoints"
Instead of using our API endpoints to recalculate derivative fields adhoc, and instead of performing client-side reconfiguration of data into display fields, we want a master table to do these calculations every time new data is loaded and make it easier to join all these fields to the project table. We've previously referred to this as the 'NeighborhoodFacts' table.

This ticket should a) create

[2017-07-11 14:21] NealHumphrey opened #389 "Download CSV functionality"
Add a download button to the 'matching projects' tab of the map view. This should export a CSV file with the projects that match the current filters (with all the columns associated with them). To start, this will only contain the fields in the project table. After completion of #388, this can also include zone data. In addition, it should export a text file with the list of the currently applied

[2017-07-11 14:41] NealHumphrey opened #390 "Bar Chart improvements"
In the new V2 UI, the "charts" tab has a bar chart that shows the 'percent of (matching) projects in Ward', and a duplicate chart that shows percent of matching units. We want to combine these into one chart (to save real estate) and also have these respond to the zone selection choice made on the left hand side since zone choice is now a universal behavior.

- [ ] Remove bar chart # 2

- [ ] Add

[2017-07-11 15:46] NealHumphrey opened #391 "Project preview mode"
On the 'Projects' sidebar, which currently provides a scrollable list of all matching projects, create a building preview section above the building list

- Project preview should occupy approx 1/3 of the height of the sidebar (~350px??).
- Minimum Contents should be building name, address, ownership type. Add some snapshot charts showing things like unit count, bedroom mix, and reac score. This s

[2017-07-11 16:09] NealHumphrey opened #392 "Finish merged layer/filter"
The demo-v2-options branch has our new map view UI, which includes a merged layer/zone navigation for the data choices UI. The UI of this is mostly working but not all of the data is actually being applied to the filter view.

- [x] Get the new combined 'location' selection to apply appropriate filters to the location
- [x] Changing location type will need to clear any selected 'location' filters

[2017-07-11 16:20] NealHumphrey opened #393 "Make activated filters and filter clearing more usable"
In user testing, all the users got confused about which filters were activated and how to clear existing filters without clicking through each one individually. We need to design a different UI for showing activated filters and clearing all filters.

Ideas for what we could do (some or all of the below):
- [x] Maybe move the filter pillboxes to appear in between the "2) Data Choices" label and the

[2017-07-11 16:26] NealHumphrey opened #394 "Mapbox dot animations"
In the current demo-v2 branch, we have 4 layers of building dots:
- entering (newly matches the filter)
- staying (matches previous filter and this one)
- exiting (matched last filter but not this one)
- excluded (doesn't match current filter or previous one).

The 'entering' buildings are animated when they enter. A similar animation should occur for the 'exiting' buildings.

Related side note: w

[2017-07-11 16:45] NealHumphrey opened #395 "Continuous filter improvements"
Improve the UI and add functionality to the `continuousFilterControl` . This should also be done to the date filter being created in PR #385

- Remove tooltips
- Add text entry boxes below the slider for min and max
- While the user drags the slider ("update" method of slider), continuously update the value that is typed into the relevant entry box. Example (but with only one slider....):
[code]
-

[2017-07-11 16:51] NealHumphrey opened #396 "Categorical filter improvements"
- [x] The "search" functionality of our combo dropdown/search used for categorical filters was only used by one user. Art also did not notice that the list of shown values were scrollable. This can probably be taken care of with some basic style updates. Maybe pre-populate the search bar with a search cursor when the element is selected, plus add a light gray “Search…” helper text in the search fi

[2017-07-11 17:02] NealHumphrey opened #397 "Mapbox zoom when filtering"
Anytime a filter is selected, zoom the map view to the bounding box of any items currently included, zooming in or out as necessary. This will make changes to filters occuring outside of the current zoom more apparent, as well as selections of specific zones more aligned with user behavior (most expected it to zoom them to that area).

To make this work, will likely need to:
- find the bounding bo

[2017-07-11 17:07] NealHumphrey opened #398 "Initial project view improvements"
While we are designing the rest of the improvements that should be made to the project view, some basic changes can be included:

- Embed street view at top of view street view (street view link available via this data request:  `var dataRequest = {name: 'raw_project',url: model.URLS.project}`
- Start view with all accordions expanded
- Add header section with basic information about the project.

[2017-07-11 17:42] NealHumphrey opened #399 "Design project view"
We need lots more information in the project view (formerly called building view) Before implementing this, we need to design what this view will include.

Note, some basic additions are being added in #398

[2017-07-11 17:56] NealHumphrey opened #400 "Refactor API to access housinginsights package"
MVP:
- [x] Move the application.py file up one level (into the python folder)
- [x] write an example function/endpoint in application.py that needs something within the housinginsights package (this could be a simple 'helloworld' function created inside the package).
- [x] Deploy to the server and make sure that it can run.

Continued development:
- [x] @jasonrhaas refactor the declarative app int

[2017-07-11 18:20] NealHumphrey opened #401 "Propose and verify readiness of additional data fields for map view."
The Data Sources team should lead the process of proposing and adding new data fields to our map view. For each new data field, investigate and prep the data field as much as necessary, then write up a Github Issue for the steps needed to add this to the view.

For a new layer/filter to be added to the left hand sidebar, it needs:
- Investigate the data source and clearly define the field that wil

[2017-07-11 18:33] NealHumphrey opened #402 "Scheduled CRON jobs on server for data collection"
We want our data ingestion and processing to occur automatically, on a regular schedule
- Check for new data weekly, or on a data set-specific schedule, or on demand when requested by admin
- Download and ingest all new data (will require refactoring to make it work in server environment)
- Handle all data ingestion problems via logging and skipping (many things currently can crash the code if som

[2017-07-11 18:37] NealHumphrey opened #403 "V2 MASTER ISSUE:"
## Front End

### General
- [x] URL state encoding #387  (status: mostly done, sidebars and testing needed)
- [x] (Jamie) Download CSV functionality #389 (status: open PR for MVP ready)
- [x] Refactor calculated fields to draw from ZoneFacts when it is available

### Map View
- [x] Lots of UI changes already implemented in demo-v2 branch soon to be merged to dev!
- [x] Finish making the filtering

[2017-07-11 18:56] jasonrhaas commented on #400
I should have the ORM models done today with a basic GET API on top of it, including pagination.  The models are very clean and should be easy to maintain.  The main this that needs to be added is primary keys for a bunch of the tables.  SQLAlchemy and ORM only works well if you have solid primary keys.  For the tables that don't have unique values for this stuff, SQLAlchemy can auto generate it.

[2017-07-11 20:16] emkap01 commented on #315
@NealHumphrey the dashboard is based on the spreadsheet, however I did not pull all of the fields from the spreadsheet into the dashboard.

I can take a crack at reworking the dash in order to pull more details into it (such as what specific actions need to be taken on each individual field in each dataset that still needs work).

[2017-07-11 20:50] NealHumphrey commented on #315
@emkap01 ok. No need to add to the dashboard - I just wanted to know what was what, I can refer back to the spreadsheet to get the info. I think the most effective approach beyond this is picking things off one data source / field at a time and writing up the tickets needed for getting across the finish line - I think what you've done so far is enough to work from from the big picture standpoint f

[2017-07-11 21:49] ptatian commented on #401
Hi folks. Following up on feedback from the V1 tests, we are planning to provide updated data from NeighborhoodInfo DC to support the V2 development. This will include the following.

- Median sales price series for tracts, ANCs, wards, and neighborhood clusters (similar to what we provide in our [neighborhood profiles](http://www.neighborhoodinfodc.org/city/Nbr_prof_cityc.html#sec_3_price))
- Upd

[2017-07-11 23:02] speedyturkey commented on #402
I'd like to start working on this ticket if I can. I have a couple of questions which I'll post to Slack.

[2017-07-11 23:26] NealHumphrey opened #404 "Add nlihc_id to topa table"
The TOPA notices table will sometimes correspond to records in our projects table - though there will be many additional TOPA notices for addresses that are not part of the projects we know about. To be able to join these two tables, we want to add the `nlihc_id` (which is the unique identifier for the project table) . Check the cleaning of the 'dchousing' data set for an example of how to do this

[2017-07-11 23:30] NealHumphrey commented on #404
- Project table has a field mar_id which should match to the address_id from the topa table.
- Any non-matching records can have null nlihc_id

[2017-07-12 00:05] ostermanj opened #405 "Incorrect longitude in one project"
The project with nihlc_id of 79575674-9b1b-48e2-aaff-ccfa84fd5523 (2700 16TH STREET NW) has  a positive longitude value. It should be the same abs value but negative (-77.036879).

[2017-07-12 00:23] speedyturkey commented on #404
Grabbing this one. Spoke to Neal and John and it will hopefully be an easy one (fingers crossed).

[2017-07-12 00:23] speedyturkey commented on #402
Putting this back for the time being, seems like it isn't as ripe as some other tickets.

[2017-07-12 00:53] kasao10 commented on #92
Sent @NealHumphrey file for upload to raw data files.
[20170711.xlsx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58a71defb16fd21a0065cfc5/125516c66e82c728ace21e0d46bac4cb74d2d4f8deabf301b44fff9e2c4533317346f6732987b72bef11295056561ffe435a5f44f5f0807fa0b32e6c981e5ab38532022d8c6853beb2901cbe0bbb2482468db4bc8d4bc3ea3923f5c6.xlsx)

[2017-07-12 02:20] speedyturkey commented on #404
In speaking with @jkwening about this, it looks like the Cleaners do not currently have access to the database connection. My current plan is to have load_data pass the db engine to the base cleaner so that I can do the lookup on ID. That way, anyone who needs to do similar lookups at this stage in the future will be able to. Please let me know if this conflicts with your understanding of things.

[2017-07-12 02:53] speedyturkey commented on #404
An alternative implementation would be to perform this update all at once as a post-processing script. If we add nlihc_id to topa table we can do:

[code]

[2017-07-12 12:37] NealHumphrey commented on #404
@speedyturkey I'd probably vote for option 1, adding database access to Cleaners.py - that way we're consistent with the one place that we modify data.

[2017-07-12 21:00] jasonrhaas commented on #400
Check out Pull Request #410.  I have the base Flask RESTLESS endpoints up and running using the ORM approach.

[2017-07-13 14:18] jkwening commented on #400
@NealHumphrey Surprisingly, after reviewing Jason's PR request last night I actually think I understand what he implemented so I can take a crack at this if you can't get to it today.

[2017-07-13 15:30] NealHumphrey commented on #400
@jkwening I'm taking a look at his PR right now; I'm going to take a crack at at least doing the hoisting up a level and testing that it is deployable to AWS. After that is done, we can open up cron jobs #402 while simultaneously doing the migration to combine this RESTLESS approach w/ our current endpoints. I have a few family things midday so will keep you updated on where things stand and what

[2017-07-13 23:08] jkwening commented on #373
Closing this ticket because it's being resolved in this ticket #379

[2017-07-13 23:08] #373 closed

[2017-07-14 14:44] jasonrhaas commented on #179
@NealHumphrey I think this issue can be closed with PR #410 being merged in.  The answer to your question above is this:

- Restructuring the entire ingest and mapping process in pure ORM is probably too cumbersome and not worth it at this point.  The current system is a little complicated but it works, and I don't think it makes sense to re-factor the whole thing just to make it declarative ORM
-

[2017-07-14 16:11] NealHumphrey commented on #179
Great, yep I agree.

[2017-07-14 16:11] #179 closed

[2017-07-14 19:02] NealHumphrey opened #413 "Change to new API URL"
We have a new url for the API:
http://housinginsights.us-east-1.elasticbeanstalk.com/

This is located on the Code for DC user account (old one was Neal's personal account). Need to migrate all front end code to use this api url. Endpoint urls currently remain the same, just new baseurl.

[2017-07-14 22:19] ptatian commented on #401
Well, the week didn't go quite as planned so I wasn't able to finish this by today. And, I'm traveling for the first part of next week so I'll have to get back to it later next week. Apologies.

[2017-07-16 20:55] speedyturkey commented on #404
Thanks for that guidance Neal. I made a WIP PR #415 with some further comments. In short, I have added some necessary functionality but could use some direction on how to complete the issue.

[2017-07-18 13:27] ableo57 commented on #399
@NealHumphrey please find an updated draft here: https://app.moqups.com/neal@nhumphrey.com/zeZOXaXpNx/edit/page/ad3aea595

[2017-07-18 20:57] NealHumphrey commented on #388
Merging initial portions of this into dev per PR #416

Still to do:
- Make changes as noted in the PR review

[2017-07-18 23:34] louvis commented on #16
Hey @NealHumphrey and @emkap01 it looks like the 2017 building permit dataset has been updated through the end of June based on opendata.dc.gov. Issue dates run up into July as well so we might be able to add it to our existing 2016 data.

[2017-07-18 23:46] emkap01 opened #418 "Add 'Subsidy Expiration Date' filter to map view"
Per Issue #401, users will need the ability to filter the map view based on the expiration date of the subsidy/subsidies covering each project.

Since the subsidy table in the Postgres db already includes the subsidy expiration date value in the field labeled `poa_end`, and since each project is already represented in the subsidy table as well via the `nlihc_id` field, the subsidy table already ha

[2017-07-19 00:43] louvis opened #419 "Add project level building permit filter to map view"
Based on issue #401, we want to add a project level building permit filter to map view that will provide a drop down to filter by `permit_subtype_name`. To do this the `nlihc_id` will first need to be added to the building permits table by matching the `maraddressrepositoryid` to MAR directly. See ticket #404 and pull request #415 for reference on how to complete this step.

Once `nlihc_id` is add

[2017-07-19 00:46] speedyturkey commented on #402
I'd like to start taking a look at this. After discussion with @jkwening , it sounds like we'd benefit from some centralized logging functionality, which I have some ideas on.

Ultimately, it seems that the scheduled job (however it is scheduled) will need to call the code in get_api_data.py.

[2017-07-19 00:55] emkap01 opened #420 "Add 'TOPA notice type' filter to map view"
*2 filters needed: **TOPA: Notice Type**, and **TOPA: Notice Count***

Per Issue #401, users will need the ability to filter the map view based on the type of TOPA notice covering each project (although not all projects will have TOPA notices).  Since any given project can potentially be covered by multiple TOPA notices, we will also need a filter for the TOPA notice count per project.

In DC, the

[2017-07-19 01:11] NealHumphrey commented on #419
@louvis can you clarify what this new data field would be called? Currently we have two 'building permits' fields - construction and all. But, these are nearby building permits (i.e. not building being done on the projects themselves). This new one sounds like it would be only permits associated with a project.

If you look at the current map view, what would be:
- the title of the data field
- th

[2017-07-19 01:16] NealHumphrey commented on #402
@speedyturkey awesome, yes! Go for it. When we finalize the #400 issue we can get the scheduling code into the right place, but until then setting it up to be able to call get_api_data and do proper logging would be a big start. We especailly will want any warning-level logging to be sent on to the admin so we'll want to separate out regular from warning (or higher) logging in some way

[2017-07-19 02:51] louvis commented on #419
@NealHumphrey from our discussion today and the planning discussion it seemed that drilling down to the subtype level would be helpful because it provides more context than all building permit records or even those filtered to construction. Was the plan to keep both of the existing zone level building permit filters?

We could also switch this to a slider for count of existing construction permits

[2017-07-20 00:31] ableo57 commented on #399
Notes from my conversation with Neal:

![image](https://user-images.githubusercontent.com/24680097/28395320-25237d00-6cc1-11e7-8862-2d7a19f1f72f.png)

[2017-07-23 23:38] louvis opened #424 "Add 'Nearest Metro Station and 'Number of Nearby Bus Routes' filter to map view"
Per issue #401, we want to add two public transit filters to map view on the project level. One will provide a slider for distance to the nearest metro station and the other will provide a slider for number of bus stops within .5 mile. The goal is to provide better insight on market pressures related to development around public transit.

The wmata_dist table already has nlihc_id included so it do

[2017-07-24 00:08] louvis opened #425 "Add 'Recent REAC Score' filter to map view"
Per issue #401, we want to add a filter for REAC scores to the map view that has a slider for the score number. I propose this filter pull only the most recent score to provide better insight on the building's current state.

The reac_score table includes 'nlihc_id' so it does not need to be added from the project table. Sample SQL code for the filter is provided below.
[code]
The details required

[2017-07-24 17:29] NealHumphrey commented on #400
@jasonrhaas - see my updated description of this issue at the top of this page. I moved the checklist from #412 into here (it was mostly duplicated) - most notably, immediate next step is to refactor the declarative app into a blueprint, and to move all of the existing endpoints into another blueprint.

[2017-07-25 15:09] ptatian commented on #401
Just provided Neal with the updated data that I promised. Here's what was included.

_PresCat_Export_20170724.zip_
Updated Preservation Catalog files. Includes new fields in the Project table for type of owner (Proj_owner_type) and year built (Proj_ayb and Proj_eyb). Proj_ayb is supposed to be the original year built for the earliest part of structure – it should not change over time. Proj_eyb is

[2017-07-25 16:21] NealHumphrey opened #427 "ACS rent incorrectly weighted"
Rebuilt the database using current dev. The 3 acs_rent fields (median, lower, upper) appear to have incorrectly applied weighting factors for the Neighborhood Cluster and Ward zone types - the values are much too high (e.g. $20,000 instead of 2,000).

We are probably using the weighting factors for summed values instead of the ones for medians/averages, but I have not yet investigated the code.

[2017-07-25 16:53] #379 closed

[2017-07-25 16:54] NealHumphrey opened #428 "Some street view urls still missing"
Low priority - some street view urls are missing. Putting this issue into backlog so we can address later, maybe v3?

From @jkwening in #386 :

Note - there are still some locations with missing street view urls.
These are due to the given lat/lon for their location which point to
buildings that actually don't have valid google street view data. Some
of this is due to buildings not being on an act

[2017-07-25 19:29] NealHumphrey commented on #400
Refactoring continues in #429

[2017-07-27 13:58] NealHumphrey opened #430 "Calculated fields on Project table"
Add a step to the code that updates the database to add calculated fields to the `project` table. Any project-specific data field that is contained in another table and that is used in the 'filter' endpoint should be added to the table. This means that to create the 'filter' endpoint, the CSV file for export, etc., we only need to join the `project` table to the `zone_facts` table and we will have

[2017-07-27 14:21] NealHumphrey opened #431 "API endpoint for Filter"
Update the api endpoint for the 'filter' dataset:
- Add all fields of the 'project' table by default, so that anything that is available on the project table (including new calculated fields being added in #430 ) are available on the endpoint automatically
- Join the current query to the 'zoneFacts' table using the census_tract field, and return all data columns of zone facts as `census_tract_data

[2017-07-27 14:27] NealHumphrey opened #432 "API endpoint for project + zonefacts"
Create a project table endpoint that joins the `project` table to the  `ZoneFacts` table 3 times, once for each zone type (ward, neighborhood_cluster, census_tract). This join should be used for to replace the current 'project' endpoint in the front end app (stored in /core/housing-insights.js URLS: project), to provide additional columns of data to anywhere the project table is used.

[2017-07-27 14:50] NealHumphrey opened #433 "Reduce duplicated data in the geoJSON"
Our 'raw_project' dataset is getting much bigger due to the addition of calculated fields, zone facts table, etc. While we probably won't have memory limit problems, it would be good to encourage developers to get their project-specific data from the 'raw_project' dataset rather than duplicating the whole thing in geoJSON as is done currently.

- In mapView's placeProjects dataCallback (line ~600)

[2017-07-27 15:25] NealHumphrey opened #434 "Create endpoint for slicing zone facts"
Create an endpoint that returns matching zones for any desired field from the ZoneFacts table for a user selected zone_type.

Example: user requests crime_all_12_months for the 'ward' zone type
API response:
[code]

This API endpoint will replace the 'summarize_observations' endpoint in the current API. Creation of various permutations of the calculations (different number of months, different typ

[2017-07-28 16:28] NealHumphrey commented on #388
Merged in some more changes in #436 . Changes requested from that code version:

PR changes requested by @nealhumphrey
- [ ] Don't back-calculate building_permits from Ward data. Zone_facts should report null values if a zone aggregation field (i.e. census_tract) is not available in the source table. Instead, we should geocode building_permits to have census_tract data available during cleaning.
-

[2017-07-28 16:32] NealHumphrey opened #437 "Building permits updates"
- [x] Building permits for 2017 data set appears to be restored. Resume collecting/ingesting this data
- [x] Add cleaner step that geocodes the census_tract of building permits.

[2017-07-29 02:06] jkwening commented on #388
@NealHumphrey I crossed the to do bullet that you asked clarification about; it seems I misunderstood the following action item:

I think we discussed this a couple weeks ago. I thought this implied that in addition to each unique zone_specific value for a zone_type populated in the zone column of zone_facts table you wanted the zone_type included and aggregate values populate. That is, zone colum

[2017-07-29 22:08] jkwening commented on #432
@NealHumphrey is this the same task as the last action item in #388 - left join project table/zone_facts?

[2017-07-30 01:55] NealHumphrey commented on #432
@jkwening Yep! And it's actually what I just put into the PR in #438 (sorry should have updated these ticket too!)

[2017-07-30 02:00] NealHumphrey commented on #388
Ah, ok - yep, all I meant was that we do it as you've already done, with one column that designates whether it's Ward or Cluster or Tract etc.

[2017-07-31 15:57] NealHumphrey commented on #434
I'm hopping on this now!

[2017-07-31 16:08] NealHumphrey commented on #434
Resolved in #440

[2017-07-31 16:08] #434 closed

[2017-07-31 16:09] NealHumphrey commented on #432
Resolved in #438

[2017-07-31 16:09] #432 closed

[2017-07-31 16:10] NealHumphrey commented on #431
Resolved in #438

[2017-07-31 16:10] #431 closed

[2017-07-31 16:13] NealHumphrey commented on #425
The data is now available on the `raw_project` data set when using the new Code for DC API. PR today will switch front end API URLs to use this new endpoint and make this accessible.

Still todo:
- [ ] Add to DataChoices.js
- [ ] Review the pull request #430 (just for quality assurance - it is already merged)

Thanks @louvis for the SQL query - that was very helpful in making the code to edit the

[2017-07-31 16:15] NealHumphrey commented on #430
This is completed for REAC - need to add additional fields.

If you want to work on this ticket, post here re: which data fields you are claiming. I'll keep picking them off when I have time unless I see anyone else claim them.

[2017-07-31 16:15] NealHumphrey commented on #427
FLAG - looks like this is being resolved in #439 and/or in the previous PR

[2017-07-31 16:16] NealHumphrey commented on #413
I'm hoping on this now!

[2017-07-31 20:18] NealHumphrey opened #442 "Filter UI not reset properly in some circumstances"
- [x] Resetting values to original levels doesn't clear the filter pillbox.
    - This works: uncheck 'unknown values' checkbox => pillbox added; recheck unknown values => pillbox removed
    - Doesn't work properly:
        a) Slide value away from min or max;
        b) slider value back to maximum/minimum
        Actual: pillbox not removed, filter values are simply set to their min/max.

[2017-08-01 13:13] NealHumphrey commented on #395
Closing this issue as completed in #395 (except lingering bug noted in separate ticket)

[2017-08-01 13:13] #395 closed

[2017-08-01 13:14] NealHumphrey commented on #393
Completed in #414 - closing!

[2017-08-01 13:14] #393 closed

[2017-08-01 13:15] NealHumphrey commented on #392
I'll be working on the first bullet points of this one today so we can close out this issue.

[2017-08-01 13:19] NealHumphrey commented on #397
Completed in #408! Thanks @ostermanj

[2017-08-01 13:19] #397 closed

[2017-08-01 13:20] NealHumphrey commented on #400
Completed!

[2017-08-01 13:20] #400 closed

[2017-08-01 13:21] NealHumphrey commented on #399
@ableo57 Just want to check in on this - how's design coming? Let me know if you need anything, hoping to turn this into an action plan at tonight's session!

[2017-08-01 13:24] NealHumphrey commented on #404
Completed

[2017-08-01 13:24] #404 closed

[2017-08-01 13:25] NealHumphrey commented on #413
Completed in #441

[2017-08-01 13:25] #413 closed

[2017-08-01 13:29] NealHumphrey commented on #388
@jkwening just a quick note - I crossed off the building permits bullet point b/c I made a separate issue for that one. I think the only things left on this for now are the unit tests bullet points

[2017-08-01 23:07] ableo57 commented on #399
@NealHumphrey

There are a few activities going on:

1. @txomashernandez is working to send out a survey to refine which metrics users would find helpful in the project view. Essentially, we're presenting an exhaustive list of variables and having respondents rate their importance on a likert scale

2. Dashboard graphics -- I've mocked up a few different options for both contextual and time-evolve

[2017-08-01 23:13] louvis commented on #419
This ticket is on hold until further review of of the building permit data is completed.

[2017-08-02 00:04] ableo57 commented on #399
Neal, please feel free to comment this up: https://app.moqups.com/neal@nhumphrey.com/zeZOXaXpNx/edit/page/a5dfad0e0

[2017-08-02 01:09] jgordo04 commented on #389
@NealHumphrey This ticket is on it's way, but I have a few questions.
1. Do you want JUST the filtered projects exported or all of them + the added matches_filter column?
2. The way I have it now, I didn't write a python API, I just grabbed what was stored in allData.filtered and output that. BUT I found the fields are not identical. The database has:
- klass
- mar_id
- xcoord
- ycoord
And the sto

[2017-08-02 11:30] NealHumphrey commented on #389
Jamie,

Let's export all projects with extra column, ideally sorted so that
matching projects come first?

Klass is the column that corresponds to whether it matches the current
filters, so that is an expected difference.

I am not sure about the other column differences, but make a pull request
and I'll look into it. Might just be a slight mismatch in which version of
the database you are looking

[2017-08-03 20:14] NealHumphrey commented on #392
Closing this - #443 resolves the first two bullets.

[2017-08-03 20:14] #392 closed

[2017-08-04 00:27] jgordo04 commented on #389
Created a pull request. Right now it only exports a csv. Where are the filters it's using stored? I couldn't find it. We can take this offline on Slack ( @NealHumphrey ) .

[2017-08-06 18:12] NealHumphrey opened #447 "Make Building Permits a rate"
Building permits data fields are currently reported as a gross value -total # in the zone. To better compare between zones, we should normalize these to a rate. The values would instead be reported as "permits per 1,000 residential units" or something like that. This is similar to how crime is currently reported, and several user tests noted the need for this.

Add code to the zone_facts calculati

[2017-08-08 18:37] NealHumphrey commented on #442
#451 resolves the second issue. First issue still outstanding.

[2017-08-08 18:45] NealHumphrey opened #452 "Continuous filter excludes min/max values after use"
Bug in the logic as of #451  (not currently merged to dev, but likely soon). When using the slider for the zone data sources the slider is not able to reset the value to the min/max of the data set. The min/max value of the slider is off by one, so sliding the slider to the edge does not set the filterValue to the actual min/max found in the data.

Example:
Crime Rate: All 3 months
Initial range a

[2017-08-09 15:56] ostermanj opened #454 "The include null values checkbox should be conditional on the presence of null values"
Currently all data and continuous filters include a checkbox to toggle whether to include projects with null values. The presence of that checkbox should be conditional on the presence of null values in the data.

[2017-08-09 15:59] ostermanj opened #455 "Changing the zone type is not clearing zone-based filters"
Selecting a new zone type at the top of the left sidebar should clear all zone-based filters. This was working in an earlier commit of PR #451 .

@NealHumphrey : as discussed, I'll assign this to you.

[2017-08-09 16:05] ostermanj opened #456 "Zone-based data should not have null values"
Some combinations of zone-based filters and zone selections are showing projects with null values when there should be none.

Example: with Ward selected as the zone type, unchecking the Show null values checkbox under the nonviolent crime filter removes all projects in  ward 2.

All projects should have non-null values for all zone-based data. Something in the mapping of zone data to projects is

[2017-08-09 16:12] ostermanj opened #457 "Extend URL encoding/decoding to handle location filters"

[2017-08-09 20:14] ostermanj commented on #442
First issue is addressed in PR #458

[2017-08-10 15:49] NealHumphrey commented on #452
Note, with the merging of #458 this bug is still present but not as obvious as it was before. Because #458 clears the filter when min/max values are set to their original levels, the missed values are restored. But, if only the top slider is adjusted to something below 7245 in the example above, both wards 2 and 3 are gone when only ward 2 should be gone.

[2017-08-10 16:01] NealHumphrey commented on #455
A refactored renaming problem - `this.element.checked` should have been `this.toggle.element.checked`

[2017-08-10 16:01] #455 closed

[2017-08-10 17:23] #442 closed

[2017-08-10 17:29] NealHumphrey commented on #452
Resolved in #460

[2017-08-10 17:29] #452 closed

[2017-08-12 18:08] ptgott commented on #311
@NealHumphrey Is this issue closeable?

[2017-08-12 19:03] NealHumphrey commented on #311
yep!

[2017-08-12 19:03] #311 closed

[2017-08-14 18:16] bikrambhattacharya commented on #454
@ostermanj can you explain the issue in more detail and tell me in which file the code of this issue exist.

[2017-08-15 16:09] NealHumphrey commented on #454
@bikrambhattacharya If you visit the live tool, you can see on the left hand side the Data Choices section. Many of these, for example 'Total Units in Project' have a checkbox underneath the slider that says "Include projects with null data?" Unchecking the box means that some projects no longer match the filter. This is because that field (proj_units_tot) has a value of 'null' for those projects.

[2017-08-15 16:09] NealHumphrey commented on #454
@bikrambhattacharya let us know if you're interested in taking this one on and what your timeline for taking a stab at it would be!

[2017-08-15 17:24] NealHumphrey opened #467 "Extend url encoding/decoding to handle decimal values"
Any of the dataChoices that are formatted as a 'percent' (e. g. poverty rate) have a value of less than 1. URL encoding currently rounds this to 1 or zero. Should instead allow these to have 2 decimals of resolution, i.e. 0.03 or 0.54.

One option: To keep url short, could format anything that is a percent data field as multipled by 100? Then the url will be x=23-56 for the field x with values of

[2017-08-15 17:47] NealHumphrey opened #468 "Clean up scroll behavior in data choices list plus make dataChoices behavior globally accessible"
In the data choices list on the sidebar, selecting a new data choice collapses the open data control and opens the selected control (due to magic of semantic ui's accordion). However, if the data choice is not near the top of the list, it can appear open below the current scroll level, causing the user to have to manually scroll down.

- [ ] in the clickCallback on row 775, use setState to announc

[2017-08-15 17:48] NealHumphrey commented on #468
You can test the issue in #396 by moving the 'portfolio' choice to the bottom of the list in `dataChoices.js` (they are rendered in order). the dropdown appears out of view.

[2017-08-15 17:50] NealHumphrey commented on #396
ITem 1 resolved in #461. Item 2 will be addressed by #468.

[2017-08-15 17:50] #396 closed

[2017-08-15 18:03] NealHumphrey opened #469 "Communicating null values to users"
Even with the addition of our 'Include projects with null values?' checkbox, the impact of nulls are not totally clear to users. This was most apparent in Scott's user test related to subsidy end dates.

Ideas:
- At a minimum, use a tooltip near the checkbox to explain null values to users and why they would exist
- Beside the null value checkbox, provide a count of the number of projects with nul

[2017-08-15 23:06] NealHumphrey opened #470 "Error logging and cron jobs"
- Refactor code to move the load_data.py and get_api_data.py into reusable services. These can be called from both the server (cron job) and by a user. Users can use debug mode (errors are raised) vs. non debug mode (errors are skipped and the service continues, reporting errors via email at the end).
- Set up server to run the cron jobs
- If an error occurs, skip the data source (loading or getti

[2017-08-16 00:25] ptgott opened #471 "Revamping the Project View: new layout, new graphs"
We're doing new things with the Project View. The accordion is out, and horizontal borders are in. It'll be a big, scrollable document with a navigation menu that scrolls to specific sections for you. The link to the mockup is below. Each checkbox corresponds to a single segment. These are small, so pick a few!
## General
- [ ] (Paul) Work up the JS/CSS/HTML for the general layout of the Project P

[2017-08-16 00:26] ableo57 commented on #471
https://app.moqups.com/neal@nhumphrey.com/zeZOXaXpNx/view/page/a92dfb33e

[2017-08-17 20:21] NealHumphrey opened #472 "Search for specific projects"
Users want to search for specific projects by project name and address.

Proposed approach: use the current filter approach with a new (proj_name + proj_address) field; the semantic-ui dropdown will provide the autocomplete while searching and there should be few enough projects that having all their name+addresses as `<li>` elements in the dropdown shouldn't have bad performance. Quick and easy a

[2017-08-17 20:21] NealHumphrey commented on #472
Hopping on this now!

[2017-08-18 18:16] NealHumphrey opened #474 "Protect api against sql injection"
Many of our api endpoints use raw sql that has not been protected against sql injection. In some edits to the `project_extended_constructor.py` I set up the /api/project/<nlihc_id> endpoint to be injection-safe. We need to do this to all of the rest of our endpoints.

Example of a sql injection url:
`localhost:5000/api/project/NL000196';select * from manifest where status='loaded/subsidies`

This

[2017-08-18 18:24] NealHumphrey commented on #472
Completed in PR #473

[2017-08-18 18:24] #472 closed

[2017-08-18 18:35] NealHumphrey commented on #471
@ptgott, @ostermanj , @wassona  I've updated the specific project endpoint to now provided nested json with the one-to-many tables.

So far this is only for the one-to-many tables that currently have an nlihc_id. This means that the `topa`, `subsidy`, `real_property` and `reac_score` tables are now available on the project endpoint whenever you request the data for a specific nlihc_id. For perform

[2017-08-18 18:47] NealHumphrey commented on #471
Note I have also edited the original description to add some notes about which fields to use and which ones are not yet available.

[2017-08-18 18:57] NealHumphrey opened #476 "Small mapview edits per user feedback"
Will add to this issue as I compile notes from the 3 recent user tests. Some bigger changes from user tests are already in their own issues (i.e. search box, nulls)

- [x] Map view zooms too close - add more padding and a max zoom level
- [x] Make link to the specific project page more obvious (put a 'see more' link in map tooltip, put a 'more info' button in the preview.)
- [ ] Add list of subsid

[2017-08-20 16:32] ptgott commented on #471
@NealHumphrey This looks good and intuitive, thanks!

[2017-08-20 19:52] ptgott commented on #471
Today I've started refactoring building-view.js to organize the code for rendering each segment into an easily identifiable place. The goal is to (a) make it clear where and how to add new segments and (b) make each segment an extensible JS object. This will allow us to do things like generate a navigation menu directly from the data structure that describes the segments. The goal is to have somet

[2017-08-22 22:48] emkap01 opened #479 "add "503" error handling"
We will need to handle the following error, which can sometimes occur during API calls to the MAR:

[code]

[2017-08-22 22:52] ostermanj commented on #457
address in PR #478

[2017-08-22 23:42] louvis commented on #419
See issue #447 for updated building permit filter instructions.

[2017-08-23 00:36] louvis commented on #418
See below for sample SQL to pull subsidy expiration dates. This example only pulls projects with subsidy expiration dates past the current date. It also restricts those results to the subsidies with earliest end date.

'SELECT nlihc_id
	, MIN(poa_end) AS first_end
FROM
	(SELECT nlihc_id
		, poa_end
	FROM
		(SELECT nlihc_id
			, poa_end
			, poa_end>=CURRENT_DATE AS date_answer
		FROM subsidy) AS d

[2017-08-23 02:03] ostermanj commented on #467
Addressed in PR #478. Any needed rounding is happening upstream in the filter controls, so just removing the extra rounding in router.js seems to do it.

[2017-08-23 02:25] ostermanj commented on #468
I wonder if we should allow more than one accordion to be open at a time. I could see that be more expected and certainly gives more control to the users, but if no one's mentioned it perhaps it's not an issue. It would be nice when decoding filter settings from a url to show the active filters, for instance. It wold affect the behavior of showing  data overlays, which would have to activate only

[2017-08-23 14:10] ostermanj commented on #468
I've addressed this issue in later commits of PR #478 . I included it there to avoid conflicting with it. The mechanisms are a little different than laid out in the checklist above, with the main difference being that only overLay dataChoices are being url encoded and decoded. That functionality could be extended to non-overLay dataChoices, but unless their filters are activated there doesn't seem

[2017-08-24 21:32] #384 closed

[2017-08-24 23:51] NealHumphrey commented on #454
@wassona has this almost done! Alex, can you make a WIP pull request with current status?

[2017-08-25 00:01] NealHumphrey opened #487 "Fix affordable housing nearby"
Affordable housing nearby in project view - need to fix it so that either a) map isn’t zoomable or b) add zoom buttons.

Also need to better set boundaries (zoom out to 0.5 miles).
Also list those matching projects in the space to the right side too?

[2017-08-25 16:06] NealHumphrey opened #489 "showProjectPreview should use dataCollection instead of passed (msg,data) from geojson"
In the showProjectPreview function, we are using the 'data' object passed by the callback. This comes from the geoJson of the clicked project. In general we want to avoid using the geoJson except for map-based things; more specifically, the geoJson converts `null` values into `"null"` values.

A recent PR (#488 from @jmithani) adds the `if var == null || var =="null"`  statement. Instead, we shoul

[2017-08-25 16:20] NealHumphrey commented on #457
Verified this works in #478, closing - thanks John!

[2017-08-25 16:20] #457 closed

[2017-08-25 16:26] NealHumphrey commented on #467
@ostermanj This works on the encode portion, but decoding does not seem to work. If I set a filter (e.g. poverty rate) the url changes. If I then refresh the page to reload it with the url that now has poverty rate encoded in it, instead of applying the filter the url decoder erases the rate data from the url and loads the page without that filter applied. If there are other filters encoded in the

[2017-08-25 16:35] NealHumphrey commented on #468
@ostermanj Great! sounds good on using the `overlay` state instead of making a new one - you're right that we don't really need to use the open-accordion functionality for project-based data sources, just overlay ones.

RE: your earlier question on more than one accordion open at a time. The reason I switched it to just one was b/c of the overlay issue - in v1 when we had both overlays and filters

[2017-08-25 16:35] #468 closed

[2017-08-25 16:37] NealHumphrey opened #490 "Navigation of active filters improvements"
a) restore the dark-orange highlighting for activated filters - the accordion header in left sidebar
b) make the pillboxes clickable so that if you click the pillbox (not the x) it will open that filter

History/Description copied from #468 discussion:
In v1, I also had activated filters change their dropdown header band color to be dark orange if they were activated, while they are the (current)

[2017-08-25 17:27] ostermanj commented on #467
Ok -- I'll check on it. Thought it was working . . .

On Fri, Aug 25, 2017 at 12:26 PM Neal Humphrey <notifications@github.com>
wrote:

[2017-08-25 18:27] NealHumphrey commented on #471
@ptgott Thanks for working on this. I took a look at the WIP branch. There's a few things to consider as you continue working on this:

1) Top priority is getting this ready to open up for other people to also work on. The `layout` object is a great setup that provides us some good structure for doing this. I think that the remaining task necessary is doing the 'adjust css' bullet as well as the a

[2017-08-25 21:49] ptgott commented on #471
@NealHumphrey, thanks for looking this over! I can finish the top-priority items tomorrow. I'll adjust the to-do list to account for your suggestions.

[2017-08-25 23:10] NealHumphrey commented on #471
Sounds good! Feel free to reach out if you want to discuss any implementation choices on it - I'll be online working on database stuff most of the day.

[2017-08-26 13:25] ostermanj commented on #467
The decimal filter is working for me on Chrome, FF, and Safari (Mac). I wonder if it's a cross-browser / platform or edge-case issue. @NealHumphrey can you still reproduce the error?

[2017-08-26 17:04] NealHumphrey commented on #490
Added in #492, closing

[2017-08-26 17:04] #490 closed

[2017-08-26 17:13] NealHumphrey commented on #470
@speedyturkey and @blw9u2012

FYI, I've been discussing a bit with @mkalish about our get and load data weekly jobs; There's a strong chance that we'll actually want to set these up as Lambda functions on AWS, instead of having the Flask app and server run them directly. This is mostly for the long term cost savings of keeping the API server on a t2.micro, which probably won't have enough memory /

[2017-08-26 18:25] NealHumphrey opened #493 "CAMA data doesn't include "commercial" residential units"
The zone_housingunit_bedrm_count table is created from the opendata.dc.gov data set for "residential" units. However, there are two additional data sets that include additional housing - commercial (which looks to actually be more accurately 'rental') and condo. It is not clear if these are partially or fully overlapping.

I sent an email to both DCGIS and opendata to try to get clarification on t

[2017-08-26 18:26] NealHumphrey commented on #493
Note, here is a file that contains the use codes that indicate specifically what type of property a CAMA listing is (page 113) : https://otr.cfo.dc.gov/sites/default/files/dc/sites/otr/publication/attachments/Reassessment%20Program%202018%20FINAL.pdf

[2017-08-26 18:44] NealHumphrey opened #495 "DCHousing is missing total unit counts"
The DCHousing data set (from DMPED available on opendata.dc.gov) contains "Report_units_affordable" field which we have mapped to the proj_units_assist fields. However, it does not have data for total units i.e. `proj_units_tot`. Therefore, projects added from this data set have missing data for this field.

It also so happens that the project with the most subsidized units ("BARRY FARM - ONSITE:

[2017-08-26 20:01] ptgott commented on #471
@NealHumphrey I've pushed some commits to PR #484. They adjust the spacing of some of the elements within the Project View, make the sidebar fixed (rather than collapsible) and remove the (broken) animated auto-scroll behavior. I was having some difficulty with the Bootstrap grid layout, so I've opted for library-less CSS. I've also shied away from editing the CSS of individual partials, with the

[2017-08-26 20:34] NealHumphrey commented on #471
@ptgott Great; it's moving in the right direction.

Are you planning to do anything else on this today? Whenever you're done I'll start putting in some placeholders for the additional sections and do some work on the individual elements so that there's a good model to mimic for the ones added - we should be ready at that point to open this back up to dev from others.

[2017-08-26 21:02] ptgott commented on #471
Good stuff. I'll turn it over to you!

[2017-08-26 21:16] NealHumphrey opened #496 "Additional address format parsing"
Moving this into an issue instead of the merged pull request so it's easier to find:

RE: #494 that created the address splitting function

We may end up needing a few more situations - unfortunately there's a bunch more messy formats. However I'd also like to send some of the one-off problem cases back up to the source and see if they'll fix them in their database instead of adding lots of extra

[2017-08-26 21:44] NealHumphrey commented on #471
@ptgott would this polyfill work for the smooth scroll you wanted to use? http://iamdustan.com/smoothscroll/

[2017-08-26 21:57] ptgott commented on #471
@NealHumphrey This looks nice. I haven't looked at the size or dependencies, but it's definitely along the lines of what I was shooting for.

[2017-08-26 22:01] ostermanj commented on #471
I've been using jQuery animate in filter-view.js and router.js for smooth
scrolling since we're already loading that. Not sure it fits your purpose
but you can find the examples there.
On Sat, Aug 26, 2017 at 4:57 PM Paul Gottschling <notifications@github.com>
wrote:

[2017-08-27 00:39] NealHumphrey commented on #496
Ha ha so there's another bug in the current address splitting function. Here's two address that were split out in the current code:

NL000382 | 919 Rhode Isl | 294859
NL000382 | Avenue NE |  Null

Found the "and" in `Island` and split the address.

Is change the 'and' split string to `' and '` enough or do we need something more robust?

[2017-08-27 00:56] NealHumphrey commented on #470
@speedyturkey and @jkwening As I've been working through the entity resolution on our project table from the 3 data sources, I realized we'll need to do a (slightly) more complex loading process due to data downloads depending on other data downloads.

I had previously thought we'd be OK doing all of get_api_data and then all of load_data as long as we had something in the database - any missed en

[2017-08-27 01:08] NealHumphrey commented on #496
FYI I did the `' and '` fix in current PR #494 and that fixed all the examples that occured in the prescat.

[2017-08-27 22:51] NealHumphrey opened #499 "Additions to export functionality"
- [x] Refactor export functions to be reusable
    - Move exportCsv into utils (addExportButton stays in map view)
    - Split exportCsv into two functions so that any json can be passed in for reusability
- [x] Add information about selected filters and helper info about what export does
    1) Clicking the 'download' button on the sidebar opens a modal
    2) Modal has intro describing what they

[2017-08-27 22:54] NealHumphrey commented on #389
Completed!

[2017-08-27 22:54] #389 closed

[2017-08-28 22:08] NealHumphrey commented on #471
@ptgott I've pushed a bunch of additional revisions. I pushed them to your fork so they've shown up on the same pull request #484 (I didn't actually mean to do it that way, but should be ok).

Overview of changes:
- I used the semantic-ui `attached header` and `attached segment` to supply some basic clean section breaks. Those require sibling elements for header/segment (rather than nested) so I r

[2017-08-29 14:32] ptatian commented on #495
Hi @NealHumphrey. Thanks for the question. Unless you have all of the buildings accounted for, you won't get the right unit count from MAR or CAMA. We've been recently trying to tackle this problem of multi-building projects in the Preservation Catalog. In a [GitHub issue for PresCat](https://github.com/NeighborhoodInfoDC/PresCat/issues/110), I describe using owner names in the real property data

[2017-08-29 15:51] NealHumphrey commented on #495
My concern with 1) is when we have a mixed income project but don't have the actual total units we would falsely report that it is 100% subsidized. What are your thoughts on that issue?

One option for this is to only calculate the "percent_subsidized" field when we aren't doing that substitution - perhaps we could use an additional 'estimated_units_tot' field for the filtering in the map view, an

[2017-08-29 16:58] NealHumphrey commented on #387
Url state encoding completed in #422. There's a couple minor enhancements to it (sidebar state, etc.) - will open a new issue for those instead.

[2017-08-29 16:58] #387 closed

[2017-08-29 17:01] NealHumphrey commented on #391
Completed enough, opening a new issue for enhancements per v1.5 user testing

[2017-08-29 17:01] #391 closed

[2017-08-29 17:04] #394 closed

[2017-08-29 17:14] NealHumphrey commented on #398
closing in favor of newer more specific issues. About half of this is covered in #487, the rest to come.

[2017-08-29 17:14] #398 closed

[2017-08-29 17:14] #399 closed

[2017-08-29 18:59] NealHumphrey opened #500 "Enhanced filtering for one-to-many sources"
Currently the in-browser filtering for projects that match the data criteria is done on a table that has only one one-to-many relationship, that of project->subsidy. Currently, multiple duplicate rows of data are created for each subsidy in the /filter api endpoint. This means the filters apply to one flat table of records.

There are a couple additional one-to-many record types that we will want

[2017-08-29 19:03] #403 closed

[2017-08-29 19:06] NealHumphrey commented on #418
Completed

[2017-08-29 19:06] #418 closed

[2017-08-29 19:07] ptgott commented on #471
@NealHumphrey
Overall the changes look good!

[2017-08-29 19:08] NealHumphrey commented on #402
Closing in favor of more recent #470 that has more details and overlaps w/ this

[2017-08-29 19:08] #402 closed

[2017-08-29 19:15] #347 closed

[2017-08-29 19:15] NealHumphrey commented on #347
Outdated - moved to 'objects' to match Restless syntax

[2017-08-29 19:18] #249 closed

[2017-08-29 19:18] #188 closed

[2017-08-29 19:19] #175 closed

[2017-08-29 20:07] jamiecatania commented on #469
Working on the following fixes, as noted above:

1. (Dev In Progress) Use a tooltip near the checkbox to explain null values to users and why they would exist
2. (Not Yet Started) Provide count of projects with null values next to checkbox.
3. (Not Yet Started) Provide warning in Summary column with count of projects with null values for at least one of the active filters.
4. (Not Yet Started) Unt

[2017-08-29 20:19] NealHumphrey commented on #469
Great! @jamiecatania I'd say that of the remaining ones 4) is the highest priority.

2) would be a good bonus if you have time, though we may have you switch to project view by that point.

I think that 3) is probably not necessary. If the others are done users will only end up with nulls if they actively choose to, which makes 3 less relevant.

[2017-08-29 20:20] NealHumphrey commented on #469
1. in progress of course is useful too and not too complicated so do finish that one.

[2017-08-29 20:26] jamiecatania commented on #469
Sounds good @NealHumphrey - 1 & 4 are the priority for me tonight then.

[2017-08-29 21:52] NealHumphrey opened #501 "September Master Issue"
This is still a work in progress - I need to create some issues for bullet points here, as well as go through all open issues to add any additional ones that need to be addressed before launch.

Map View
- [ ] URL encoding finalizing (project in preview screen, 'summary' or 'matching' sidebar, fixing color coding on decode)
- [ ] (Jamie G.) Download CSV enhancements (#499)
- [ ] Search and filter

[2017-08-29 22:36] NealHumphrey opened #502 "Tabulate as a d3 reusable chart"
The render method for `topaNotices` in project-view.js creates a table from an array of json objects using D3. However it manually assigns each table column and appropriate classes to each <td> element.

Since the project page will have several places that need similar tables to this, it would be great to create a reusable function that can build this table. Since we have set up a convention for r

[2017-08-30 00:17] louvis opened #504 "Create a Landing Page"
Create a landing page to introduce the tools to all users. It should be simple, clean and address the following questions:

- Who's the tool for?
- What can you do with the tool?
- Where did the data come from?

[2017-08-30 01:05] NealHumphrey opened #505 "base_project apiconn avoid accidental removals of rows"
In the DHCD and DChousing ApiConn objects, we check for duplicate records in the `project` table so that we end up with just one record per project. The `create_project_subsidy_csv` method outputs rows of the project table only for the projects that were not found.

This can cause problems, however, if the same dataset is downloaded a second time. `load_data.py` assumes that each `unique_data_id`

[2017-08-30 14:26] ptatian commented on #495
It's a fair point. Flagging the total unit count as "unknown" is also a legitimate option. Perhaps that's better, rather putting up a number that we aren't sure about.

[2017-08-30 14:50] NealHumphrey opened #507 "Add nlihc_id using multiple addresses"
We now have a one-to-many address table for projects. Linked data (TOPA notices, tax assessment, etc.) now need to have nlihc_id added to their records using all available mar ids instead of just the one on the project table.

[2017-08-30 16:53] NealHumphrey commented on #507
@ptatian In the `Rcasd` files you've shared, which contain the TOPA notices, you've already done some geocoding of the records. Can you help clarify what an individual record is in this data set and how best to link this to the projects in our database?

Digging into a few examples, it looks like there is one row for each unique combination of address+notice. If one notice has multiple addresses,

[2017-08-30 21:48] ptatian commented on #507
Yes, you are correct in all your assumptions. There is one unique record for each combination of address and notice. We parse out the address ranges into individual addresses. We don't make any real attempt to clean the address ranges -- we take them "as is."

[2017-08-31 15:43] #437 closed

[2017-08-31 16:13] NealHumphrey opened #510 "Add nested json of proj_addre to the /api/filter endpoint and /api/project endpoint"
To improve our filtering (#500), we want nested json for our /filter endpoint when one-to-many relationships exist. To start with, we will implement this for the proj_addre table.

The /api/project/<NLIHC_ID> endpoint (located in `project_extended_constructor.py`) already provides nested json when requesting a specific nlihc_id. An example of the desired format can be seen by looking at the `real_

[2017-08-31 16:15] NealHumphrey commented on #500
I added #510 to supply us with the nested structure needed for solution 1

[2017-08-31 20:13] NealHumphrey opened #512 "Handle error 104 Connection reset"
During MAR geocoding, got this error:
`requests.exceptions.ConnectionError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))`

[2017-08-31 20:37] NealHumphrey opened #513 "Stop searching for mar_id while cleaning projects"
All the project tables look up the mar_id via the API during cleaning. We now have the MAR in the database, so we should look there first. Also, we now have the many addresses that have already been geocoded so should consider pulling from there first.

[2017-08-31 21:27] NealHumphrey opened #514 "Null data breaks some map view functionality"
Our newest data update has some null values for fields that we are using in the map view, most notably latitude and longitude but also other geocoded stuff like Ward. We haven't had null data before so haven't properly handled these.

- Null lat/lon means clicking on an entry from the list of "matching projects" from the list on the right zooms you to the project location off the coast of Africa.

[2017-09-01 18:30] NealHumphrey opened #515 "Update docker and install documentation"
Need to update documentation to reflect use of Jekyll for front end development, and options for using the local database+Flask as the API server when desired.
- Install preferences for versions (windows 10 pro and mac - native; windows 10 home and down - toolbox)
- Tailing the logs to check for Jekyll rebuilds when editing files, and slow update performance on some systems: `docker logs -f contai

[2017-09-02 16:40] ostermanj commented on #514
Adressed in PR #517

But issues remains: why do projects with know addresses have null lat/lin?

[2017-09-03 21:56] jmithani commented on #504
If there is copy/style for me to follow, I might be able to tackle this. I'm not in DC anymore, but if working remote isn't an issue I can take a stab.

[2017-09-04 13:34] ostermanj commented on #501
@NealHumphrey I can jump on the finalizing URL encoding stuff. What's the issue with color-coding on decode?

[2017-09-04 14:48] NealHumphrey commented on #501
@ostermanj When I load a saved URL (i.e. refresh the page with a few filters activated), the filters apply correctly to the right hand side panel summary stats - therefore it seems like the filterData is working properly - but all of the dots on the map are orange. If I then select an additional filiter on the page, dot-coloring resumes as normal. It seems to happen with all filters in my browser

[2017-09-04 16:03] NealHumphrey commented on #502
Hopping on this one now

[2017-09-04 21:08] NealHumphrey commented on #502
Completed in #519

[2017-09-04 21:08] #502 closed

[2017-09-04 21:10] #514 closed

[2017-09-05 16:32] jamiecatania commented on #469
Opened a PR with a few questions here: https://github.com/codefordc/housing-insights/pull/520

[2017-09-05 23:00] louvis commented on #504
@jmithani I started to create a markdown file for this but only got a skeleton so far. If you want to work from it here's what I started.
[code]

[2017-09-07 02:19] ostermanj commented on #501
Got the color coding work locally. Will push after finishing the other decode tasks.

__
The filter decoding was happening too quickly after initialLayers were added, before they were fully rendered. Solutions uses mapBox's render event, checks against state of initialLayersAdded and !isFilterInitialized to setState initialProjectsRendered. router.initFilters subscribes to that stateChange and tur

[2017-09-07 05:01] jkwening commented on #505
I'm going to tie this in with the following specification @NealHumphrey and I discussed a few weeks ago:

Output additional columns of data in the _project, _subsidy, and _addre tables that will allow us to do quality assurance on our match quality - columns for things like whether the nlihc_id was generated or came from a matched project, which address/mar_id was matched on, and which unique_data

[2017-09-07 13:14] #447 closed

[2017-09-07 17:16] NealHumphrey opened #524 "Add row-level skipping when error occurs to all classes in the sources folder"
When processing a data source, we want to skip one row if it fails to process for some reason, and instead continue with the next row. If we are not in debug mode (i.e. in production), we should log the error and continue. IF we are in debug mode, the exception should be re-raised.

An implementation of this was done for the base_project 'create_project_subsidy_csv' method, where we try to decode

[2017-09-11 23:49] marwahaha opened #529 ""How to use labels and issues" link broken"
In the Resources, the link "How to use labels and issues" is broken (it goes to http://housinginsights.org/resources/TODO ).

It's in this file: https://github.com/codefordc/housing-insights/blob/dev/docs/resources/index.md

[2017-09-12 00:00] NealHumphrey opened #530 "Populate field-level documentation via JS"
Each table in our database has all of its fields documented in our meta.json file, available from the API here:
http://housinginsights.us-east-1.elasticbeanstalk.com/api/meta

In the `/docs/data` folder, we have (or will add) one page/file per table of our database. The top of the page is documentation about the table as a whole. At the bottom of every page, we want to append nicely formatted fiel

[2017-09-12 14:11] #530 closed

[2017-09-12 14:45] NealHumphrey opened #534 "Clear selected project"
- [ ] Allow the user to clear the selected project so that none is selected (using 'x' in the upper right?)
- [ ] Automatically clear the selected project if the user selects a new filter and the selected project is no longer part of the filtered project list.

[2017-09-12 14:51] #105 closed

[2017-09-12 14:56] #515 closed

[2017-09-12 14:57] NealHumphrey commented on #513
It turn sou thte MAR in the database does not provide some fields, notably the street view data. Rather than replacing current system we'll keep getting this data from the MAR API because we'd need to hit MAR API again anyways.

[2017-09-12 14:57] #513 closed

[2017-09-12 15:09] NealHumphrey commented on #496
@jkwening I think all of this was successfully addressed in #518. Closing.

[2017-09-12 15:09] #496 closed

[2017-09-12 15:15] NealHumphrey commented on #495
In discussing w/ the maintainer of the data at the MAR, it sounds like the active_address_unit_count field in the MAR can be pretty much trusted to be accurate - but as Peter notes, only in cases where we have actually captured all of the relevant addresses for the project.

I am going to move forward with adding an extra field of 'proj_units_tot_mar' that captures the total units as best we know

[2017-09-12 15:20] NealHumphrey commented on #493
Per discussion w/ one of the data maintainers at the city, the most accurate source of zone-level residential unit counts is to sum the `active_res_unit_count` field in the mar rather than using CAMA. We should convert the zone_housingunit_bedrm_count table to use this data set instead, and to be a calculated field during the data processing step rather than to be a download/ingested data set.

[2017-09-12 15:22] NealHumphrey commented on #489
putting this off for now

[2017-09-12 15:30] NealHumphrey commented on #456
Probably won't get to investigating this before launch - would be good if we can though!

[2017-09-12 16:06] NealHumphrey opened #535 "Sidebar doesn't fully reset URL encoding"
When the URL decoding encounters an encoded tool url without any parameters, it is not able to remove the 'Loading saved state' message:

URL format: `http://127.0.0.1:4000/tool/#/HI/`

Error message:
![image](https://user-images.githubusercontent.com/5642566/30336221-82e76dcc-97b2-11e7-8e41-519bb2bf9fb5.png)

How to recreate the error:
- load the /tool page
- Select the 'matching projects' sideba

[2017-09-12 16:06] NealHumphrey commented on #535
@ostermanj can you take this on? Should be quick fix.

[2017-09-12 16:52] NealHumphrey commented on #467
@ostermanj I couldn't recreate. Assuming it is fixed now so closing ticket

[2017-09-12 16:52] #467 closed

[2017-09-12 16:53] NealHumphrey commented on #469
Completed

[2017-09-12 16:53] #469 closed

[2017-09-12 16:56] NealHumphrey commented on #372
This has been completed

[2017-09-12 16:56] #372 closed

[2017-09-12 16:58] NealHumphrey commented on #333
The 'isTouched' approach is working in current version. Closing in favor of opening a new issue to handle remaining performance issues via a new 'setMultipleStates' approach

[2017-09-12 16:58] #333 closed

[2017-09-12 18:30] NealHumphrey opened #536 "Validate short_names of the dataChoices.js"
Our url encoding now uses the `short_name` property to encode data in the urls. We should add a validation step that raises an error if there are any duplicated short_names, to make sure that future developers do not break the encoding accidentally when adding new dataChoices and filters. Also be sure to include in the list any hardcoded url elements that are used elsewhere (ie. the codes for the

[2017-09-12 18:36] NealHumphrey commented on #510
Note - if we add nested json for subsidy and adjust the front end code appropriately, we can eliminate the `filterData` object in the dataCollection and just use the raw_project object. This should speed up page loading.

[2017-09-12 18:36] NealHumphrey commented on #500
See comment in #510 - we can eliminate the filterData in the datacollection and just use raw_project directly if we have nested json and the filter code to handle it.

[2017-09-12 19:53] NealHumphrey opened #537 "dateFilterControl should be month first"
The current date filter control is set up to have text fields in the format [day] / [month] / [year]. This is likely not intuitive to most US users who will expect mm/dd/yyyy. I did not realize it was day first until adding a new field that had days outside of the 1-12 range.

Change order of input and make sure filter applies them properly. Add key somewhere (maybe small gray text below the field

[2017-09-12 21:30] ostermanj commented on #535
Yeah, I'll take a look.

[2017-09-12 22:17] NealHumphrey commented on #534
Note that currently, in the project preview partial the initial view has text to the effect of 'No project selected.' However, when the first project is selected (by clicking on it on the map), that text is overwritten with a project preview with no way to get it back. We will want to have the code that adds the project preview add the 'no project' text.

[2017-09-12 22:24] NealHumphrey commented on #534
Also make sure that URL encoding behaves properly and removes the selected project from the url

[2017-09-12 23:14] ostermanj commented on #534
Note from meeting: leave message about what the last building selected was

[2017-09-12 23:21] NealHumphrey opened #540 "Clear all filters notworking"
In testing during meeting, on @ostermanj 's machine, the 'clear all filters' button was not working after adding a slider for total units.

[2017-09-13 00:02] ostermanj commented on #540
This seems to only occur if you move a slider, clearing the show null values checkbox, but return the slider back to the original position before releasing. Relatedly: given such behavior from the user, the show null values checkbox probably should not clear (ie not clear when the slider is moved but release in the original position).

[2017-09-13 00:04] ostermanj opened #542 "Body height extends below content when returning from building view"
Reproduce: in mapView select a building to preview, go to the project view, go back to the map view, and scroll down on one of the sidebars. The body will scroll beyond its content.

[2017-09-13 00:48] ostermanj opened #545 "Duplicated Subsidy Programs filters in left sidebar"
![image](https://user-images.githubusercontent.com/13643664/30354668-be9ff53e-97fb-11e7-9e81-70ce367e4618.png)

[2017-09-13 12:32] ostermanj commented on #537
Will address this on top of PR #539 because it needs the #/HI path fix to work.

[2017-09-13 17:11] NealHumphrey commented on #493
Steps needed to perform this fix:

- [ ] Add new code to (or a separate method called within) the `_populate_zone_facts_table()` in `LoadData.py`. This should perform a sql query that calculates the sum of the `active_res_unit_count` field for each unique zone type. The result of this calculation is the total residential units in that zone (neighborhood cluster, census tract, or ward).
- [ ] Updat

[2017-09-13 19:07] NealHumphrey commented on #545
Addressed by @emkap01 in #541

[2017-09-13 19:07] #545 closed

[2017-09-13 19:18] NealHumphrey opened #547 "Filter CSV tables not always working"
There's a couple issues to fix in the filter behavior. Screenshot shows the ones I found:

- Can you use the 'display name' instead of the encoded filter to describe what the filters are? You can translate between the encoded filter name (i.e. the ones with _ ) by using `filterView.components` and the 'source' vs. display_name fields.
- proj_units_tot is showing up in the categorical table instead

[2017-09-14 15:52] NealHumphrey commented on #504
I did this in PR #549 .

[2017-09-14 15:55] #504 closed

[2017-09-14 15:56] NealHumphrey commented on #504
@louvis I pretty muched used your text directly

[2017-09-15 16:08] ostermanj commented on #535
Closing

[2017-09-15 16:08] #535 closed

[2017-09-15 16:12] ostermanj opened #551 "Ownership type filter options showing ids (?) instead of names"
![image](https://user-images.githubusercontent.com/13643664/30492620-1e601d86-9a0f-11e7-90cf-4392e6c45765.png)

Use to be text of the ownership type, now showing numbers instead.

[2017-09-15 17:32] NealHumphrey commented on #551
@ostermanj Yep, this was due to the latest batch of data that we got from Urban institute, where they had done their export wrong and just gave us codes. I've gotten the new data from Peter but I have not yet loaded it into the database. In the new batch of data I also got some better cleaned up ownership names that are shorter/easier to understand.

[2017-09-18 20:35] NealHumphrey opened #557 "CORS / Timeout error"
Sometimes when loading the Housing Insights tool webpage, my Chrome console displays this message:
![image](https://user-images.githubusercontent.com/5642566/30562330-09ae94b0-9c8c-11e7-8010-e6ba496bdf9f.png)
(note, cutoff portion says "Origin 'http://127.0.0.1:4000' is therefore...")

- This occurs intermittently; if you then reload the page it often does not occur again, though in the same sessi

[2017-09-18 21:00] NealHumphrey opened #558 "Tell users when the tool has problems"
There are a couple situations where the tool might silently fail to load:

- If users are on Internet Explorer or a browser that doesn't work with the WebGL that we rely on for Mapbox services.
- If stuff goes wrong due to unanticipated bugs that cause loading to fail either intermittently or in certain circumstances, such as the CORS bug #557

We should provide a minimum level of error-catching t

[2017-09-18 21:06] NealHumphrey opened #559 "Speed up page load"
Save this until after the launch - recording now as an idea to consider for later.

In the loading of the tool, we use the `setSubs` method to sequence events that need to occur after other events. However, some of these events are scheduled later than they need to occur, and many of the events  wait for some asset to be loaded externally before triggering internal code that performs things in the

[2017-09-18 22:58] NealHumphrey commented on #557
Additional screenshots from another occurrence:
![image](https://user-images.githubusercontent.com/5642566/30568466-57ccc52e-9ca3-11e7-8aa2-ec0775a719a1.png)

[2017-09-18 22:59] NealHumphrey commented on #557
@ostermanj could we also try to get the front end to re-try the data request? Maybe build it into the getData function to watch for a 504 error and re-request the data again? Not a solution but maybe a hack to keep it from failing

[2017-09-18 23:14] NealHumphrey commented on #557
Example where /api/meta loaded successfully, but then /api/filter did not load:
![image](https://user-images.githubusercontent.com/5642566/30568868-9a7d416c-9ca5-11e7-9bc5-6148782d9557.png)

[2017-09-19 00:38] NealHumphrey commented on #557
@mkalish do you think this might have anything to do with server size? Maybe the times that I've encountered this more frequently were not due to wifi speed but rather frequency of requests with multiple developers working on the site at once? It might be happening more often when I'm working alone but refresh the page often.

[2017-09-19 00:43] NealHumphrey opened #560 "Convert welcome modal to Bootstrap or fix semantic ui sizing issue"
As noted by @ostermanj in the PR, the bottom of the welcome modal appears off-screen if your browser height is too small to view it in its natural size without scrolling. However, if you resize the browser window (by opening the console, or just by dragging the edges), appropriate scrolling is added.

This appears to be related to loading additional DOM elements after the modal has been opened. I

[2017-09-19 13:47] NealHumphrey opened #563 "Refactor `_populate_zone_facts` to be cleaner"
The _populate_zone_facts method and its related methods were carried over from the API, which needed to calculate specific zone information on demand using user inputs. Now we are calculating all the zone_facts ahead of time and caching them in the zone_facts table. As such, a lot of the structure that was needed for an on-demand calculation is no longer as understandable and is more complicated t

[2017-09-19 13:55] NealHumphrey opened #564 "Calculate percent subsidized by zone"
We want to be able to accurately capture the percent of units in a zone (ward, neighborhood, etc.) that are subsidized.

- Add a field to teh zone facts table called `active_subsidized_units`. Calculate this as the sum of `proj_units_assist_max` of all records in the project table where `status == 'Active' or status == Null`, grouped by each zone type (ward, census_tract, neighborhood_cluster).
-

[2017-09-19 14:50] #547 closed

[2017-09-19 14:51] #537 closed

[2017-09-19 16:21] #493 closed

[2017-09-19 16:22] #499 closed

[2017-09-19 22:07] NealHumphrey opened #569 "Add lat/lon to geocode from mar cleaner step"
In the `add_geocode_from_mar` method in Cleaners.py, we add geocode data when it is missing. But, we don't add latitude/longitude. Add these two fields to the geocoding process when they are missing in the data so that projects in the DHCD dataset are properly displayed on the map.

[2017-09-20 15:04] jasonrhaas commented on #557
Copying from my email for reference:

I'm guessing it doesn't occur in local testing right?  So we think its an API gateway thing and not something within the Flask code?  One good way to test this (since its intermittent) is using the PostMan test suite.  It allows you to set up test jobs that run continuously and check for responses and alert on failures.

Since its intermittent I would want to

[2017-09-20 18:04] jasonrhaas commented on #557
@NealHumphrey I haven't been able to duplicate this yet.  Does it happen when just loading http://localhost:4000/tool?  I've been refreshing it trying to get it to happen.

[2017-09-20 18:10] NealHumphrey commented on #557
@jasonrhaas I just got it to occur again by refreshing my version like 6 times. It would occur directly after the 'mapLoaded true' state:

![image](https://user-images.githubusercontent.com/5642566/30659965-6a06b87e-9e0d-11e7-820b-281323cfe185.png)

If you progress past that point you can refresh again to see if it occurs

[2017-09-20 18:11] NealHumphrey commented on #557
BTW you can ignore the first appendChild error - that's some outdated code I need to remove from the main website template (it's a addtocalendar extension)

[2017-09-21 14:30] NealHumphrey opened #577 "Populate 'in_prescat', 'in_dhcd', 'in_dchousing' fields"
The project table has 3 boolean fields indicating whether a particular project was found in each of the sources. These need to be populated as a post-processing step.

In the project table the `unique_data_id` column represents where the project was first found, but if a later source has the same record it won't be reflected in the project data. Since the 'subsidies' table always has a record for

[2017-09-21 14:31] #569 closed

[2017-09-21 14:31] #476 closed

[2017-09-21 14:40] NealHumphrey opened #578 "Troubleshoot why 'Most Recent REAC date' and 'most recent TOPA date' sliders are bunched up on load"
Also, override the 1-year stop for the slider for these data sets (or, more thoroughly, change to 1 month steps for any data set that has less than 10 years of range between min and max).

[2017-09-21 16:47] NealHumphrey commented on #540
Further note - it also occurs if you move the slider, release, and then move the slider back to the original position and release again. So it's tied to the fact that the slider is already at the extremes.

I suspect this has to do with the 'isTouched' method

[2017-09-21 17:22] NealHumphrey commented on #578
Resolved in #579

[2017-09-21 17:22] #578 closed

[2017-09-21 17:22] NealHumphrey commented on #540
Resolved in #579

[2017-09-21 17:22] #540 closed

[2017-09-22 14:18] NealHumphrey opened #583 "Dedupe address match failing due to integer MAR IDs"
In the deduplication process when loading new projects from the DCHousing or DHCD data sets, we check for duplicates by looking up the MAR ID of each individual address that was parsed from the address records and then comparing it to the mar ids that we have in our proj_addre table of the database. In the proj_addre table we store the mar id as a string - in fact, anything that is "id-like" in ou

[2017-09-22 17:02] NealHumphrey opened #585 "Add all project fields to the filter api endpoint"
Change filter api query to use project.* instead of manually selecting fields. This will mean that adding fields to the database will immediately make them available to the front end.

This will increase the amount of data that is downloaded by the tool which will hurt performance. But, when we implement "Enhanced filtering for one-to-many sources" #500 this current issue will be moot and we'll ha

[2017-09-23 02:09] chrisjdp opened #589 "User Feedback?"
When you demo'd the tool to us at DHCD today you mentioned you were exploring ways for users to provide feedback. An example of instance where that could be useful: I was searching projects and filtered the list down to the three largest projects. I noticed the Wingate Apartments among the largest. The Wingate Apartments was foreclosed on several years ago, and unfortunately affordability covenant

[2017-09-25 14:17] NealHumphrey commented on #589
@ChrisDickersinProkopp Thanks for feedback! First, yes absolutely this is the best place to provide feedback - that way all the team members can see it, and we won't lose track of it.

RE: this specific issue, currently we are taking the provided data as-is from relevant sources. As you've identified we are not yet integrating many of the fields from Quickbase - mostly what we get right now from Q

[2017-09-28 01:54] jkwening commented on #479
linking #512 to this issue because I think they're related. With all the calls we're making to the mar api, at times, especially during the day or on a bad network we seem to be either:
- "104": running into a timing issue
- "503": seem to be overloading the server

I'm going to strategically put `timer.sleep(0.01)` in code, log state at time exception is through, and retry maybe 2-3 more times, w

[2017-09-30 03:22] jkwening opened #592 "Persist missing address id in create_project_subsidy_csv() when returned from mar api call"
As part of the logic for deduping projects from our multiple sources we sometimes make a call to mar api to get the missing mar id. Currently, that information is used to identify any duplicate project but not persisted in the output csv files (_project.csv & _addre.csv). We then make another mar api call in the cleaner code where we attempt to clean up any missing geocode for a given project.

To

[2017-09-30 23:00] jkwening commented on #470
Since we're going to have to refactor anyways to avoid double-adding projects, I'm thinking we should implement a service mediator object - where specific actions triggers another set of actions; regularly scheduled or user triggered update will still be a core task but not the primary purpose.

Currently we have many modules importing into each other - engaged in various pairwise interactions. In

[2017-10-01 18:45] NealHumphrey opened #594 "test_load_data.py failing due to refactored _populate_zone_facts"
From @pfjel7:
The gerry-rigged method I used for calculating residential units for the zone_facts table has the potential to disrupt the normal functioning of test_load_data.py. When that code runs self.loader._summarize_observations (line 2328), it does not include a value for "res_units_by_zone_type" that I rewrote that function now to need. Similarly, when that code runs self.loader._populate_z

[2017-10-01 18:55] NealHumphrey commented on #594
@jkwening for background, the code you moved over from the API into load_data has that kind of funky approach to calculating zone-based weightings either when creating a rate (e.g. crime rate) or just applying weighting factors (ACS data). The funky approach was because when the function was in the API the user was able to pass in dynamic choices for things like duration and rate  vs. count.

We w

[2017-10-02 04:25] dogtoothdigital opened #595 "Bug in Range Breakdown Displayed (Zone Type: Census Tract && Data Choices: Crime Rate: Violent 12 months)"
Ex:
[http://housinginsights.org/tool/#/HI/ml=census_tract&sb=bdng&pu=4_717&ol=cv&cv=1_107](http://housinginsights.org/tool/#/HI/ml=census_tract&sb=bdng&pu=4_717&ol=cv&cv=1_107)

Range defaults to 1..107; in the map view the following ranges are given:
0 - 0
0 - 0
0 - 100
100 - 100
100 - 100
100

The census-tract-based map view shown implies that the underlying data set is being read and range-part

[2017-10-03 07:48] dogtoothdigital commented on #595
Sorry.  I can't. anymore

I'm exhausted

[2017-10-03 07:48] #595 closed

[2017-10-03 17:13] pfjel7 opened #596 "Inaccurate residential_units counts for at least three census tracts"
The calculations of several rates in the zone_facts table (for building and construction permits already, and eventually also for the percentage of units that are subsidized per zone) all depend on the accurate determination of the total number of residential units in each zone. Unfortunately, our current method for calculating those totals is unreliable. The most glaring illustration of that inac

[2017-10-03 19:30] pfjel7 commented on #596
This [graph](https://plot.ly/~pfjel7/0/our-datas-residential-unit-counts-compared-to-census-population-numbers/) provides further exploratory diagnostics for identifying census tracts with potentially inaccurate residential unit counts. Specifically, the graph shows the mostly linear relationship between residential units and population counts for each census tract. A number of tracts, however, br

[2017-10-04 18:26] NealHumphrey commented on #557
Note, @ostermanj added code to retry 3 times, and I added an error to the welcome modal when it occurs. Modal is re-opened if needed. This will at least get us by with communicating to users that try it during the launch until we can get this fixed.

![image](https://user-images.githubusercontent.com/5642566/31192692-f84c13ec-a90f-11e7-8350-6d880e5b037f.png)

[2017-10-04 18:26] NealHumphrey commented on #557
(note test was done with a 404 by changing the url since error wasn't occuring for me today)

[2017-10-05 00:08] NealHumphrey opened #603 "DHCD addresses not found in MAR"
Some of the addresses in the DHCD quickbase database that are being ingested into Housing Insights are not found in the Master Address Repository; typically this is because of an invalid address.

Solution steps:
- Ask DHCD to update the data in their database with the correct address
- If this can't happen, or if it doesn't resolve the problem, identify a mapping to a correct address string and p

[2017-10-05 00:41] NealHumphrey opened #604 "Data retry now prevents null lat/lon project view pages from loading"
Projects with null lat/lon return a 500 server error from the API when trying to retreive nearby projects. With the new code for retrying, this 500 error then throws the getDataError state, which prevents the page from loading.

Need to fix this so that invalid data just shows up null so the rest of the page can load

Example: Ivy City Demonstration Initiative - DC Habitat Phase III

[2017-10-05 00:42] NealHumphrey commented on #604
@ostermanj would be good if you can look into this at some point (only occurs w/ some projects of course)

[2017-10-05 01:08] NealHumphrey commented on #596
A @pfjel7 this is a great analysis of this issue. I think we'll want to look at the records of the MAR table itself for each of those three zones to see what's going on. My guess is that the MAR has missing data in the res unit count field - once we look at that and if this indeed seems to be the case, we can reach out to the DC gov contact that maintains the MAR and see what they say.

[2017-10-05 01:24] NealHumphrey commented on #603
@ChrisDickersinProkopp Thanks for the info - sounds like these are more complicated than I thought it would be for these cases.

The biggest way this is used currently is de-duplication of projects that are already in the PresCat for whatever reason. If we can use the table of every address/SSL that would definitely be an improvement. It would be good to get more info on where to access that data

[2017-11-15 19:16] ptatian opened #613 "Preservation Catalog November 2017 update"
Files for the November 2017 Preservation Catalog update have been placed in the "Housing Insights PresCat export" Box folder, which is currently accessible to @NealHumphrey @jkwening @ostermanj @mkalish and @txomashernandez.

There are no significant changes in this update of the Catalog in terms of new or deleted projects. We are expecting by the next (Dec) update there will be more significant c

[2017-11-17 18:12] ptatian commented on #613
One thing I noticed on the site, the "owner type" on the project page is currently displaying as a numeric code, rather than the description. This is probably because one of the earlier Catalog extracts I provided had the data this way in the Parcel table. The latest extract has the owner type as descriptive text so I'm assuming that's what will show up once the new data are ingested into the site

[2017-11-17 19:42] ptatian commented on #589
@NealHumphrey Just to confirm, issue #583 is dealing with the situation where records from DHCD Quickbase are showing up in the subsidy info for projects already in the Catalog? For example, [Tyler House](http://housinginsights.org/tool/#/HI/building=NL000310). In this case, I think it would be better to omit the Quickbase entry, since it's not adding any information.

As a separate issue, I notic

[2018-01-08 16:23] ostermanj opened #614 "Front-end refactor master issue"
This issue refers to front-end refactoring tasks to improve performance of the app and maintainability of the codebase that will not affect the UI or features.

Three main aims, as I see them.

1. Identify and fix any runtime errors the app may be (is) throwing on the client side.
2. Simplify, streamline, and reduce repetition of the JavaScript codebase so that it's easier to maintain and more att

[2018-01-08 17:05] ostermanj opened #615 "Track client-side JavaScript errors Rollbar.js"
I've set up [Rollbar.js](https://rollbar.com/) error tracking on a free account. It will capture and organize any uncaught JS exceptions being thrown on users machines. We'll see if any users are getting errors we're not yet aware of.

I can add any contributors who want access to the reports.

re: Front-end master issue #614

[2018-01-08 17:07] NealHumphrey commented on #615
I'd like to be added!

[2018-01-08 17:12] ostermanj commented on #615
Cool. You should get a notification from Rollbar.

It's on my free account that allows up to 5,000 events / month. I have one other project on there so it may top out. If it does we can consider opening a separate account. Set up is easy enough.

[2018-01-11 18:07] mkalish commented on #615
@ostermanj
I'm happy to create an account (might have one) under the Code for DC banner

[2018-01-11 19:15] NealHumphrey commented on #615
@mkalish that would be helpful!

[2018-01-11 19:16] mkalish commented on #615
@NealHumphrey @ostermanj
I'll set up an account tonight

[2018-01-11 20:53] ostermanj commented on #615
@mkalish when you have the access token I'll change it on master. Thanks!

[2018-01-17 03:41] jkwening commented on #583
Closing - I believe this was resolved in PR #591

[2018-01-17 03:41] #583 closed

[2018-01-17 05:13] jkwening opened #616 "Back-end refactor and data validation master issue"
This issue refers to back-end tasks to facilitate maintainability of the codebase and validation of the data served up to the front-end. In addition to the primary goals of refactoring the codebase and verifying and validating our existing data, outstanding unimplemented features/tasks related to expanding our data source and server maintenance and automation are included.

## Refactor
- [ ] Refac

[2018-01-23 01:04] NealHumphrey commented on #604
Status: there's an open pull request for fixing this. Needs review and then this can likely be closed.

[2018-01-23 01:07] NealHumphrey commented on #560
This appears to be resolved

[2018-01-23 01:07] #560 closed

[2018-04-18 13:56] tacman opened #617 "Possible Data or Import issue (Chastleton)"
something seems wrong with the dates for the Chastleton Apts (http://housinginsights.org/tool/#/HI/na=Chastleton_Apts:_1701_16th_Street_NW&sb=bdng&pb=NL000068).

In particular, the subsidy dates are 2046.

The Chastleton used TOPA in 2007 and many apartment residents because homeowners.  I think Chastleton is a coop, but not sure if 100% of the units are considered subsidized, as I think now they

[2021-07-18 15:48] #380 closed

[2021-07-18 15:50] #471 closed

[2022-01-23 20:46] rishav-karanjit commented on #529
Can I be assigned to work on this issue? I really wanna work on it.