[2016-09-14 00:42] NealHumphrey opened #1 "Sweet Homepage"
Homepage things we need:

"Name TBD"
"Bringing open data to affordable housing decision makers"

2 sentence(ish) description of project
Call to action button ("get project updates" or something)

Project partners (maybe 2 column or 4 column?)
Partners to include
* CNHED - https://www.cnhed.org/

* Neighborhood Info DC: http://www.neighborhoodinfodc.org/

* Living Cities (Civic Tech and Data Collab

[2016-10-18 17:01] NealHumphrey opened #3 "Connect mailchimp to email signup modal"
Under /docs/includes/modal_email.html is the pop-up box used on the homepage when someone clicks the 'Get Updates' button. This has been populated with some template form fields, but these need to be connected so that the submit button actually does something.

We'll use our mailchimp account to collect the information. They allow for custom signup pages.

Instructions on how to add the necessary

[2016-10-18 17:06] #1 closed

[2016-10-18 17:11] NealHumphrey commented on #3
Note, the form fields were pulled from another bootstrap-based site I made, so there are likely some redundant / unused styles and divs - feel free to remove as needed.

In addition, there is code for hidden error messages, but currently no accompanying Javascript to reveal these messages via validation. Bonus would be to add this javascript, but since there will likely not be a huge volume of sig

[2016-10-19 18:09] NealHumphrey opened #4 "Breadcrumbs on docs resources"
Create a new layout (/docs/_layouts) for the resources pages. Model after Main, but add breadcrumbs above the content section to allow easier navigation of the levels of resource items we may have.

Probably best implemented with this plugin, but I have not investigated if it will work for our issue yet:
https://github.com/git-no/jekyll-breadcrumbs

[2016-10-20 17:32] NealHumphrey opened #5 "Demo connection of CKAN API to insights-site with Preservation Catalog sample data"
We have a flat-file dump of the Preservation Catalog from April 2016, available for download as a zip file here:
https://s3.amazonaws.com/nhumphrey-misc/PresCat_Export_20160401.zip

The Code for DC CKAN site (http://data.codefordc.org/) provides a place to store this data set, and we should be able to enable the [CKAN DataStore Extension](http://docs.ckan.org/en/latest/maintaining/datastore.html)

[2016-10-20 18:27] NealHumphrey opened #6 "Basic blog post sidebars and navigation in /docs site"
---

Update
Merged a partial version of this into 'dev'. Still to do:
-Filter the sidebar list so that it the current blog post is not shown.
## -add small teaser of the first 2 most recent posts.

We'll use blog posts combined with an email newsletter linking to the blog as the primary way of communicating project progress with interested users of the tool.

A location for blog posts has been set

[2016-10-20 20:33] NealHumphrey opened #7 "Research potential data sources"
As we're just launching this project, we still need to figure out what data sources can best provide relevant information to the tool.

The [project summary](http://housinginsights.org/resources/summary.html) provides a description of the types of data that we think is relevant to this project. Use this to contribute to the Wiki pages for [data sources](https://github.com/codefordc/housing-insight

[2016-10-20 21:34] NealHumphrey opened #8 "Add PresCat tables to RDS database"
The Preservation Catalog data needs to be added to the Postgres server, so we can begin doing analysis.

This ticket should create an ingestion script to load the data into Postgres. The script should be able to be re-run to recreate the database as needed.

The companion project has a simple method to load a list of CSV files into a database using Pandas (inefficient memory wise, but convenient i

[2016-10-20 21:40] NealHumphrey opened #9 "Prep NeighborhoodInfo tables as CSV"
Excel files summarizing information about neighborhoods in DC are available here:
http://www.neighborhoodinfodc.org/comparisontables/comparisontables.html

But, to use these, they will need to be reformatted into .csv files so they can be uploaded to the database (this will likely utilize code from #8).
1. Investigate the [PresCat](https://s3.amazonaws.com/nhumphrey-misc/PresCat_Export_20160401.zi

[2016-10-20 21:43] NealHumphrey opened #10 "Help Neal with AWS credentials"
I think I set up my RDS server credentials properly, but would love some help from someone that knows Amazon Web Services security protocols to help me make sure!

[2016-10-21 00:00] NealHumphrey commented on #8
I'm going to start on this unless anyone else wants to do it!

[2016-10-21 00:02] mkalish commented on #5
@NealHumphrey
data.codefordc.org is actually already set up with the Datastore so you should be good to go.  I can create an organization for the project and add you to it.  Let me know when register for an account.

[2016-10-21 00:04] mkalish commented on #5
Additionally, we have some experience creating Lambda jobs in AWS to continuously push new data.

[2016-10-21 20:40] NealHumphrey commented on #8
Now live in dev

[2016-10-21 20:40] #8 closed

[2016-10-22 17:51] mkalish commented on #5
Alright, the organization has been created and I've made you an admin of it.

Let me take a look at the data.  The CKAN datastore API can be used as a passthrough to the underlying databases, so JOINs are possible.  However, if the every query is going to involve a JOIN it might be easier to upload de-normalized data.  Do you have an example query?

[2016-10-31 15:25] NealHumphrey opened #14 "Zillow data added to AWS Postgres"
Zillow provides average monthly rents by both neighborhood and zip code. We want an ingestion script to load the data into our Postgres database.

- [x] Verify that [TOU](http://www.zillow.com/corp/Terms.htm) allow us to use the data for this site. See last sentence of 'Permissible Use' paragraph.

- [x] Download the "ZRI Time Series: Multifamily, SFR, Condo/Co-op ($)" data by neighborhood and by

[2016-10-31 15:49] NealHumphrey opened #15 "Zillow to PresCat mapping"
We need a mapping to connect properties in the Preservation Catalog to Zillow data.

- [ ] Test `JOIN` the PresCat table(s) to the Zip Code-based rent data from zillow ( needs to occur after #14 ). Make sure that all PresCat properties can be connected to zip-code based rent data. If not, make a list of un-matched zip codes

- [ ] Create a mapping table or series of tables to connect the PresCat '

[2016-10-31 16:27] NealHumphrey opened #16 "Building Permit Exploration"
Figure out what (if anything) we can do with building permit data

Data sources:

- https://eservices.dcra.dc.gov/OBPAT/Default.aspx
- Out of date? http://data.octo.dc.gov/NewCalendar.aspx?datasetid=5
- http://opendata.dc.gov/datasets/5d14ae7dcd1544878c54e61edda489c3_24
- http://opendata.dc.gov/datasets/930907e0c08843c8b30ab36a29b8ff0e_4

Questions:

- How can we filter out only the 'big investmen

[2016-10-31 16:49] NealHumphrey opened #17 "Viz: Affordable Units in each Neighborhood Cluster"
Side-by-side map-based heatmap and bar chart. This item should mimic #22 (presumably by reusing the same code but with different data).

Heatmap and bar chart values indicates the sum of `project.Proj_Units_Assist_Max`

[2016-11-01 14:36] NealHumphrey commented on #5
Hey @mkalish sorry for delay. We'll typically be accessing the data via the 'project' table, but for example the subsidy table and reac_score tables are one-to-many (project to other). Typically there's not more than 2-5 records in each of those tables per property.

So a common search might be `SELECT * FROM projects LEFT JOIN subsidy' WHERE subsidy.program = "DC housing production trust fund"` f

[2016-11-01 15:01] NealHumphrey opened #18 "--ONGOING-- checklist of misc. items to resolve in final tool version"
- [ ] Make sure Zillow data is credited properly if used
- [ ] Current tax data comes from [opendata Public Extract](http://opendata.dc.gov/datasets/014f4b4f94ea461498bfeba877d92319_56?uiTab=table) which has a tag of June 2015 - unclear if this data is updated. Used in analysis for now, should see if we can tap directly into [Taxpayer Service Center](https://www.taxpayerservicecenter.com/RP_Search

[2016-11-01 17:44] NealHumphrey commented on #14
Note - current code (as of 11/1/2016 2pm) does not properly handle date parsing - added a custom date parser so that nulls would be handled properly, but it needs to also handle multiple date types e.g. y/m/d and m/d/y. currently those in y/m/d format are forced to null.

[2016-11-01 17:46] NealHumphrey commented on #14
Also, data has been uploaded to database but the script needs to be re-run with current code, which forces column names to lowercase and replaces - with _ for easier SQL query building.

[2016-11-03 20:49] NealHumphrey opened #22 "Viz: Total Tax Assesed Land Value of all Affordable Properties by Neighborhood Cluster"
For the Preservation the Preservation Network meeting on Tuesday 11/7, we will be asking potential users about their data priorities - which outside data sources are most important to them. To spur thinking about the type of insights they could get by connecting external data sources, we want to show them 2 example visualizations that combine the Preservation Catalog with at least one external dat

[2016-11-03 20:58] #6 closed

[2016-11-03 21:31] NealHumphrey commented on #9
Haven't done data dictionary, but otherwise in. Closing in favor of a comprehensive data dictionary ticket.

[2016-11-03 21:31] #9 closed

[2016-11-03 21:33] NealHumphrey commented on #14
This is done except for the Terms of Use. I just want a second opinion on interpretation that we are OK to use this for this tool's purpose as long as we include citation. Post a comment with your thoughts!

[2016-11-03 21:39] NealHumphrey opened #23 "Viz: Expiring subsidies"
Another idea for potential visualization. This one may be better done as a graphic mockup for now (Illustrator, Powerpoint, Moqups, etc.), rather than the actual data since most potential users who see it will be familiar with the data it represents.

Timeline of expiring subsidies – graph of sum of city-wide affordable units as it declines over next 10 years via subsidy expiration dates. List of

[2016-11-03 22:42] mkalish commented on #5
Thats definitely something that CKAN can support and if its not going to be that often we can figure out some sort of caching situation.   A nice thing about CKAN is that any queries you're running against POSTGRES should translate nearly 1 to 1 to a CKAN query.

[2016-11-11 15:59] NealHumphrey commented on #22
Live in master and dev!

[2016-11-11 15:59] #22 closed

[2016-11-11 15:59] NealHumphrey commented on #3
Completed, thanks @ostermanj

[2016-11-11 15:59] #3 closed

[2016-11-17 21:53] NealHumphrey opened #38 "Data Dictionary"
*Update* Current draft data dictionary:
https://docs.google.com/spreadsheets/d/1hhuCgOIYNXP1VovA8TXuBRIR0drDSLSlBQsUSk-MS2Y/edit#gid=0

This ticket will stay open while we continue to go through the data ingestion process. Each item should be added to the data dictionary when it is added to SQL and/or accessed via javascript on the page (e.g. location data).

--------------------------------------

[2016-11-17 21:58] NealHumphrey opened #39 "Inspirational Visualization / Tool examples in the wild"
To inform our prototype design process, we want inspirational examples that we can draw from about how we could present our data. These can be:
* Visualizations from other projects
* Mockups
* Real-life demos, like the one we made for our survey landing page: http://housinginsights.org/tool/

Coordinate with the data dictionary ticket ( #38 ) and read the project overview for the types of data sou

[2016-11-17 21:59] NealHumphrey opened #40 "User Profiles + Flowchart"
In preparation for our design brainstorming meeting, we need a description of how this tool will fit into the workflow of potential users. This will be a resource that people in the meeting can reference when shaping the ideas they come up with.

[2016-11-18 00:19] mdelcambre commented on #14
I am in full agreement. It specifically says it can be used for non-personal uses. And agree that the only requirement appears to be that you are citing the Zillow Group with your derivative works.

[2016-11-21 20:18] lizmeister321 commented on #38
Framework for Data Dictionary [currently up in Google Doc Format](https://docs.google.com/spreadsheets/d/1hhuCgOIYNXP1VovA8TXuBRIR0drDSLSlBQsUSk-MS2Y/edit?usp=sharing)

Plan of action is to:
1. Complete doc for all tables on postgres
2. Convert to Markdown tables
3. Post to housing-insights wiki pages

[2016-11-21 21:41] NealHumphrey commented on #40
During Thursday's hacknight, the visualization group (@ostermanj @danhenebery) came up with a list of questions about our users that they wanted to know; we should make sure the user document covers as many of these as possible:

What units of aggregation are meaningful to their work? (and therefore meaningful for the viz)
What units of aggregation do they need to report on?

Is the kind of housin

[2016-11-21 21:55] NealHumphrey commented on #40
![Whiteboard photo of user summary](https://cloud.githubusercontent.com/assets/5642566/20502234/33a0f4e8-b00b-11e6-9421-d025da8859ea.jpg)

[2016-12-01 17:29] NealHumphrey commented on #38
Hi @lizmeister321 and @salomoneb  - hope your Thanksgiving was good! What's your plan for working on this? Do you think you'll be able to do some this week? I'd like to make sure we have a good, digestable summary version that we can print and have on hand at our Wednesday hacknight, so that everyone has something to refer to about the data we have available. It doesn't have to be the complete dat

[2016-12-01 17:29] NealHumphrey commented on #38
And let me know what help you need!

[2016-12-01 18:15] salomoneb commented on #38
Hey @NealHumphrey - I was planning to dive into this over the next few nights. I'll probably want to defer to/speak with Liz about this since she set up the Google doc, but for the short term, I'd like to:

A) Add each column field for each database table in Column A of the corresponding Google sheet;
B) Define each field in Column B;
C) Add in URL references/citations for each table and/or specif

[2016-12-01 20:04] NealHumphrey commented on #38
Great, sounds good. Most of the data has data dictionaries you can copy over - but often these are not quite as descriptive as we would like.

I would suggest aiming for a rough version of your 3 steps based on primarily copy-pasting from source dictionaries, and then add a 3rd step of pulling out or summarizing what look like might be the most important fields  - it doesn't have to be perfect, ju

[2016-12-01 22:40] salomoneb commented on #38
That sounds good to me. I agree with your idea about calling out the most valuable fields. I'll think about the best way to show that information.

[2016-12-05 21:50] NealHumphrey commented on #38
@salomoneb Looks like a great start on the data dictionary in the Google Docs file. I just wanted to check in and make sure I can see it all - is this everything you've done so far?

Next steps:
1) I can copy in stuff related to the Preservation Catalog that I have handy on the appropriate tabs.

2) We need a 1-2 page summary of key things available in the data, for people to reference when drawin

[2016-12-05 22:38] salomoneb commented on #38
@NealHumphrey Yeah, that's it for now. Wading through the census data/various census websites and tools took a bit longer than planned. I was going to wrap up the tax info tonight and start on another table. I spoke to @lizmeister321 the other day and she was going to work on the neighborhoodinfodc info.

I don't know if I'll be able to finish the other tables and do a 1-2 page summary before Wedn

[2016-12-05 22:43] NealHumphrey commented on #38
Great, sounds good. I am teaching tonight, but can do some work on this during the daytime tomorrow. What if you send me an update on wherever you land this evening. I can do a first draft of summary during the day tomorrow, and then maybe you can just do a quick pass and add anything you think is necessary?

[2016-12-05 22:50] salomoneb commented on #38
Sounds good. I'll send something later.

[2016-12-06 04:53] salomoneb commented on #38
Filled in everything except the [neighborhoodinfo tables](http://www.neighborhoodinfodc.org/comparisontables/comparisontables.html). I wanted to get these as well, but Excel 2011 for Mac apparently can't open XML spreadsheet files. I might be able to add tomorrow when I'm on my PC work computer.

* Just about every cell that's shaded has a comment attached to it.
* Green cells are informational no

[2016-12-08 20:02] NealHumphrey opened #42 "Prototype Design Session Sharing - Mockups + Notes"
This issue is a central place to store activity related to our two prototype design sessions.
***************
Update:
In addition, please post links to any inspiring websites or visualizations you've seen! It doesn't have to be housing, just anything that has some element you think we could draw inspiration from. See my starter list below.

Update 2:
Here are the handouts for the 12/15 Session! So

[2016-12-08 20:04] NealHumphrey commented on #42
Handouts from the session:
[UserProfiles.pdf](https://github.com/codefordc/housing-insights/files/640456/UserProfiles.pdf)
[interesting-data-sources.pdf](https://github.com/codefordc/housing-insights/files/640454/interesting-data-sources.pdf)
[ProjectSummaryAgenda.pdf](https://github.com/codefordc/housing-insights/files/640455/ProjectSummaryAgenda.pdf)

[2016-12-13 03:25] br-mcdermott commented on #42
I found it very difficult to think like anything but a tenant/affordable housing advocate so I started out with what I thought I would want if I could get it.  I would want two main pages, one at the level of area and one at the level of building or unit.
[page 1 advocate_BM.pdf](https://github.com/codefordc/housing-insights/files/647897/page.1.advocate_BM.pdf)

[2016-12-14 14:15] NealHumphrey commented on #42
Here's several different ideas for different sections or views of the tool that I came up with:

Single building view:
![image](https://cloud.githubusercontent.com/assets/5642566/21185159/83296a66-c1dd-11e6-9f3e-68d125f84158.png)

Losing buildings:
![image](https://cloud.githubusercontent.com/assets/5642566/21185170/8f900d14-c1dd-11e6-9b97-ffac849d9b13.png)

Ward-blocks homepage:
![image](https://

[2016-12-14 14:29] br-mcdermott commented on #42
I think this visualization by Harlan Harris is great.  I shows how rents in stabilized units can rise quickly even with a low cap on increases for sitting tenants due to high turnover and vacancy increases

https://harlanh.shinyapps.io/rent-stabilization-policy-viz/

[2016-12-14 15:04] NealHumphrey commented on #42
Interesting links to check out:
- http://www.crimeinchicago.org/ - interesting navigation technique - showing a bar graph by Ward, clicking a bar brings up a heatmap of that selection in the 'compare' section below. Clicking the resulting Ward name reveals a nice preview, and then all details takes you to an in depth ward page. Nice clean visual based navigation.

- http://nhumphrey.com/projects/m

[2016-12-14 15:31] NealHumphrey commented on #42
A very similar tool to the purpose we are trying to build:
http://coredata.nyc/

[2016-12-14 16:37] NealHumphrey commented on #42
Another idea, this one for visualizing neighborhood/ward trends across lots of metrics (demographics, rent, etc.)
![image](https://cloud.githubusercontent.com/assets/5642566/21190819/2e5d0056-c1f1-11e6-9d6e-e1221caf3600.png)

[2016-12-14 19:08] NealHumphrey commented on #42
Inspirational example from @kelshew: basic overlay of point-based data (schools) over neighborhood heatmap (income). Could be a simple view that we could replicate for buildings as points. Key design component I think is important is the classification of the point-based data (here above/below average performance).

![image](https://cloud.githubusercontent.com/assets/5642566/21196735/c067d240-c206

[2016-12-15 14:22] joawu commented on #42
http://cps.edu/ScriptLibrary/Map-SchoolLocator/index.html

This was created to help Chicago parents compare Chicago's public schools!

Without entering anything into the search field, click the magnifying glass. This will trigger a drop down with all the schools.

You can then filter this list of schools by grade level, rating, or type of school.

You can also click the checkbox next to any of the

[2016-12-15 15:28] NealHumphrey commented on #42
On the schools topic, here's another one from @cmgiven:
http://atriskfunds.ourdcschools.org/

Noteable design elements:
-'Macro' level can yield insights by filtering (although might be better for our purposes if toggling between categories was easier, such as by using color, to show comparison between groups)
-Clean integrated micro level view by hovering and selecting dots.

[2016-12-15 15:34] NealHumphrey commented on #42
NY Times visualization of the US budget:
http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html?_r=0

Notable design elements:
- Threshold-based color coding (based on % increase/cut) is useful view
- Sizing bubbles emphasizes trends between large/small categories and shows which ones are most important.
-Toggling between views animates the bubbles to split int

[2016-12-15 20:26] ostermanj commented on #42
Here are some rather rough sketches of big-picture elements for each scenario.

Policy advocate #1
![image](https://cloud.githubusercontent.com/assets/13643664/21240663/458e84e0-c2da-11e6-8960-8f59016e7a29.png)

Policy advocate #2
![image](https://cloud.githubusercontent.com/assets/13643664/21240706/75b6685e-c2da-11e6-8d6e-c569d3775825.png)

Policymaker #1
![image](https://cloud.githubusercontent.

[2016-12-15 21:21] salomoneb commented on #42
http://tipstrategies.com/interactive/2014_map/

I like using a draggable slider to dynamically show changes over time. The animation when you click the play button is nice, too, but may be more useful for a policy group presentation than an advocate looking for information.

The attractive thing about a slider like this is that it can easily pair with other visuals. This sketch isn't necessarily h

[2016-12-16 22:28] NealHumphrey commented on #42
Danilo from DHCD provided this link as another example tool, this one being affordable housing focused:

"Here is another tool that might provide some good or bad examples of how to treat these data."
https://egis.hud.gov/cart/#

[2016-12-20 14:46] ableo57 opened #46 "At-risk map and list"
![at-risk map and list](https://cloud.githubusercontent.com/assets/24680097/21354733/38dea1d6-c699-11e6-995e-fbab2854712e.JPG)

[2016-12-21 16:39] NealHumphrey commented on #42
Also see #46

[2016-12-21 16:41] NealHumphrey commented on #42
Closing this ticket! I've added all the design ideas to the /mockups folder in the repository for ease of browsing. Sticky-dot voted drawings will be added there as well.

[2016-12-21 16:41] #42 closed

[2016-12-21 16:42] NealHumphrey commented on #46
Closing all mockup tickets

[2016-12-21 16:42] #46 closed

[2016-12-21 16:43] NealHumphrey commented on #39
Check out housinginsights.org/resources/inspiration for a list of relevant websites

[2016-12-21 16:43] #39 closed

[2016-12-21 16:43] NealHumphrey commented on #23
Not included in prototype

[2016-12-21 16:43] #23 closed

[2016-12-21 16:43] #17 closed

[2016-12-21 17:00] #14 closed

[2016-12-21 17:02] NealHumphrey commented on #5
Note for future developers - the data tables for the April 2016 snapshot of the Preservation Catalog have been added to the data.codefordc.org CKAN site. This should be enough to use for now for demo connection purposes.

[2016-12-21 17:05] NealHumphrey opened #47 "Post user profiles to docs"
Add our current draft user profiles to the /resources page, as well as design criteria.

[2016-12-21 17:06] NealHumphrey commented on #40
Closing in favor of #47

[2016-12-21 17:06] #40 closed

[2016-12-28 19:30] NealHumphrey opened #48 "Prototype #1: Moving Blocks"
We'll focus our first prototype on the riskiest option for our homepage - grouping buildings by category with our animated block view. To complete the experience, we'll also have examples of our individual building page and a Ward-specific page.

**Storyboard:**
[design-1.rotated.pdf](https://github.com/codefordc/housing-insights/files/682910/design-1.rotated.pdf)

**Mockup tool:**
https://moqups.

[2016-12-28 19:36] NealHumphrey opened #49 "Prototype #2: Dashboard Library"
After completing #48 (Prototype number 1), we'll rearrange some of the elements and make some new ones to make a second prototype, focusing on the 'Library' view that includes a dashboard quick-view of each of the library analyses.

This one will likely require a bit more playing with our actual available data to come up with some useful analyses, as we'll be testing the home page method (i.e. the

[2017-01-03 16:43] NealHumphrey opened #50 "Zoning / PUD application status nearby"
We'd like to include notifications of nearby PUD / Zoning statuses in a map + list for each PresCat building.

We will probably want to talk to the Office of Zoning about getting access to this data systematically. They have an online system and posted PDFs. For now, this is the information available:

[PDF list of filings by Ward](http://planning.dc.gov/page/zoning-commission-cases-zc)
[Interacti

[2017-01-05 17:27] NealHumphrey commented on #48
Realistic rent data background info:
We have two sources, which have very different methodologies and therefore values.
* Zillow is based on listings in the market, so is more reflective of unsubsidized market rent, but doesn't normalize for home size and includes single family buildings. Bedroom and square foot normalized values are only available for a few neighborhoods (not enough data)
* The A

[2017-01-05 17:52] NealHumphrey opened #52 "Core D3 scaffolding"
Let's all work through some D3 tutorials, and then set up the core functionality of our D3 websites. Feel free to split this into several separate tickets when it makes sense.

*  Demo basic d3 functions (binding data, displaying it in views, updating data based on a user selection, using transformations)
* Demo connecting to data (flat files, and the CKAN api as noted in issue #5)
* Robust web-ap

[2017-01-05 18:37] NealHumphrey opened #53 "Which rent data to use?"
We have two primary sources of rent data:
**American Community Survey** Table B25058 (median), B25059 (upper quartile) and B25057 (lower quartile).
* [Actual Question](https://www2.census.gov/programs-surveys/acs/about/qbyqfact/2016/Tenure.pdf)
* [Notes on methodology](https://www.census.gov/quickfacts/meta/long_HSG860215.htm) (*i.e. includes utilities)
* The values in the database labeled as acs_

[2017-01-05 21:24] ostermanj commented on #52
Here's the JSFiddle from Tuesday, using simple placeholder data : http://jsfiddle.net/ostermanj/h8xutLtr/26/

And an updated one using raw CSV from the repo showing, as an example, number of occupied units by cluster, sorted in descending order and with a bare-bones browser native tooltip.

The viz looks less interesting when it's sorted by the primary dimension (just looks like a gradient). Would

[2017-01-05 23:29] NealHumphrey commented on #52
@ostermanj I agree re: gradient. For now let's leave that to the prototype. In the prototype group we already discussed changing the behavior of this first screen to use a binary color scale w/ slider instead of the gradient - that way it behaves more consistently like the other color-coding options.

I'd suggest these as individual tasks in roughly increasing complexity. Maybe we make a Fiddle fo

[2017-01-06 04:27] salomoneb commented on #16
Hey Neal,

A couple of items:

1. I emailed citydw@dc.gov for the data [here](http://data.octo.dc.gov/NewCalendar.aspx?datasetid=5). We'll see if they get back to me.

2. In the meantime, I'm trying to load the 2016 data into the database from [opendata.dc.gov](http://opendata.dc.gov/datasets/5d14ae7dcd1544878c54e61edda489c3_24). I know you mentioned a few issues with it, but it seems like a good

[2017-01-06 14:41] NealHumphrey commented on #16
1. cool, let me know
2. My only issue with the opendata.dc.gov data is update frequency - they are unreliable with how often data is updated. Clicking on the metadata link](https://www.arcgis.com/home/item.html?id=5d14ae7dcd1544878c54e61edda489c3) it says it was last updated Jan 20 2016; I think that if we just check the date stamp of the permits it will tell us how out of date it actually is.

I

[2017-01-06 14:46] NealHumphrey commented on #16
p.s. the way I wrote the script, I deliberately used this method because I didn't have to specify the data type - i.e. it's a quick and dirty method that makes it easy to add new files to the upload. But especially with large files it does have the limitations noted in that thread. The fix will likely require optionally specifying some data types. I will probably do that by incorporating it into t

[2017-01-06 15:00] NealHumphrey commented on #16
@salomoneb First note, [this line] is the one that would need to be modified to fix the error you noted, as it is the one that reads the actual file. The line you pointed to (52) is the one that just reads the manifest file, not the file itself.

[2017-01-06 17:11] salomoneb commented on #16
Thanks. I noticed that line after I sent my message and was wondering about it. I'll play around with the load some more when I have time tonight and this weekend. I agree that opendata.dc.gov may not be our best choice if the data's not current or complete; however, when you open the file, it seems to have permits going all the way through 12/30/16. I wonder if the metadata link refers to when th

[2017-01-06 17:39] NealHumphrey opened #54 "Refactor CSV import code to be more efficient"
------------------------
update

This has been partially completed and is in the overhaul-csv-loading branch.

The remaining tasks that need to be completed are
#83
#86

This ticket should be closed, but keeping in the 'on hold' column so it is available for reference if needed.

----------------------------------------------------
## 4 parallel tasks that we can do now:
- [x] `(salomone)` Make JS

[2017-01-06 17:56] NealHumphrey commented on #16
Ok, I just merged a hotfix into dev, and ran the code.

In the medium term, we should rewrite the whole loading function. There's a few issues:
* The benefit of our current method is you don't have to add custom configuration for newly added data sources, because Pandas parses data types automatically. For long term stability this is a downside, because we risk our updated data sources changing fo

[2017-01-07 01:12] ostermanj commented on #52
Ok - I took the easier one and refactored the blocks to v4 — just a few changes needed, including loading the library as an external resource since JSFiddle doesn't have it built in. http://jsfiddle.net/ostermanj/h8xutLtr/29/

[2017-01-07 04:09] salomoneb commented on #38
I updated the data dictionary with the census mapping and building permit tables. The building permit data doesn't have field descriptions, but I think it's still important to list the fields. We can come up with our own descriptions later if necessary.

I also created a new [wiki page](https://github.com/codefordc/housing-insights/wiki/All-Purpose-SQL-Queries) for general PostGres queries. It mig

[2017-01-08 19:59] txomashernandez commented on #48
Thanks, Neal! So far we have a Ward level from our mockup instead of
the neighborhood. We have Ward 5 at the moment, so if possible to get the
5-year rent data for that Ward that would be helpful. I also just mentioned
in an email that Joanne is working on the property view for Friendship
Terrace so we would ideally have the 5-year data for that property.

Thanks!
Thomas

On Thu, Jan 5, 2017 at 12

[2017-01-09 01:40] ostermanj commented on #52
Here's an updated fiddle using a constructor and separating out some concerns. Was thinking of moving toward a model-controller-view way because it's what I'm trying to practice in general, but maybe it's overkill for this exercise, and I wasn't sure how well it would mesh with d3's way of doing things.
http://jsfiddle.net/ostermanj/h8xutLtr/35/

[2017-01-09 17:18] NealHumphrey commented on #16
FLAG we need to reload this table and parse the issue_date as date field. Should check the others too...

[2017-01-09 17:48] NealHumphrey commented on #48
The source data for rent that we are starting with is from the American Community Survey, so for now I'm providing that "as-is", which is for the Census Tract.

Here is the full list of data for Friendship Terrace, copied from Thomas's email plus the additional fields I dug up (putting here to make available to everyone):

Friendship Terrace - 4201 Butterworth Place NW, Washington DC.
[BuildingDet

[2017-01-09 22:07] txomashernandez commented on #48
Much appreciated! This looks great, and hopefully includes everything that
we need for the building view.

-Thomas

On Mon, Jan 9, 2017 at 12:48 PM, Neal Humphrey <notifications@github.com>
wrote:

[2017-01-10 04:46] salomoneb commented on #50
I'm still getting errors when I try to add to the database, but here's a CSV of (I think all of) the zoning data on http://maps.dcoz.dc.gov/zr16/. [https://www.dropbox.com/s/5ntjt1pxgwy58ul/pud.csv?dl=0](https://www.dropbox.com/s/5ntjt1pxgwy58ul/pud.csv?dl=0)

The code that I used to generate it is here: https://gist.github.com/salomoneb/4eaec0e1f578418eb682151bb2e6816f

I scraped the data by quer

[2017-01-10 19:56] salomoneb commented on #50
One thing to point out now that I'm looking at this on my work computer with a functional copy of Excel: check out the "case_type_relief" column, which has at least six PUD-related categories.

[2017-01-10 21:38] NealHumphrey commented on #50
Awesome! Good stuff - congrats on your first 'real' Python script 👍  It's not wildly impractical either - just a few optimizations as well as some things to make it robust if we need to call the endpoint regularly (and a sleep function to keep their servers happy). Other things to look into are whether they also provide a 'latest' endpoint we could tap for just updates/changes, or a bulk endpoint

[2017-01-10 23:19] txomashernandez commented on #48
Hey team,

For us to continue to use and refine, a draft style guide for colors and fonts across prototype pages. Happy to make changes as needed!

https://app.frontify.com/d/bzmigF5Rncdy/housing-insights-style-guide

[2017-01-11 00:26] ostermanj commented on #52
Link to d3 v4 - compatible d3-tip library https://github.com/VACLab/d3-tip

loading this would allow us to easily include tooltips on hovers

the data source would need to have human-readable name of each field for use in the tooltip, and elsewhere so we don't have to hard-code it in

[2017-01-11 01:45] ostermanj commented on #52
moved jsfiddle work into a git repo basically recreating the steps above in separate commits
https://github.com/codefordc/housing-insights/pull/57

[2017-01-11 20:00] NealHumphrey opened #58 "Data Cleaning Issues January"
Place to hold all the issues we need to resolve in our ingestion and processing code:

 - [ ] Number of Bedrooms data not available in PresCat. Need to check on sources of data for this info, it is available on the contract level (not building level) for in the Section 8 Contracts database, need to find out if it is available a) building level and/or b) for other subsidy types.

[2017-01-12 22:27] NealHumphrey opened #59 "Geographic Area Comparison - reference map"
Make a reference map so our data team can tell how closely our different areas align to each other.

One map should be able to show the boundaries
- [x] Neighborhood Clusters
- [x] Wards
- [x] Census Tracts
- [x] Zillow's neighborhood boundaries ([available for download](https://www.zillow.com/howto/api/neighborhood-boundaries.htm)

-Could use Mapbox and do it directly on a javascript map.

Faster

[2017-01-13 00:58] louvis commented on #58
ACS Data
- [ ] First row of data in each table has headers from the original data file that need to be removed
- [ ] "Geography" field data should be parsed into Census Tract, County and State so it can be related to similar geographic data in other tables
- [ ] hd01_vd01 has an upper limit value of "2,000+" that probably should be imputed or marked to prevent skewed analysis

[2017-01-13 01:18] louvis commented on #58
Building Permits
- [ ] "issue_date" should be cleaned and formatted as a timestamp and possibly parsed into separate columns with one for date and one for time depending on how we want to use the data on the front end
- [ ] "full_address" should be parsed into street and zip code
- [ ] "permit_applicant" and "owner_name" need spacing and formatting issues resolved to properly group names

[2017-01-13 02:02] louvis commented on #58
DC Tax
- [ ] "owner_name_primary" needs spacing and formatting issues resolved to properly group names
- [ ] "owner_address_citystzip" probably should be parsed to separate city, state and zip code

[2017-01-14 17:11] salomoneb commented on #50
Noting per our discussion last Tuesday that we'll want to refactor the code to include properties that are on the zoning map but **don't** have any case data associated with them. We talked about putting these in a separate CSV. I'll do this, upload the code to `scripts/analysis`, and add the modified data to the database (if anything changes).

[2017-01-17 19:18] salomoneb commented on #54
Neal,

In `make_draft_json.py`, you [note](https://github.com/codefordc/housing-insights/blob/overhaul-csv-loading/scripts/ingestion/make_draft_json.py#L54):

Just to confirm, the code will only ingest and convert the files that are given as command line arguments, correct?

If so, is this how you picture the command to run the program?
`python make_draft_json.py ../example/relative/filepath examp

[2017-01-17 21:16] NealHumphrey commented on #54
@salomoneb - I think that it is OK to use just one file path for the command line arguments. I think normally we will be processing files one-by-one (since we have to manually review the output anyways...).

If we do have a need to run multiple files frequently, we can import this code into another file and have it call the make_draft_json() function directly - the `if '__name__' == '__main__' cod

[2017-01-18 01:47] ostermanj commented on #52
moved the d3-scaffolding folder into the [/docs/d3-mockup](https://github.com/codefordc/housing-insights/tree/dev/docs/d3-mockup) folder of the repository, which is the codebase for the jekyll site. committed on dev branch. if you clone or pull, the prototype page is available locally at {{host}}/d3-mockup/ (using jekyll serve http://127.0.0.1:4000/d3-mockup/)

[2017-01-18 02:51] br-mcdermott commented on #58
I thought there might be "numbers of bedrooms" information in the MAR (master address repository) but unfortunately there are not.  The CAMA.residential file has numbers of bedrooms but only about 46 observations from CAMA.residential merge with affordable housing table on SSLs. I continue to search for this information.

[2017-01-19 20:40] salomoneb commented on #54
Neal,

https://gist.github.com/salomoneb/53f8c6fb851346f7dd812fa518808859

Here's a test/proof-of-concept version of this script. There are still two things left to do with this:

1. Error handling and cleaning
2. Expanding the metadata for each field

Regarding the second point, can you explain the difference between `field_name_matches_sql_name`, `source_name`, and `sql_name`? Also, I assume `di

[2017-01-19 21:17] NealHumphrey commented on #54
Cool.

Your questions:
`"source_name"` - whatever the field is called in the original CSV file. If the first row of the CSV is a header row, this is the string that matches; if there is no header, it is an integer.
`sql_name` = if the name in the original CSV is not intuitive, we can optionally call it something else in our database (e.g. ACS rent is 'hd01_vd01' instead of 'median_rent'). The make

[2017-01-20 19:25] louvis commented on #58
Parcel and Project
- [ ] "parcel_owner_name", "hud_own_name" and "hud_mgr_name" need spacing and formatting issues resolved to properly group names

Real Property
- [ ] Consider parsing "rp_desc" to create separate columns for info such as buyer, price and sale type that could be useful when relating to other data. It appears that semicolons are used to separate these data types within the field.

[2017-01-24 02:18] ostermanj commented on #52
new commit https://github.com/codefordc/housing-insights/tree/6eb24a6b530f75ab76fa41e3e28f4ade31aadecf on dev branch refactors the code into an IIFE wrapper with more modular design, setting up init() with update() and resize() placeholders. still need to merge in the slider and API call to CKAN that others have worked on. Probably best at this point actually to rewrite it in rather than attempt a

[2017-01-25 03:24] NealHumphrey commented on #54
@blw9u2012 here are the 5 tables for the Preservation Catalog, which are a good starting point for testing real data: https://s3.amazonaws.com/nhumphrey-misc/PresCat_Export_20160401.zip

[2017-01-26 17:41] ostermanj commented on #52
series of commits  pushed to dev branch ending with [this one ](https://github.com/codefordc/housing-insights/commit/7454d3cf085bcdb1f424a3dd930d65a9974cce73) adds animated resorting functions, connects the viz to projects.csv data to better match the prototype, and puts in an initial fade-in.

Earlier examples (the jsfiddle embeds) are now in subdirectory /d3-mockup/earlier. All the load-time eff

[2017-01-26 18:11] NealHumphrey commented on #52
Cool, I'll review the request and do some quick testing to make sure it all looks like it's working. Thanks @ostermanj

[2017-01-31 20:28] #7 closed

[2017-01-31 20:28] #10 closed

[2017-01-31 20:32] NealHumphrey commented on #48
Yay closing this issue! Will migrate some of the resource type stuff over to the next one as needed.

[2017-01-31 20:32] #48 closed

[2017-02-01 15:25] ostermanj commented on #52
@ptgott @wassona @vincecampanale I'm not sure I like this better, but in a new [without-extendPrototype](https://github.com/codefordc/housing-insights/commits/without-extendPrototype) branch I have functions added to the MovingBlock prototype without the helper function. It's maybe a little more verbose this way, which assigns each addition property via dot notation = ...  but the exercise helped

[2017-02-04 20:01] ptgott commented on #52
I'm going to get started on incorporating something resembling the 'metrics' menu from the mockup into the chart, changing the field that maps across the range. I'll spend some time on it today and have something to show by the end of tomorrow.

[2017-02-06 16:08] ostermanj commented on #52
thanks @ptgott. That all looks good. I pulled your branch into dev and then pushed some small changes. I didn't have time to get to your action items, but did update the styling and fixed some small bugs having to do with isNaN values. I'll paste your original note from the pull request below so we have it handy, with a couple responses:

The extendProtoype function is nice so I would keep it even

[2017-02-08 21:40] NealHumphrey opened #73 "Calculate metro and bus route distances"
Using Mapbox's [Python SDK](https://github.com/mapbox/mapbox-sdk-py), calculate the number of (a) metro stops and (b) bus *routes* within 0.5 miles walking distance of each building in the `project` table from our database.

- num. of bus routes should be defined as a bus route that stops at a bus stop within the distance parameter. If there are two stops in the radius that stop at a particular
-

[2017-02-09 22:13] NealHumphrey opened #77 "Past HPTF allocation history - extract or obtain"
Past allocation history of Housing Production Trust Fund  are located in these annual reports:

- [2014 Housing Production and Affordable Housing Annual Report](http://dhcd.dc.gov/node/1203770)
- [earlier years](http://dhcd.dc.gov/page/dhcd-reports)

They contain building name, address, funding level, total project funding amount, etc. But, they're locked in PDFs (ugh). We need to either

a) use a

[2017-02-11 02:41] salomoneb commented on #50
Sorry for the delay. This is done. Before I submit a PR, can you give me access to the `secrets.json` file needed to [set up AWS](https://github.com/codefordc/housing-insights/tree/overhaul-csv-loading/python) so that I can upload the scraped data?

[2017-02-11 17:13] blw9u2012 opened #78 "Document bootstrapping a development environment for new developers"

[2017-02-12 22:05] ptgott opened #80 "Adding an information page for individual buildings"
@wassona @vincecampanale As we talked about on Tuesday, here's a separate Issue for coordinating our work on the building page. We can refer to this when making commits related to the building page.

One thing to think about is how we will bind the data relating to a given building, as loaded in the moving block diagram, to that building's page. We don't have to determine this until after we've pr

[2017-02-12 23:25] vincecampanale commented on #80
I think 'dummy_building.json' is a solid solution for now. We could even get real data from our data set and populate `dummy_building` without that data.

[2017-02-13 02:58] NealHumphrey commented on #80
Let us (data team) know what format works best for you for the data, and we can make sure our python scripts output it in that format! We can make a couple real buildings worth for you to work from, too.

[2017-02-13 15:37] NealHumphrey commented on #52
@ptgott, @ostermanj  - I think we can close this issue. Is there anything we need out of here? I'm going to pull the list of D3 resources out to a page on the website, let me know anything else.

[2017-02-13 15:44] ptgott commented on #52
I'm okay with closing this issue!

[2017-02-13 15:47] #49 closed

[2017-02-13 15:47] NealHumphrey commented on #49
Closing this issue - we'll make a new one based on our interviews

[2017-02-13 17:02] salomoneb commented on #73
Very quickly grabbed the location data for [Metro stations](https://developer.wmata.com/docs/services/5476364f031f590f38092507/operations/5476364f031f5909e4fe3311) and [bus stops](https://developer.wmata.com/docs/services/54763629281d83086473f231/operations/5476362a281d830c946a3d6d/console)

[transport_data.zip](https://github.com/codefordc/housing-insights/files/771781/transport_data.zip)

.

[2017-02-13 17:20] NealHumphrey commented on #73
Cool @salomoneb !

@prisalex came to the Code for DC hacknight and joined up on the project; she started looking into this then (but I'm guessing w/ amount of time available probably didn't get very far). We can coordinate on this tomorrow and see what help she needs.

[2017-02-13 18:19] NealHumphrey commented on #38
I'm moving the link to the data dictionary onto the housinginsights.org/resources page. We can keep it up to date as we go. Closing this issue

[2017-02-13 18:19] #38 closed

[2017-02-13 18:42] prisalex commented on #73
Hello there, was actually planning on working on this today.   I'll keep you all posted on progress...

[2017-02-13 20:39] salomoneb commented on #73
Cool. If you didn't already see it, Mapbox's [Distance API](https://www.mapbox.com/api-documentation/?language=Python#distance) looks like it might be good for this.

[2017-02-13 21:15] prisalex commented on #73
@NealHumphrey This is the output [csv](https://dl.dropboxusercontent.com/u/9114766/wmataDist.csv) for just one of the proj locations.   Let me know if this format matches what you want.  I wasn't sure if you wanted the bus lines themselves in the CSV.  In which case I can just concat them all in one cell or can split those out into individual lines.

Also, I did try to use the Python SDK but had s

[2017-02-13 22:14] NealHumphrey commented on #73
Great @prisalex !

We do want the bus line(s) at each stop. Ultimately the most robust version we might want to display is:
- A map with all the bus stops and metro locations
- A list of the bus routes available at each stop
- The shortest distance a resident would have to walk to get to each bus line, and a list of all the bus lines available within X distance.

To get this into SQL, the simplest

[2017-02-13 22:29] NealHumphrey opened #83 "Make initial Cleaner object"

[2017-02-14 15:37] NealHumphrey opened #84 "Add D3 resources to website"
Copied these from #52's description - should add a page with these to point new developers to:

Resources:

A good clean basic D3 intro: http://alignedleft.com/tutorials/d3/
Using the Constructor pattern in a D3 app: Chris Given tutorial (*see the 'Refactor chart into a constructor' commit in particular)
App-style example using a setup-resize-update pattern, another well documented tutorial: Gap R

[2017-02-14 15:38] #52 closed

[2017-02-14 15:39] NealHumphrey opened #85 "Example data for building view"
@ptgott , @wassona  @vincecampanale  can one of you write out details of what you need data-wise, and your ideal data format (csv or json, and what structure)? CSV is slightly easier to produce, but can also do JSON if the structure of the data for the building view page would be better served by JSON.

@louvis - forgot, you're not there tonight. Flagging this for Hansa instead.

@hansak11 - this

[2017-02-14 15:55] NealHumphrey commented on #50
@salomoneb I wanted to check, do you have any documentation on that API endpoint? We should contact the office of zoning to verify we know how up-to-date that endpoint is; I can do this if you let me know what you have/haven't sent to them already.

[2017-02-14 15:58] NealHumphrey commented on #16
@salomoneb if you're at the session tonight, we should coordinate on this issue too so I know where it stands. As with zoning, we should contact OCTO or whoever to find out what's up with this data. Did you ever hear back from your email?

[2017-02-14 15:59] NealHumphrey commented on #77
Update: Neal emailed the contact person from the report to ask for tabular data. Hold off on scraping this to see if we get a response by 2/17/17.

[2017-02-14 16:25] NealHumphrey opened #86 "Make HISql object to write data to SQL database"
After the print("  Ready to load") statement in the main() function of load_data.py, we want to send the data stored in the newly-created clean.csv file to the database. Then, we want to update/add the appropriate row of the Postgres 'manifest' table to reflect the status of that file in the database.

# Load cleaned.csv into table
This assumes all necessary tests have been passed (i.e. do_fields_

[2017-02-14 17:53] salomoneb commented on #50
Unfortunately, I don't have any documentation. I found it by looking at the script sources on the zoning map page. http://maps.dcoz.dc.gov/zr16/

Looking at the `dateFiled` column of the scraped results, the most recent, legitimate-looking date is Monday, December 12, 2016. There are also some dates that are listed as being filed in 2020, but I don't know why that is.

The map itself is labeled on

[2017-02-14 17:57] salomoneb commented on #16
I'll be at the session. Looks like there's a [separate source](http://opendata.dc.gov/datasets/81a359c031464c53af6230338dbc848e_37) for 2017 data now, too. When/if I get a hold of the map specialist today, I'll ask them about this info.

[2017-02-14 23:59] thischrisoliver opened #88 "Write user interview script"

[2017-02-15 00:57] salomoneb commented on #86
Per discussion with Neal, assigning this to myself.

[2017-02-15 01:40] ptgott commented on #80
@hansak11 @vincecampanale @NealHumphrey @wassona @ostermanj @jeannejk
Here's a list of data fields, as we talked about. They all come from the prototype of the building information page. We can add to/edit this list as we work through the building page, find data sources etc!

### Coordinates of non-building things; used for determining what's near a building
Metro stops
Bus stops
PUD applications

[2017-02-15 06:10] blw9u2012 commented on #83
I think that it might be useful if we could keep track of the rows that should/can be dropped.

[2017-02-15 17:05] NealHumphrey commented on #83
I think that dumping them to a removed.csv file is probably sufficient tracking? We can add a memory representation later if we ever have a place we want to use it.

[2017-02-15 17:10] NealHumphrey commented on #83
I expect most of our cleaning to be replacing individual values rather than removing whole rows, based on the data we have so far and the problems it has.

p.s. I also didn't make this clear in this ticket, but put a note in the code itself - I think we probably want to integrate the write-to-csv functionality into the Cleaner object itself, rather than having another DataWriter object - I don't k

[2017-02-16 17:01] NealHumphrey commented on #50
Notes from our conversation with Matthew Holden at Office of Zoning:

-API endpoint @salomoneb mentions above is best place to get up to date data from zoning. Data is not completely accurate, with older data more likely to be incorrect or missing - Matt guessed about 70% accurate. We should link to the actual filings themselves when we cite specific zoning info so that people can get real data ou

[2017-02-16 17:19] NealHumphrey opened #90 "Extract Inclusionary Zoning Unit counts from PUD applications and Covenants"
@salomoneb this is a ticket as we discussed on the phone for looking into extracting data from PUDs about inclusionary zoning.

Example:
[This status page at DCOZ] (linked from our PUD data source) has a pdf linked under the 'View order' link.

This is the section copied from the 'Benefits' section:

Things to note:

- Looks like we will need a manual process to extract expected unit counts from t

[2017-02-16 17:29] salomoneb commented on #50
**Other notes:**

- Raw building permit data is compiled manually by DCRA and automatically pulled into opendata.dc.gov weekly.
- In the building permit data, look at the permit_subtype_name field for more info about project.
- People only go through Office of Zoning after they’ve applied for a building permit through DCRA and need a special exception or exemption.
- Using public amenities to get

[2017-02-16 19:19] NealHumphrey opened #91 "LIHTC research"
DC's current Qualified Action Plan is from 2012: https://dhcd.dc.gov/release/dhcd-releases-final-qap
Apply via the general RFP: https://octo.quickbase.com/db/bjc34b76f?a=showpage&pageid=37

[2017-02-17 16:00] kasao10 opened #92 "AMI Requirements"

[2017-02-20 17:57] blw9u2012 commented on #83
@NealHumphrey I can see that but I wanted separate resposiblities. I think that each class should have one specific purpose and do it well, which can enable us to be more flexible down the line should we choose to add more functionality to a class while keeping the responsibilities for a class separate. We can also compose a cleaner of a data writer which i think might accomplish the same effect,

[2017-02-20 21:33] NealHumphrey commented on #83
Sure thing - you pick how to do it, that was just my suggestion. Inheriting the cleaner from the writer might be a good path. I just don't want us to get hung up too long getting this working by trying to build out flexibility we might not end up needing.

[2017-02-20 21:54] NealHumphrey opened #94 "Create glossary of terms"

[2017-02-20 21:56] NealHumphrey commented on #94
Create a glossary of preservation organizations, acronyms, and other jargon.

Technical notes for adding it to the website:
Add it to the website under /resources/glossary
* Create a folder in /docs/resources called 'glossary'
* add a file called 'index.md' to the glossary folder
* Use the YAML front-matter from the /resources page as a starting point
* write the glossary in markdown syntax

Thing

[2017-02-21 04:19] Jeannejk commented on #80
This is a first attempt at finding these datafields in the tables loaded into postgres. I found the source for some fields unclear, which I included in a notes column. For now I've been collecting the info in excel, but we can move it into a better format at the next meeting if needed.

[Data Field Sources.xlsx](https://github.com/codefordc/housing-insights/files/789048/Data.Field.Sources.xlsx)

[2017-02-21 17:52] #73 closed

[2017-02-21 17:55] NealHumphrey opened #95 "--ongoing-- Data Sources Research"
Temporary place to hold links and resources for data we need. TODO is move this into long term spot (google doc or wiki or website)

[2017-02-21 17:55] NealHumphrey commented on #95
https://dc.gov/page/open-government

[2017-02-21 20:30] thischrisoliver commented on #94
I made a Google doc in our folder for now and started listing terms and definitions. Anyone can add to it: https://docs.google.com/document/d/1Qres4NpH0E2e_vj1M39rBpJEIZQ67shr-OV_I3RXEM0/edit?usp=sharing

[2017-02-21 23:05] kasao10 commented on #92
@NealHumphrey Could you assign this issue to me, and when you get a chance, send a list of the DC subsidy programs?

[2017-02-22 01:36] blw9u2012 opened #96 "Add cleaner name to the meta.json file for cleaner type to be used."

[2017-02-22 01:38] blw9u2012 commented on #96
When we create the meta.json file, we should add a property for each table to identify which cleaner should be used to clean CSVs associated with the table.

[2017-02-22 01:43] #88 closed

[2017-02-22 01:43] Jeannejk opened #97 "Write building view queries for the D3 team"

[2017-02-22 01:45] blw9u2012 opened #98 "Figure out cleaner structure and files that need cleaning"
Identify the data sources that need to be cleaned, and create a design for which Cleaner objects need to be created and how they will inherit from each other to reuse methods.

[2017-02-22 01:59] blw9u2012 opened #99 "Create Docker Image for local database"
Create a docker image of our postgres database.

[2017-02-22 02:12] louvis commented on #58
- [] All "timestamp without time zone" data fields should be parsed into year-month-day for easier integration on the front end

[2017-02-22 02:25] thischrisoliver opened #100 "Write interview script for Scott"

[2017-02-22 02:26] thischrisoliver opened #101 "Write interview script for Kathryn"

[2017-02-22 15:11] salomoneb commented on #96
Made fix and created PR: https://github.com/codefordc/housing-insights/pull/102

[2017-02-22 17:22] salomoneb commented on #54
Photos of the workflow that we discussed at our meeting last night.
![img_3290](https://cloud.githubusercontent.com/assets/16308025/23223604/76fe3944-f8f9-11e6-86fb-2bd351785c3d.JPG)
![img_3292](https://cloud.githubusercontent.com/assets/16308025/23223615/7c43e778-f8f9-11e6-9287-af1a60ed78d6.JPG)
![img_3293](https://cloud.githubusercontent.com/assets/16308025/23223618/7de38e6c-f8f9-11e6-85cf-b6c4a

[2017-02-22 22:48] NealHumphrey commented on #101
Didn't get a chance to do this today, and I'm going to work on my other open source project tonight so can't do much this evening. I can do it first thing am, but if someone else takes a first pass tonight please do! I don't have much more info about her or her role besides what's in the google doc - feel free to google for context if we want more background.

[2017-02-23 17:57] #101 closed

[2017-02-23 19:39] NealHumphrey commented on #92
So. This is a bit complicated. Below is the exported list of all the unique 'program' names from the Preservation Catalog. Many of these are variations on a theme - for instance, a lot of the 'sec 202' or 'sec 8' buildings will have the same rules. Also included is the count of number of buildings in the catalog for each type, to prioritize which to do first.

[2017-02-23 19:44] NealHumphrey commented on #92
Subsidy list:
[subsidies.xlsx](https://github.com/codefordc/housing-insights/files/797527/subsidies.xlsx)

Program types not in the Preservation Catalog that we would like to add:
- Inclusionary Zoning (this I know is building by building requirements and is referenced in another issue #90 ).
- Additional Housing Production Trust Fund buildings.

[2017-02-23 19:49] NealHumphrey commented on #98
@prisalex the places we've been collecting cleaning-needed information is on this ticket:
https://github.com/codefordc/housing-insights/issues/58

and to some degree in the Data Dictionary:
https://docs.google.com/spreadsheets/d/1hhuCgOIYNXP1VovA8TXuBRIR0drDSLSlBQsUSk-MS2Y/edit#gid=0

[2017-02-23 19:57] #85 closed

[2017-02-23 19:58] NealHumphrey opened #104 "Good Neighborhood definition - research criteria in Moving to Opportunity"
Recent research on the Moving to Opportunity program shows the results of a long term longitudinal study looking at the effect on children of living in better neighborhoods.

We want to know the specific data fields they used to decide their definition of a 'better neighborhood'. We will use this to inform what data to include about the neighborhoods.
- [ ] Make a list of all the publicly data typ

[2017-02-23 20:24] NealHumphrey commented on #104
As I said it's not necessary to actually download the data from ACS or Census yet, but we do need to find the specific table to use. You can browse those via the American Fact Finder using the same process you would use to download the data. Steps are here:
https://github.com/codefordc/housing-insights/wiki/American-Community-Survey---Download-Instructions

[2017-02-23 21:09] NealHumphrey commented on #58
Though the ticket is closed, there is lots of good notes and information on the issues to note with the PUD data on this ticket: https://github.com/codefordc/housing-insights/issues/50

[2017-02-23 21:09] NealHumphrey opened #105 "Auto-population of data fields in Jekyll data documentation"
We want a jekyll data sources page (e.g. /docs/data/example.md) to automatically pull in and list the information from meta.json into a human readable format.

The documentation of our Github Pages currently has one page for each table of the database.

- Top section is narrative, describing the data source and linking to other web information on the file. This is created manually by the data team

[2017-02-23 21:13] #100 closed

[2017-02-23 21:45] NealHumphrey opened #106 "Test and cleanup new Python folder structure"

[2017-02-23 21:56] NealHumphrey commented on #106
- [ ] @prisalex  - can you edit your wmata script (now moved into the /python/scripts folder) to use appropriate paths to store data in `{repofolder}/data/raw/wmata` or somesuch, and to use the `{repofolder}/python/housinginsights/secrets.json` appropriately?

- [ ] @salomoneb I moved your  script for PUD scraping into /python/scripts (instead of in the package under ingestion). Can you check for

[2017-02-23 21:59] NealHumphrey opened #107 "Building address / name resolution issue"
When we are pulling in data from new sources, sometimes we will have an address or a building name or both. We want to be able to connect these to a specific nlihc_id in the 'projects' table.

- [ ] Write a Python function that takes `building_record` and `projects_array`. `projects_array`is a numpy array where each row is every record of the projects table, and each column is whatever columns you

[2017-02-24 03:31] salomoneb commented on #86
@prisalex and I worked on this today. We sketched out the blueprint for the full HISql object and wrote some preliminary code for the DataSql subclass. I committed our work to my forked repo in an `add-datawriter` branch. We had a few questions about how we'll be reading from and updating information in the database, but I'll put those through when they're more organized.

I'm going to try to work

[2017-02-24 14:38] NealHumphrey commented on #86
@salomoneb and @prisalex - great! Reminder, I'm out of town for the week starting this afternoon (ski trip with my dad). I'll have my computer and will try to stay on top of Git and Slack messages, but will be slower to respond.

On reading and updating, not sure what your questions were, but here's what I had in mind:
* python/housinginsights/tools/dbtools.py has functions to get SQLAlchemy engin

[2017-02-27 00:21] ptgott commented on #80
#109
I've done a bit more work on the Mapbox part of the building information page. So far I've pulled data from Open Data DC (the 'Affordable Housing' dataset) for development purposes, in place of the old Projects.csv. I've added a layer in one Mapbox map for all affordable housing. I've also done some work on making the MapboxPortal constructor a bit more extensible.
### Here are some things th

[2017-02-27 01:40] blw9u2012 commented on #99
Created a Docker image that is available here: https://hub.docker.com/r/blw9u2012/codefordc/. We'll want to create an account specifically for codefordc/housinginsights and associate it with that account.

[2017-02-28 17:55] thischrisoliver opened #110 "Create tenant advocate persona"

[2017-02-28 17:56] thischrisoliver opened #111 "Create policy advocate persona"

[2017-02-28 17:57] thischrisoliver opened #112 "Create policy maker persona"

[2017-02-28 17:57] thischrisoliver opened #113 "Create developer persona"

[2017-02-28 18:00] thischrisoliver opened #114 "Competitive analysis"

[2017-02-28 19:46] ptgott commented on #97
It looks like it's pretty straightforward to add layers to the Mapbox maps on the building information page if I fetch geoJSON. For the data columns listed on issue #80, would you be able to process the data involving coordinates into geoJSON? Thanks!

[2017-03-01 05:33] NealHumphrey commented on #92
@kasao10  Public housing is managed by the DC Housing Authority; DHCD isn't involved in this (hence not listing that program on the pdf you linked).

You'll probably want to dig around on their website: http://www.dchousing.org/
and/or on the HUD info about public housing programs: https://portal.hud.gov/hudportal/HUD?src=/program_offices/public_indian_housing/programs/ph

[2017-03-01 05:37] NealHumphrey commented on #114
Here's the stuff we have previously collected!
http://housinginsights.org/resources/inspiration

[2017-03-01 18:52] thischrisoliver commented on #114
Here's the link to the Google Sheet that Krissy created for documenting our research: https://docs.google.com/spreadsheets/d/1kmrCwlBp5AHGy7yVHeL8XN8oQrX_2GB941mLOaqBnCI/edit?usp=sharing

[2017-03-02 18:40] rmcarder commented on #59
I've added these to the Map View.html page with a toggle to show one or multiple at a time. Will commit it tonight.

[2017-03-06 18:47] NealHumphrey commented on #90
New contributor Emma might be working on this - I followed up with her today to see if so. Will update the ticket with status.

[2017-03-07 00:31] wassona commented on #80
I finished an initial version of the building subsidy timeline chart, but implemented it with a local flat data file rather than a dummy_building.json, so I need to get that together. Tonight at the Hacknight I'm planning to start on the accordion.

[2017-03-07 01:45] NealHumphrey commented on #107
@NoMoreOreo is starting on this at CodeforDC hacknight. Thanks Louis!

[2017-03-07 17:49] NealHumphrey commented on #104
@rmcarder I'm assigning this to you per the printouts you showed me last night. Can you cross check your highlighted fields against where to get the data sources and add them to the manifest.csv file as we talked about? You can leave the S3 path blank for now, but use the notes field to provide instructions or comments on them. You can make a pull request with the manifest updates, and next week I

[2017-03-07 17:51] NealHumphrey commented on #90
@emkap01 I'm assigning this to you per our discussion last night! Be sure to add links to the Google Doc notes you're making to this issue so we can keep track of where they are. Thanks!

[2017-03-07 20:19] thischrisoliver opened #119 "Finalize script for Kelly"

[2017-03-07 20:20] thischrisoliver opened #120 "Write script for Danillo"

[2017-03-08 02:06] emkap01 commented on #90
This [research report](https://goo.gl/tGuXwN) explains that we need to scrape specific documents (i.e., "Orders") from all case files related to PUDs that are hosted on the portal, and then do some additional parsing on those docs to figure out which ones might be relevant.

I can design a schema for what we would want to do with the parsed data, but that seems premature given that we don't know w

[2017-03-08 02:18] thischrisoliver opened #122 "Tally data requests"

[2017-03-08 02:19] #120 closed

[2017-03-08 02:20] thischrisoliver opened #123 "Compile interview takeaways to prepare for making personas"

[2017-03-08 02:20] #119 closed

[2017-03-10 04:53] joawu commented on #114
I'm going to take a look at the Pres Cat and the DataKind neighborhood indicators data viz!

[2017-03-11 17:30] emkap01 commented on #90
As a next step, it would probably be worthwhile to run a quick check in order to see how many of the properties represented in the (potentially) 692 PUD cases are already mentioned in the Preservation Catalog.  Obviously there might still be details in the the PUD documents that would be useful to have even if PUD properties are already in the Catalog, but finding out whether the PUD properties ap

[2017-03-11 20:41] NealHumphrey commented on #90
@emkap01 Sounds like a great idea. I just sent you database usage info and login stuff, let me know if you hit any snags connecting!

[2017-03-13 23:02] NealHumphrey commented on #90
@emkap01 - I was looking at DHCD's report page, and found they do an annual report on IZ that includes the quantity of units issued permits / built in each year. But, they don't list out where they are or how they track them. We should see if we can find that out, reaching out to find the right person there.

http://dhcd.dc.gov/page/dhcd-reports
most recent available (2015): http://dhcd.dc.gov/sit

[2017-03-14 12:33] emkap01 commented on #90
Good find. One of the footnotes speaks briefly to the sourcing of those numbers:

The exemptions would probably involve a fair amount of work to catalog accurately, above and beyond the non-exempt units.  But it definitely all sounds like data worth pursuing.

As for the PUD data, I updated the research report to reflect that [roughly half of the potential 692 properties represented in pud.csv app

[2017-03-14 19:17] NealHumphrey opened #124 "Agenda for March design session"
On March 21, we'll hold another design session, compiling the results of our interviews and turning this into a plan for our next interview.

We need an agenda for the session. As a starting point I recommend the 'Prototype Breakout' section of [this agenda we didn't use in February](https://docs.google.com/document/d/1mSnS-LfggJUCexCmB1iG29_VbQIYq7h51w5SXaAyh1w/edit#heading=h.8ajzx4klxwo3). In ad

[2017-03-14 20:05] NealHumphrey opened #125 "Neal to add user persona data to spreadsheet"
From Chris:
In preparation for making personas I created a spreadsheet where I summarized 3 biggest takeaways, quotes, and other important notes for each interview:

https://docs.google.com/spreadsheets/d/1MqzSFv5cshjSQur9d1UazFeo4t3dloR6kpv2c5HylqQ/edit?usp=sharing

I have 2 questions for you:

First, Angie Rodgers isn’t labeled with a user type, but she seems like either a Policy Advocate or Mak

[2017-03-14 23:24] thischrisoliver opened #127 "Create evaluator persona"

[2017-03-15 01:30] thischrisoliver opened #128 "Create affinity maps for personas"

[2017-03-15 01:38] thischrisoliver opened #129 "Review data requests"
Review the Grouped sheet of Joanne's new data requests spreadsheet and mark off what data we have access to now, what we might be able to get access to at some point, and what we're probably never going to get.

https://drive.google.com/file/d/0B6iVubS2zjk4bFpOV3Q0RndQSk0/view?usp=sharing

[2017-03-15 01:44] #122 closed

[2017-03-15 15:28] NealHumphrey opened #130 "Home Mortgage Disclosure Act - research data"
Research what data is available via the Home Mortgage Disclosure Act. This has been recommended by a couple of people that we have interviewed or that have heard about the project.

- How granular can we get data (city level, census tract level, etc.)
- What data fields are available? What caveats are there to them? What do they tell us about the city?
- What time periods is the data available for

[2017-03-15 15:29] NealHumphrey commented on #130
@emkap01 This might be a good next task for you to look into while we wait to decide what to do about the PUDs! Let me know if you want to grab it (you can assign yourself using assignees if so)

[2017-03-17 00:06] emkap01 commented on #130
I grabbed it. I'll start looking into it.

[2017-03-17 13:47] NealHumphrey opened #131 "HPTF Audit - investigate atudit report for data sources"
[This WAPO article](https://www.washingtonpost.com/local/dcs-affordable-housing-program-has-been-mismanaged-according-to-city-auditors-report/2017/03/16/42038e86-09b3-11e7-93dc-00f9bdd74ed1_story.html?utm_term=.4780e3e41fa7) summarizes findings from an audit of the housing production trust fund. We should read the original source report, summarize findings on our own, and see if it looks like the

[2017-03-17 13:59] jalbertbowden commented on #131
http://www.dcauditor.org/HPTF

[2017-03-17 20:59] NealHumphrey commented on #16
Looking into this again. As of now, the 2017 data set does not appear to be updating (only a handful of permits last modified around Jan 1) . Things we need to do:

- Find how to get access to the live update version if opendata.dc.gov is not going to cooperate.
- Figure out if we need to deduplicate the annual data versions. On Opendata.dc.gov, each of the annual data sets says that it is all per

[2017-03-17 21:06] NealHumphrey opened #132 "Combo replace - append process for data ingestion"
For the building permits dataset, if we keep using opendata.dc.gov, we need the ability to overwrite the previous 2017 year data (to avoid duplication) but keep the 2016 and earlier data.

Probable solution is to mark this as a table to be dropped, but instead of converting the old files to 'superseded' status in the manifest, should keep them as 'use'.

flagging this for later

[2017-03-17 21:35] joawu commented on #129
Updated data request tally spreadsheet here: https://drive.google.com/open?id=0B6iVubS2zjk4dTRzR0J4aDBuZ00

- Feel free to change the grouping of data as you see fit.
- Formatting is funky right now, but once all the data is in I can make a nicely formatted pivot table

[2017-03-17 21:56] NealHumphrey opened #133 "opendata.dc.gov files have extra bytes at file start"
Reading from the beginning of the file (i.e. first header row) of files downloaded from opendata.dc.gov produces this type of thing:

"\u00ef\u00bb\u00bfobjectid"

This is true for both the dc_tax data and the building_permits data. Telling Python to parse as utf8 (vs. latin1) produces similar results, though slightly fewer extra byte characters.

For now I am copy-pasting all the contents of the

[2017-03-19 22:24] #123 closed

[2017-03-19 22:24] #128 closed

[2017-03-20 17:18] NealHumphrey opened #136 "Scrape the DHCD DFD Pipeline public database and add it to our ingestion pipeline"
DHCD provides a public dashboard of the projects they are funding along with their current phase of development. This is a quickbase application - [browsable version here](https://octo.quickbase.com/db/bit4kvfmq). From our interview with Chris Dickerson-Prokopp it sounds like this data is probably pulling from the most up to date data (we will want to verify this eventually).

Quickbase provides A

[2017-03-20 17:39] NealHumphrey opened #137 "DMPEDs Real Estate Projects Pipeline data"
DMPED maintains a [real estate project pipeline](https://octo.quickbase.com/db/bgk8b4c4n) database that is accessible through quickbase. They also summarize the information obtained both there, in DHCD's quickbase database, and the Inclusionary Zoning projects on an [affordable housing dashboard](http://open.dc.gov/economic-intelligence/affordable-production-preservation.html).

Notes:
- Quickbase

[2017-03-20 17:45] NealHumphrey commented on #77
Latest update: @heysol extracted data from the 2014 report using Tabula. It has been saved into the folder /data/raw/housing_production_trust_fund folder (downloadable via S3) but has not been integrated into the database.

[2017-03-20 17:47] NealHumphrey commented on #137
@emkap01 and @salomoneb, this ticket plus #136 fit well with what you all have started on the PUD stuff. It might be good for one/both of you to take ownership of the whole topic of integrating city records of affordable housing spending, since there seems to be partially overlapping information. It's probably going to take a few conversations with people at the city to sort out what's what - DMPE

[2017-03-20 21:01] NealHumphrey commented on #124
# User Flow Components:
Whole city overview on various metrics.
Examples: Blocks view, Color coded map. As in prototype #1, sliders/filters are for showing thresholds for data.

Filter to custom building list, average stats by group compared to city
Examples: left sidebar of Kayak.com flight searches for filtering search results. This is in contrast to the use of sliders/filters in prototype #1.

[2017-03-20 21:39] NealHumphrey commented on #129
This will be done by tomorrow morning! @joawu let me know if that's still the most recent version

[2017-03-20 21:42] NealHumphrey commented on #125
Sorry for the delay in filling these out @thischrisoliver . I marked Angie - she's kind of an evaluator, kind of a developer. I marked has evaluator as the closest fit.

Elin Zurbigg was a no show on the second interview too, so I didn't bother scheduling again. For the others I'll fill in, with priority towards Chris and Adam first thing tomorrow am (heading out to an evening event now... ).

[2017-03-21 13:09] NealHumphrey opened #138 "Crime Data"
MPD supplies a crime search map that has live, up to date data (updated daily). Users can manually search for data and can download the results to a .csv file.  By selecting the third tab (Other Geographic Area or Point) you can access data for the whole district at once ("District Boundary").
http://crimemap.dc.gov/

Data fields available:
Report date, start date, end date
shift (day/evening/midn

[2017-03-21 13:54] #96 closed

[2017-03-21 13:54] #86 closed

[2017-03-21 13:56] #59 closed

[2017-03-21 13:56] #54 closed

[2017-03-21 14:12] NealHumphrey opened #139 "Craigslist rent data"
Can we scrape Craigslist to provide another source of real-time market rate rent?

Paper that did this - can pull in their findings (2016): https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2781297

Technically against their terms of use: https://www.craigslist.org/about/terms.of.use.en

Need to investigate whether we can do this legally via some sort of research exception to terms of use. Maybe

[2017-03-21 14:20] NealHumphrey opened #140 "Get data on all housing units in DC"
We want to contrast the subsidized affordable housing we have with what is available in market rate for the rest of a neighborhood/ward/area. We then can see what proportion of housing is subsidized - and in some areas this may be significant, and for example can influence things like American Community Survey stats that include these residents.

Ideally we will have total counts of residential un

[2017-03-21 14:24] NealHumphrey opened #141 "Exploratory Visualizations"
Make exploratory visualizations using drag and drop tools like Tableau. We will show these to users to find out what is actually most important for us to include in the tool.

Starter list of exploratory visualizations to create

- How many units of subsidized affordable housing are there in DC? Slicing:
    - Slice by neighborhood / ward
    - Slice by bedroom mix
    - Slice by AMI served (data

[2017-03-21 20:07] NealHumphrey commented on #105
It seems like the best thing to do with this will be to create a /documentation folder on the Github Pages site. We should have one page for each table of the database.

- Top section is narrative, describing the
- Bottom section uses the [Data Files](https://jekyllrb.com/docs/datafiles/)  feature of Jekyll to read in our meta.json and automatically pull in data names and descriptions using the 'd

[2017-03-21 23:22] emkap01 commented on #137
OK. I will compare what DMPED already has in their AH dashboard against the data outlined in the 5 tickets above.  Once we have a good idea of the overlap (and the delta), I'll reach out via email and copy @NealHumphrey plus the rest of the data team.

[2017-03-21 23:35] emkap01 commented on #137
Unfortunately neither the dashboard nor the GitHub repo offer any real granularity as to what AH data DMPED used, or where they sourced it from.  So figuring out "overlap" may not be possible, but I can still come up with a short list of questions we can ask them based on the 5 tickets above.

[2017-03-21 23:46] prisalex opened #142 "POC: Use AWS Lambda to serve meta.json"
Proof of concept to show that we can use Lambda as our API layer/server for UI team.
- Initially serve up meta.json
- Future APIs to retrieve entire tables via table_name

Known bugs with test API:
1. FIXED - Following tables can't be queried because datetimes aren't serializing: building_permits, manifest, project

[2017-03-22 00:14] emkap01 commented on #50
@salomoneb I'm not sure if it helps, but I did some quick and dirty analysis of the pud.csv file you scraped to check and see whether the PUD case files represented in that csv might include useful details on the Affordable Housing inventory. It's a different topic than what you're covering in this Issue but there may still be some useful context in the notes I drafted.  Bottom line is we will pro

[2017-03-22 00:40] ptgott opened #143 "MVP: Integrating elements into a map-based minimum viable product"
At the 21 March meeting we talked about producing a basic minimum viable product that we could easily extend with various data sets. Some of the work consists in stitching existing components together, and some requires adding some new features. Some requires work on the backend.

We'll organize the stitching around the Map View (javascript/tool/map-view.html). The user will select from geographic

[2017-03-22 00:57] emkap01 commented on #130
I've started a [draft report](https://docs.google.com/document/d/1xcPpX37nq4TUpb-YNcDM0U915z0Eq7DkALohKOPJeG8/edit?usp=sharing) which includes a link to a sample of the data.  I'll continue updating it as I learn more. Based on what I've seen so far, it looks like the HMDA records could be useful for establishing mortgage trends at the census tract level.  There were ca. 35,000 HMDA records for DC

[2017-03-22 14:12] thischrisoliver opened #144 "Create new primary and secondary user flows"

[2017-03-23 16:23] NealHumphrey commented on #143
I added a slight clarification to the meta.json  bullet.

I also put my name by the one that I'll work on (transposing zone-based data to different zones). I reached out to Peter Tatian on this as he does something similar in Neighborhood Info DC; I also think I have a good idea on how to do it using DC's Master Address Repository (i.e. using residential housing units as a proxy for population, si

[2017-03-23 21:07] NealHumphrey commented on #133
This is probably BOM headers:
https://en.wikipedia.org/wiki/Byte_order_mark

[2017-03-23 21:58] NealHumphrey commented on #105
Neal set up a rough framework in /docs/data, which has been merged into /master and /dev. The automatic population of meta.json needs to be added to this.

[2017-03-23 22:10] NealHumphrey opened #147 "Python Script that combines arbitrary point-based data into geographic zones"
We have various zone types:
- Zip code
- Neighborhood Cluster
- Ward
- Census Tract

We have several point-based data sets:
- Building permits
- PUD applications
- Crime events
- Subsidized buildings

We want to be able to calculate membership in any arbitrary zone. Using the [Project.csv](https://s3.amazonaws.com/housinginsights/raw/preservation_catalog/20170315/Project.csv) flat file, write a sc

[2017-03-23 22:19] NealHumphrey opened #148 "Geographic zone overlap percentage"
We have various geojson files for different zone types:
- Zip
- Neighborhood Cluster
- Census tract
- Zillow neighborhoods
- Ward

Geojson files indicating the boundaries of each zone type are available here: \housing-insights\javascript\tool\data.

If a data source is provided at one aggregation type, we want to be able to map it to another aggregation type. There are two methods we can use:
1)

[2017-03-23 22:21] NealHumphrey commented on #147
Need this ASAP so D3 team can use in their first tool version - if anyone else can commit to getting a proof of concept by our Tuesday meeting let me know, otherwise I'll take it on.

[2017-03-23 22:22] #124 closed

[2017-03-23 22:29] NealHumphrey opened #149 "POC: Link up to the Master Address Repository"
We need to connect to the Master Address Repository for various reasons:
- Proxy for population-weighted zone allocations (count all residential units in each zone type, e.g. Ward or Zillow Neighborhood)
- Finding the unit counts of specific buildings.
- Geocode addresses into zone types when one is not provided

Set up a proof of concept of how to query the MAR for one/all of these scenarios:
- P

[2017-03-24 00:29] NealHumphrey opened #150 "Add Louis to google drive"
Neal to do

[2017-03-24 18:53] NealHumphrey commented on #140
This should be done in conjuction with #149 , which is a proof of concept to link up the Master Address Repository.

[2017-03-24 19:07] NealHumphrey commented on #138
Long term: need to find an automated way to get the data. Reach out to MPD / OCTO about an API endpoint to use.

[2017-03-24 19:24] NealHumphrey commented on #130
@emkap01 cool, good stuff. I watched the video. So it looks like each record is an individual loan application (accepted or denied)? Did you get a sense of whether the data is complete (i.e. all loans in the US) or if there's any particular bias to which types of banks submit to HMDA and which types of loans they submit?

[2017-03-24 19:28] NealHumphrey commented on #98
Closing - we are now using this spreadsheet to track our current and desired data sources:
https://docs.google.com/spreadsheets/d/1ueWgrtzlMSKD5y8QF7Xdj3V_4v7xw_A8vwhLAAqaZys/edit

And #129 has a more specific next task for comparing user requested comparisons to our desired data list.

[2017-03-24 19:28] #98 closed

[2017-03-24 19:28] NealHumphrey commented on #97
Closing in favor of our new proof of concept Lambda API #142

[2017-03-24 19:28] #97 closed

[2017-03-24 19:30] NealHumphrey commented on #106
Hey @salomoneb can you take a look at this at some point? Should be quick. We will eventually need to integrate this script into the current ETL pipeline instead of having to run manually to make a flat file, but that requires a project-wide solution.

[2017-03-24 19:31] NealHumphrey commented on #94
TODO: need to link this to the /resources page.

[2017-03-24 19:31] NealHumphrey commented on #94
Assigning myself to edit the /resources page

[2017-03-24 19:34] NealHumphrey commented on #78
@blw9u2012 I'm trying to use the boilerplate Docker images that @mkalish set up through the Code for DC project-manager project - I know you made a docker image for postgres for yourself. Would be great to get your help on this if you're still down!

[2017-03-24 19:36] NealHumphrey commented on #15
Lots of related issues: #149 and #59 and #148 and #147

[2017-03-24 19:37] NealHumphrey commented on #5
Closing this in favor of our API approach in #142

[2017-03-24 19:37] #5 closed

[2017-03-24 20:41] NealHumphrey opened #152 "Access Census data via API instead of Fact Finder"
For now, we're using the American Fact Finder to download the tables we need manually. It would be better to get this via an API, so that a) we can add new data sources more quickly b) we can update the data each year a new version is released and c) we can make one big table of all census data instead of one table per data field (the way files are provided in fact finder)

Using the MarApiConn as

[2017-03-24 20:50] NealHumphrey commented on #152
Useful summary of geographic categories: http://www.caliper.com/Maptitude/Census2000Data/SummaryLevels.htm

[2017-03-26 12:42] ptgott commented on #143
Unless anyone else is already working on it, I'll start on integrating the building information page into the new layout (the first task).

[2017-03-26 15:36] emkap01 commented on #130
Yes, each record represents an individual loan application, regardless of whether it was accepted or denied.  The full dataset contains ca. 35 million records and ostensibly represents the entire U.S.  There is a field labeled 'purchaser_type_name' that indicates which type of entity bought the loan, however it only contains a single value to describe any type of bank - ' Commercial bank, savings

[2017-03-26 18:41] kasao10 commented on #92
@NealHumphrey

1) Who was your planning contact at DCHA?  Or should I reach out directly to Adrianne Todman?
2) Should I reach out to Danilo for possible building specific database of AMI requirements for Housing Production Trust Fund?  Looks like this fund is administered by DHCD, and there are three different brackets (0-30, 31-50, 51-80).
3) Could you pull for me the unique values for the DC su

[2017-03-26 22:13] ostermanj commented on #143
Yeah, go for it!

[2017-03-27 01:03] ptgott commented on #143
I've done some work on linking the Building Page to the Map View in #153
### What I've done
1. I've done a bunch of minor whitespace changes. This is why the pull request might seem more extensive than it really is.
2. In building-map.js, the MapboxPortal constructor had assumed that buildingForPage would be assigned from the beginning of the script. I've changed this to assign buildingForPage bas

[2017-03-27 13:36] ostermanj commented on #143
Nice. I'll try to review later today. My laptop was locked in my wife's office all weekend. It's good to have it back :)

[2017-03-27 14:08] NealHumphrey commented on #142
From Priscilla:
So checking out lambda and there are some challenges for developing it. I think the two big ones are code mgmt and testing locally.

Code management:
I’ve been playing around by editing in AWS GUI which is not the best approach for the real deal.  Essentially we have to create a workflow to zip up the code from git and deploy it to the server.

Local Testing:
Does not look easy to

[2017-03-27 14:55] NealHumphrey commented on #142
@prisalex Looking into this more, here's some notes

Here are some additional options/notes for local testing:
- [Serverless](https://serverless.com/) looks pretty ready to use despite being in beta. Looks like it is set up to manage configuration and deployment, but doesn't do local testing. I saw [one guy say](http://stackoverflow.com/questions/34470297/testing-aws-lambdas-locally-behind-api-gat

[2017-03-27 14:56] NealHumphrey commented on #142
In short, Lambda is looking a bit trickier than I first thought, but still worth investigating those options especially serverless.

[2017-03-27 20:32] prisalex commented on #142
Ok, I have a test version of the API available.  Just do an HTTP GET like so and provide the tablename as a query param:

https://zjlpq5zz7e.execute-api.us-east-1.amazonaws.com/test/raw?tablename=acs_rent_upper

Some notes:
- It returns a json version of the data that should correspond to the meta.json file.
- I am currently limiting the output to 1000 rows because I suspect the performance is goi

[2017-03-27 20:39] prisalex commented on #142
Also, let me know if you find any bugs.  Just found one with the building_permits table because I didn't handle dates yet... blerg.

[2017-03-27 21:04] prisalex commented on #142
Fixed the issues with dates so all existing tables should be good to go :).  If you want to get the raw csv file, you can now get that by querying the _manifest_ table and then concatenating s3_folder+filepath.

[2017-03-27 21:25] NealHumphrey commented on #142
Couple bug notes:
@prisalex it looks like decimal formats are not serializing also. On the project table, 'proj_lat' and proj_lon are two examples, but it looks like all of the decimal fields are returning null.

On the dates, would it be better to return them as a JSON date format instead of a yyyy-mm-dd string? That can be converted to something prettier client-side, but then it doesn't have to

[2017-03-27 21:32] NealHumphrey commented on #142
Usability note: Obviously this is a proof of concept, but as we start converting it to the real thing we should also try to apply REST format to the API methods instead of params, e.g.:
`list all records: /api/<tablename>`
`individual building: /api/projects/<nlihc_id>`

We'll also want to think about this with respect to the unique ids for some tables. For example, currently acs_median_rent does

[2017-03-27 21:35] NealHumphrey commented on #142
Also - yes, let's keep the API limited for now. For the ACS tables, those will very soon get smaller as part of #152, when not only will we end up with just DC census tracts we'll also get one big table with a column for every census field. But, we do have other DC-only data sets that will be quite large - e.g. building permits,  police department events, 311 calls, especially since we'll be keepi

[2017-03-28 12:25] ptgott commented on #142
@NealHumphrey I'm okay with either format! I'll let you know if I run into any issues with one format or another.

[2017-03-28 15:34] NealHumphrey commented on #142
@ptgott I was thinking for example about the timeline viz, where dates are obviously used as numbers. In addition, it seems like it might be easier to go straight from the JSON timestamp to whatever display format we want (Oct. 26 vs 10-26 vs. October 26), which would be more flexible to changes. But then we can never use the datestamp directly (seconds since 1970 isn't exactly easily readable). F

[2017-03-28 20:24] ostermanj commented on #143
FYI I'm working on some changes to the map-view page, getting one layer to show at a time and, I hope, getting that layer to correspond to the pie charts on the right.

[2017-03-28 21:32] ptgott commented on #142
@NealHumphrey
Is the intention with most of the (geo)JSON generally to process the values on the server and use them directly within the JS? I'd be in favor of using that approach with dates as well for consistency. At the same time, since we are using them as numbers within a D3 chart, that approach might give us unneeded difficulties. @wassona since you worked on the timeline chart, what do you

[2017-03-29 00:48] prisalex commented on #142
Fixed the issue with decimals; they should be outputting now.  Let me know thoughts on date & timestamp format...

[2017-03-29 01:19] prisalex commented on #142
In terms of the API design, I moved the proposal doc to here so we can collaborate more easily and then use it as the single source of truth for what is supported in the future: https://docs.google.com/document/d/1HG50BwRCZ8TMTY1xljROJYr8YLY5UHbjNZ6UcUqQ_HQ/edit#heading=h.2976f22qym3i

[2017-03-29 16:07] NealHumphrey commented on #148
Note, as a temporary approach, Peter Tatian from Urban institute is going to provide weight files that they use to map between tract and zip, tract and neighborhood cluster, tract and ward. These are based on 2010 Census census-block population counts.

[2017-03-29 18:48] #111 closed

[2017-03-29 18:48] #112 closed

[2017-03-29 18:49] thischrisoliver opened #156 "Create wireframes for mobile searching/filtering flows"

[2017-03-29 18:50] thischrisoliver opened #157 "Sketch desktop screens for searching/filtering flows"

[2017-03-29 19:48] thischrisoliver commented on #157
Here are the sketches of the mobile screens from last night if needed for reference:
![screens round 1a](https://cloud.githubusercontent.com/assets/22454900/24473360/0027e09a-1497-11e7-9e09-f8afc6ccb9a5.jpg)
![screens round 1b](https://cloud.githubusercontent.com/assets/22454900/24473366/003c3270-1497-11e7-8e8e-9cb1505a3de7.jpg)
![screens round 1c](https://cloud.githubusercontent.com/assets/224549

[2017-03-29 21:31] #110 closed

[2017-03-30 17:27] ostermanj commented on #143
Pull request #158
This PR does much of what's in the second checklist item for this issue.

—user can select one mapLayer at a time
—the sidebar header info changes according to which layer is selected
—the data and piecharts adjust depending on which layer is selected (working only for ward, tract, and zip)
—the piecharts adjust when user selects specific zone from the dropdown menu (working for

[2017-03-30 17:28] ostermanj commented on #143
Also still to do is to animate the change in the size of the piechart segments. To be done with a D3 tween transition of the paths' "d" attribute. Good examples out there.

[2017-03-31 01:05] NealHumphrey opened #159 "Investigation of data pipeline stuff"
- Flask, Falcon, SQLAlchemy could be a good combo for making an API
- SQL Alchemy - using the ORM?
- Django Rest Framework.

[2017-04-01 19:12] ptgott commented on #143
I'll do some work on the 'meta.json' bullet this weekend!

[2017-04-02 20:58] ptgott commented on #143
I've started working on integrating the Amazon Web Services API into the front-end. This will give us a basis for incorporating conventions from meta.json into code for making and interacting with charts.

What I've done so far (it's still early days!) is in PR #160

It's important to note that the code is untested and waiting on clarification/change related to AWS (see below). We can keep this un

[2017-04-03 00:21] NealHumphrey commented on #143
@ptgott This is great stuff! I haven't dug into code yet, just read your summary.

1) @prisalex - I think the CORS issue can be fixed through a setting in AWS (that's how it works for getting files from S3, at least).

2) Let's be sure to talk through API issues and approach on Tuesday. @ptgott - would be good to hear your thoughts on the best data format to return. For example on your other thing

[2017-04-03 15:02] NealHumphrey commented on #142
@prisalex can you push your code at least to your fork of the repo? Doesn't matter if it is still messy, you can keep it in its own feature branch and keep updating it. I'd just like to be able to investigate where things stand as we compare this to a SQLAlchemy/Falcon option as discussed Thursday.

[2017-04-03 17:36] NealHumphrey commented on #143
@ptgott  and @ostermanj  - I have added the 'crime' data set to the database. I also produced these three flat files as summary formats:
https://s3.amazonaws.com/housinginsights/processed/crime/ward_summary.csv
https://s3.amazonaws.com/housinginsights/processed/crime/census_tract_summary.csv
https://s3.amazonaws.com/housinginsights/processed/crime/nc_summary.csv
Unfortunately the crime data didn't

[2017-04-03 17:41] NealHumphrey commented on #138
Addressed in #161

[2017-04-03 17:41] #138 closed

[2017-04-03 20:09] NealHumphrey commented on #147
Closing in favor of geocoding our data with ward/neighborhood cluster/zip/census tract on it's way in (denormalized data)

[2017-04-03 20:10] NealHumphrey commented on #147
#149 is the ticket for MAR geocoding

[2017-04-03 20:10] #147 closed

[2017-04-03 23:06] prisalex commented on #142
Here it is: https://github.com/prisalex/housing-insights/tree/lambdaPoc

I haven't actually done any work since we spoke.  Sorry!

I think both the SQL Alchemy work and the Falcon option could be done independently of this branch though.  I will take a look at that CORS issue now.  Should be an easy fix, me thinks.

[2017-04-03 23:29] prisalex commented on #143
@ptgott  @NealHumphrey CORS issue should be resolved with the API.  Try now and let me know if you still run into issues.  Eventually, we should lock down the allowed origins to what we expect but kept it open for now.

[2017-04-04 01:21] emkap01 opened #163 "multiple character decoding errors when running load_data.py on mac"
Per Neal's request, I'm writing up this ticket. I've made multiple attempts to run load_data.py inside the housing-insights environment while running the docker container from inside my local repo.  The first attempt resulted in the following error:

[code]

A subsequent attempt to run the script with the `sample` parameter resulted in a similar error message:

[code]

Final attempt to run the scr

[2017-04-04 02:24] louvis commented on #163
I came across the same kind of error when running the script with the ```sample``` parameter:

[code]

[2017-04-04 20:21] NealHumphrey opened #167 "Write a unit test for our flat-file ingestion code"
As a new contributor to the Python team, we'd like you to get familiar with our code base, our current data ingestion process, and to do a relatively simple task that is straightforward for multiple people to work on at once. Add a unit test to our current code!

1) Start by setting up your local copy of the database using Docker as described in the  [onboarding page](http://housinginsights.org/re

[2017-04-04 21:00] NealHumphrey opened #168 "Add yourself to the /team page"
We now have a team bio page on the website!

Add yourself by:

1) Spin up Docker so that you can view a local copy of the website at `yourdockerip:4000`
2) Open the file `/docs/team/index.md`
3) Copy the example and change the file as directed
4) Save, reload your local page and make sure it works
5) Submit a pull request!

[2017-04-04 21:02] NealHumphrey commented on #168
Github only lets me add 10 assignees - this is open to anyone on the team of course!

[2017-04-04 21:18] ptgott commented on #143
It looks like the CORS issue has been resolved. I've made some tweaks to PR #160 to get the data to display in the map view.

[2017-04-04 21:53] NealHumphrey opened #169 "Make encoding a param in the manifest.csv"
Different csv files can use different encodings. Currently, the code is set to use 'latin-1' for all files, which can provide the wrong results if the file is utf-8.

In the DataReader.py file, the HIReader base class, the __iter__ method contains a `with open(encoding='latin-1')` . We should change this to be a user specified parameter in the manifest.csv, and allow the reader to use this param w

[2017-04-04 22:18] ptgott commented on #143
@ostermanj @NealHumphrey

**Here are some thoughts on the API.**

Overall, it’d be great to do minimal data processing on the client side while also being able to make specific, standardized API requests that correspond to a shared resource (meta.json). This way we could use meta.json as a communication tool, making it clear to the team which charts are available (so that the only charts available

[2017-04-05 00:38] #114 closed

[2017-04-05 00:39] #144 closed

[2017-04-05 01:01] emkap01 commented on #163
Repeating my Slack comment just to close the loop on this -

For the most part it looks like the fix successfully resolved the character decoding issues.  It appears to have loaded almost all of the data, although I did get a few error messages at the end regarding missing files:

[code]

[2017-04-05 01:11] #113 closed

[2017-04-05 01:13] thischrisoliver opened #171 "Design desktop wireframes for map view"

[2017-04-05 04:06] NealHumphrey opened #172 "Can't download if folder isn't created"
The  `DataReader.download_data_file()` method in the  DataReader.py file fails  if the folder does not already exist. Need to add functionality that creates the folder before the urlretrieve, or see if there is a setting in the urlib.request.urlibretrieve method that allows for automatic folder creation.

This is currently occuring for all users with the crime data set (since the folder is not inc

[2017-04-05 04:08] NealHumphrey commented on #163
@emkap01 it looks like this is actually a different issue. I did some digging and identified this as due to the fact that the folder does not yet exist. I made a new ticket for this in #172 .

[2017-04-05 04:08] #163 closed

[2017-04-05 13:38] NealHumphrey opened #173 "Race condition in Docker file"
The `docker-compose.yml` file calls three services - jekyll, web (a postgres web client) and postgres (the postgres database). Docker appears to start all 3 services concurrently. However, the web client needs postgres to already be running in order to load correctly. There is a race condition that means if Postgres happens to start first all is well, but if pgweb starts first it fails and the use

[2017-04-05 15:27] NealHumphrey commented on #172
Resolved in #174

[2017-04-05 15:27] #172 closed

[2017-04-05 18:30] jasonrhaas commented on #173
I noticed this as well.  An easier solution would be add a `restart` directive to the `web` service.  So the web service will fail, but it will keep retrying until it connects to Postgres.

`restart: always`   or
`restart: "on-failure:3"`

[2017-04-05 18:32] jasonrhaas commented on #159
Is the API just a hook into the Postgres database?  Or something else?  Is the API just doing GET queries or POST and PUT requests as well?  Depending on what we need I have a few ideas.

[2017-04-05 19:16] NealHumphrey commented on #173
@jasonrhaas would you be willing to try this out? You can this to the docker-compose and test if it solves the issue, and if so do PR with those lines added.

[2017-04-05 19:25] NealHumphrey commented on #159
@jasonrhaas the API will not need to deal with POST/PUT requests, just GET requests. Some requests will return filtered data from the database directly, while  some will do calculations/merges etc.

This is the summary of people that answered the survey last night (total of 20 responses):
![image](https://cloud.githubusercontent.com/assets/5642566/24722947/91ed321a-1a13-11e7-8ada-87a61518e919.png)

[2017-04-05 20:18] jasonrhaas commented on #173
Yup I got it.  Will submit a PR shortly.

On Wed, Apr 5, 2017 at 4:16 PM Neal Humphrey <notifications@github.com>
wrote:

--
Jason Haas
<http://www.linkedin.com/in/jasonrhaas>

[2017-04-05 20:24] jasonrhaas commented on #159
I'm pretty familiar with Flask.  I've built out Flask APIs before with
fairly complex features.  I like Flask but it gets hairy once you start
piling on the extras.

We might want to consider a swagger API using connexion.  It uses YAML to
build out the API and seems like it would be perfect for our needs.  I
believe it's built on top of Flask.

I'll look into it a bit more.

On Wed, Apr 5, 2017 a

[2017-04-05 20:35] danshorstein commented on #159
I like Flask - I have a little experience with it, it's lightweight but
scalable, probably has a lower learning curve than some of the others, and
there are many libraries that can be added on top as needed. Also, I'd
imagine it would be easier to manage, contribute to, and debug the code
than something heavier weight.

Daniel

PS  - I don't think we should downgrade to Python 2!!

On Wed, Apr 5,

[2017-04-06 11:56] arashsoheili commented on #173
We have used this kind of code in our script start up to deal with this race condition.

[code]

[2017-04-06 15:03] NealHumphrey opened #175 "MAR api bugs - condo unit and non-existing address"
Address bugs in the MarApiConn module.

- get_condo_count isn't working. Here's an example of a building that has multiple units as indicated by searching the website version of the MAR but get_condo_count errors out b/c the table that _find_condo_unit returns is empty. python data.py mar get_condo_count --outtype stdout --params "location:1338 R STREET NW"

- Searches for invalid addresses error

[2017-04-06 15:04] NealHumphrey commented on #175
@ehenry2172 is taking this on, as he wrote the original MarApiConn code.

[2017-04-06 18:11] NealHumphrey opened #176 "Allow optional columns in the table_meta so that cleaners can add new data fields"
We want to be able to specify columns in the table_meta.json file that don't need to exist in the source data CSV file. These can either be a) optional fields not present in all versions of the data  or b) fields that do not exist in the source data but are instead added during the data cleaning process (such as geocoding fields).

- [x] Add a 'required_in_source' param to each field in the make_d

[2017-04-06 18:13] NealHumphrey opened #177 "Geocoding: Add Census tract to the building_permit table during creation"
The building_permit records have been geocoded by the city, but they do not include the census tract of the location.

Use the `MARADDRESSREPOSITORYID` field of the incoming data and the `MarApiConn` class to add this geocoding to the building_permit table before it is written to S3.

We want to be able to handle new MAR addresses that have not previously been geocoded, but we also want to cache o

[2017-04-06 18:15] NealHumphrey opened #178 "POC: Flask-based API service"
Since more people are familiar with Flask, we are going to try using this as the platform to connect our database to an API that can be queried by the front end. The scope of this ticket is to set up an initial version of a Flask web app that people can add new end points to.

Scope:
- [x] Set up a Flask app. Select an appropriate candidate Flask extension to use with this for the API, such as [Fl

[2017-04-06 18:33] NealHumphrey commented on #152
Note, as of 4/6 Census sent an alert:
"We are currently experiencing an extended interruption in service for the Census data API. We are working to resolve the issue and apologize for any inconvenience."

But, it looks like some endpoints are currently working - just a warning if you encounter unexplained service interrupitons.

[2017-04-06 18:34] NealHumphrey commented on #159
Ok, I made a new issue for the Flask website: #178

We should still investigate how thoroughly we should leverage the SqlAlchemy ORM to actually use the Object Relation Mapping instead of just raw sql queries.

[2017-04-06 18:41] NealHumphrey opened #179 "ORM: Investigate usage of SqlAlchemy"
Our Flask API and our data ingestion pipeline both need to map data to tables - the first for queries to get data out, the second to put data in.

Many of our queries on the API will be generic 'get these matching rows from table X', while some will be more complicated 'join these tables and do some other recombination'.

Meanwhile, we have already built a custom csv-to-relational mapping system w

[2017-04-06 18:42] NealHumphrey commented on #159
@jasonrhaas and @prisalex  - closing this in favor of #178 (flask) and #179 (investigate ORM), which provide more detail on our next steps. @jasonrhaas feel free to add your thoughts on approach to either of those issues, or if you want to take any of it on!

[2017-04-06 18:42] #159 closed

[2017-04-06 18:47] NealHumphrey commented on #149
Resolved in #164!

[2017-04-06 18:47] #149 closed

[2017-04-06 19:26] NealHumphrey opened #180 "Weighting of census tract data"
Weighting files for translating from census tract to the other zone types have been added to the /data/geographic_data/tract_weights folder.

We are waiting on #152 and for a longer list of fields from the census data before we need to implement this.

Notes from Peter Tatian, who provided the weights files:
-------------------------------------------------------------
A few things to note. For ap

[2017-04-06 20:02] #99 closed

[2017-04-06 22:42] jasonrhaas commented on #178
I think connexion would be a good place for us to start.  We can build out the API endpoints in YAML, and it also self-generates the documentation for the various endpoints.  It's built on top of Flask and it's pretty easy to get started with.  It also uses the Swagger API specification, so our API will be standardized to that.

https://connexion.readthedocs.io/en/latest/index.html

[2017-04-06 23:19] jasonrhaas commented on #178
Another option is Eve, which is a super easy out-of-the-box solution.  It does CRUD operations out of the box as well and supports an SQL and SQLAlchemy.

So many API options...

[2017-04-07 01:51] emkap01 commented on #130
Just submitted a pull request for this.  If you think that answers the mail on this one feel free to close this issue, but if not just let me know what you're thinking for next steps and I'll take a crack at it.

[2017-04-07 12:21] jasonrhaas commented on #179
This might be everything we are looking for.  API that hooks right into SQL, and works with SQLAlchemy -- http://eve-sqlalchemy.readthedocs.io/en/latest/tutorial.html

[2017-04-07 14:13] jasonrhaas opened #183 "Run everything inside docker-compose"
Python environments are notoriously difficult to get set up, especially when dealing with data science packages.  Anaconda helps with this quite a bit, but I've found there can still be problems depending on the user's specific local environment.  Docker of course solves all of this, which is why I've started running everything that I can inside a docker-compose environment.

We could create a Pyt

[2017-04-07 14:31] rschmidtz commented on #183
I totally agree with this, I run out with dependencies problems when I try to set up my environment from requirements.txt with virtualenv (I use Ubuntu Linux).
It would be easier to keep all the python packages and dependencies in a Docker container

[2017-04-07 14:44] jasonrhaas commented on #179
I've got a trivial example running using Python Eve that uses SQLAlchemy and our PostGres database to load in some simple data.

Here is the web view:

![image](https://cloud.githubusercontent.com/assets/7018237/24805162/27486072-1b87-11e7-97ba-bdf4cef3911a.png)

Here is the GET request to show all entries of the `people` database:

![image](https://cloud.githubusercontent.com/assets/7018237/24805

[2017-04-07 15:19] NealHumphrey commented on #183
@jasonrhaas and @rschmidtz I definitely agree too. It would be great to have this bundled into a single docker-compose that we can run with `docker-compose up -d` so that it starts the other services and then makes the command line available with those services running.

The reason this didn't make it into Tuesday's version is that I ran into issues getting the Housing Insights code to run in the

[2017-04-07 15:31] NealHumphrey commented on #179
Good stuff! What do you mean by the custom data set? Do you mean the tables that we've loaded in with the load_data function?

Did you look at [Flask-Restless](https://flask-restless.readthedocs.io/en/stable/) at all? What's the difference w/ Eve? That seems to be the most popular Flask/SQLAlchemy api library- though in my (very brief) research it wasn't clear if we get a lot of increased benefit

[2017-04-07 15:34] NealHumphrey commented on #178
Just adding a note to this ticket, in case anyone else is working on this note that @jasonrhaas started on a POC using Eve in the related ticket #179 . @jasonrhaas keep us updated on progress, if it looks like Eve is the way to go, and if you need any help turning your first pass into a working version with our real data.

[2017-04-07 15:40] #173 closed

[2017-04-07 16:34] thischrisoliver commented on #94
@NealHumphrey I've completed the definitions.

[2017-04-07 17:11] jasonrhaas commented on #179
@NealCollaborator Flask-Restless is very similar Eve with SQLA.  They are both built on top of Flask, both can use SQLA.  I get the impression that Eve has a bit more "built-in" features to it, which we may or may not need. For example, Eve has some built in `_meta` fields and such that tell you a bit more about the data.

I can see if I can get a similar example up and running with Flask-Restless

[2017-04-07 21:31] NealHumphrey commented on #179
Ok. `_meta` is probably something useful for us to have. Glad the custom data's working now!

[2017-04-07 23:11] NealHumphrey commented on #94
@thischrisoliver Awesome! Great timing - lots of new people coming in can definitely use it. I'll post it to Slack and include it in Monday's newsletter.

[2017-04-08 21:46] ptgott commented on #143
I've done a bit more thinking about the datasets menu.

First, it'd be really straightforward to model the menu off of @ostermanj's menu for region layers.

Second, [this](https://www.mapbox.com/blog/introducing-geojson-vt/) page on the Mapbox website suggests that rendering massive FeatureCollections might be doable. @NealHumphrey have you tried out adding a Mapbox point layer based on the crime

[2017-04-09 23:24] speedyturkey commented on #169
I think I can help with this. It sounds like the manifest.csv should contain a value indicating which encoding a given file uses. Should latin-1 remain the default?

[2017-04-10 18:46] NealHumphrey commented on #137
@emkap01 and @ehenry2172 - I got on the phone today w/ Marie Whittaker (@mseew) at the Deputy Mayor for Planning and Economic Development (DMPED). She manages the Economic Intelligence Dashboard](open.dc.gov/economic-intelligence/affordable-production-preservation.html). She gave me some useful insights into the various sources of data on DC affordable housing available. Here's a summary:

DMPED m

[2017-04-10 20:03] NealHumphrey commented on #16
I sent a note on 4/10/2017 to open.data@dc.gov asking for info on why the building permits data is not updating. It looks like both the opendata dataset and the octo data catalog data set are both failing to include new permits. I think we will be able to use the opendata.dc.gov version once this is fixed - hold off on integrating updated data until we find out the reason for this issue.

[2017-04-10 21:52] NealHumphrey opened #187 "Crime data via the opendata API"
We currently have crime data that is manually downloaded from the Crime Data Map.
Opendata.dc.gov provides the same data via an API, and with extra geocoding data added to it (lat/lon etc.). It looks like the newly-updated opendata.dc.gov is now being updated daily with this info, so we should switch sources so we can keep getting new updates.

- Create a CrimeApiConn class based on the MarApiConn

[2017-04-10 23:54] jasonrhaas commented on #178
Update:  I made some process on this.  Since we aren't using SQLAlchemy yet we have to do manual queries of the database and jsonify the tuple responses.

If we move to the ORM SQLAlchemy approach, Flask RESTless pretty much has a built in API.  But as of right now we need to manually add all the endpoints which isn't ideal.

[2017-04-11 02:58] joawu opened #188 "Determine which of the requested data we have"
I'm cross referencing the data team's [data source tracking](https://docs.google.com/spreadsheets/d/1ueWgrtzlMSKD5y8QF7Xdj3V_4v7xw_A8vwhLAAqaZys/edit#gid=0) with the design team's data request tally to determine which of the requested data points we have.

I wanted to ask for clarification on a couple of data sources mentioned in the "first flat files for loading practice" tab on the data source t

[2017-04-11 03:07] joawu commented on #188
I'm logging the status of requested data [**here**](https://docs.google.com/spreadsheets/d/1UnuTvDRrCya3gWaNTfDQfTQPRwuwAqB6p9zzlCLDh_g/edit#gid=2126069946)

[2017-04-11 03:52] jasonrhaas commented on #179
Yea so I played with Flask-Restless.  Works as expected using the Quickstart.  If we want to take advantage of everything Flask-Restless and SQLAlchemy has to offer I think we have to define the schema in Flask-SQLAlchemy using the `class Person(db.Model)` syntax.

[2017-04-11 03:55] jasonrhaas commented on #178
Prototype for this is complete.  I did everything except `nc` and `ward` endpoints.  See #189

[2017-04-11 12:48] NealHumphrey commented on #177
Putting this on hold - we may be switching to the opendata.dc.gov version of the building permits data, which looks like it already includes census tract. We likely still need this methodology for a different dataset, though.

[2017-04-11 21:35] NealHumphrey commented on #178
Woo woo! @jasonrhaas  (and also @ptgott and @ostermanj and @prisalex  ) I got this deployed to an AWS instance (just on my personal account for now). I also added an additional endpoint that returns all building_permit counts grouped by whatever grouping is desired (ward, zip etc.). These endpoints are available:

http://hiapidemo.us-east-1.elasticbeanstalk.com/ : tells us the API is awesome
http:

[2017-04-11 21:58] ptgott commented on #178
Thanks for this!

Since the API returns zone-by-zone aggregates with the zone labels as keys, what does everyone think about integrating the data with geojson 'Polygon' FeatureCollections as in 'javascript/tool/data'? We could have one query return, say, 'ward.json', one query return the 'ward' aggregates, and a front-end script assign an 'aggregate_building_permits' property to each Feature in th

[2017-04-12 00:14] prisalex commented on #178
Finished off the nc & ward endpoints.  Seemed too easy but hopefully it is what was requested...

[2017-04-12 01:49] ostermanj opened #193 "MVP Additions ahead on demo Monday 4/17"
Here are the priorities coming out of tonight's work session for improvements to the MVP ahead of @NealHumphrey 's demo on Monday. It's all very related to the larger issue #143 .

1. Add ability to display **two fields** on top of the main map view: building permit count and crime count. These will be provided by API call, which should be ready for use by Wednesday evening. The API should return

[2017-04-12 14:05] NealHumphrey opened #194 "DC-funded affordable housing units on opendata.dc.gov"
Add the DC-funded buildings to our list of all affordable buildings and subsidies using the [Affordable Housing dataset](http://opendata.dc.gov/datasets/34ae3d3c9752434a8c03aca5deb550eb_62) on opendata.dc.gov. See notes on what is in this data set in #137 .

**Current related data:**
Our current database contains a 'projects' table, which is pulled from the [Preservation Catalog](www.neighborhoodi

[2017-04-12 14:16] NealHumphrey commented on #136
@ehenry2172 so I have talked to both Marie Whittaker at DMPED and Chris D.P. at DHCD. I think the API is OK to use as-is. But, I have one outstanding question to resolve with Urban Institute, who maintains the Preservation Catalog that this data set will interface with, to understand which parts of this might overlap with data we already have (though certainly not all of it is available). I have c

[2017-04-12 16:39] NealHumphrey commented on #143
Copying this over from Slack, with @ptgott posted, so that we have relevant discussion in one place:

Sorry for not being able to make it to yet another meeting! I’ve got time over the weekend to work on the alpha MVP. I’ve also left some thoughts regarding the stitching job in issue 143 (https://github.com/codefordc/housing-insights/issues/143), and show one way of implementing a standard set of

[2017-04-12 16:56] NealHumphrey commented on #143
@ptgott In response to your post from 4 days ago (sorry so late!!)

1) Yes, agreed on a quick copy of the zone menu to make a data menu
2) That link describing massive geojson rendering is impressive. I have not tried adding this to a mapbox point layer yet. Of course you can also see we now have server-side aggregation of counts by relevant zone available via the API, so for color coding it's str

[2017-04-12 20:56] NealHumphrey commented on #143
@ptgott and @ostermanj I updated the API endpoint for counts of unique entries to behave like this. Based on my discussion w/ John plus some thinking it seemed like the easiest way for you guys to be able to use the same code as you toggle between different zone types (which I called 'grouping' and 'group' in the endpoint, but can change that if needed).

endpoint: `/api/crime/all/ward` (also work

[2017-04-12 20:59] NealHumphrey commented on #143
Edit - avoid zipcode for the moment as the crime dataset does not include zipcode (it will eventually, just gotta geocode it).

[2017-04-12 21:48] NealHumphrey commented on #143
Final note, just a heads up that this is not currently deployed to the live database but will be shortly - gotta run out

[2017-04-13 01:58] speedyturkey commented on #176
@NealHumphrey Can you clarify the second bulleted item in the TODO list for this issue:
 _Add an additional field to every draft_json output called unique_data_id, with its default 'required_in_source' param set to True (to indicate that it does not need to exist in the csv file)_

I am reading this as add a new attribute to each field for each datasource, called "required_in_source". This attribu

[2017-04-13 02:50] NealHumphrey commented on #193
Hey @ostermanj and @ptgott, moving conversation to this ticket for now until we get the version for Monday deployed - we can do a sweep of issue #143 after Monday to pick up any lingering issues we haven't dealt with yet.

- The API endpoints I described in #143 are live on the Flask API.
    - Use the format `http://hiapidemo.us-east-1.elasticbeanstalk.com/api/raw/<tablename>` to get the raw data

[2017-04-13 03:16] NealHumphrey commented on #176
See my edited version - hopefully it is more clear! I misstated the default value, it should be False. The purpose of this is that every table we ingestion should have a column that does not exist in the CSV file that is called unique_data_id. This goes along with moving how the unique_data_id is added as described in this part of the Background section:

"...but the init method will need to be mo

[2017-04-13 03:28] speedyturkey opened #196 "Add functionality to make_draft_json for adding new sources"
Currently, the make_all_json function in the make_draft_json module outputs individual json files - one per source in the manifest. This is tricky because adding a new source to meta.json requires the ability to manually review/edit the data (so it can't be totally automated).

Some ideas for additional functionality:

- A function to stitch together a group of individual json files
- A function t

[2017-04-13 03:30] speedyturkey commented on #176
This is helpful, thanks. I have a WIP branch on my fork - shouldn't take too much more work. I'll coordinate with you on updates to meta.json, which are floating around due to my work on this issue and also issue 169.

[2017-04-13 16:12] NealHumphrey opened #197 "Set up AWS stuff"
Move the Housing Insights into a Code for DC AWS account w/ all relevant instances and permissions set up:

- RDS database with postgres 9.5
    - Read user
    - CRUD user and appropriate

- S3 bucket.
    - public read
    - write only user
    - delete also user
    - if delete vs. write is hard, AWS sync mostly takes care of it so fallback is write and delete as one

- Elastic Beanstalk instan

[2017-04-13 16:15] NealHumphrey commented on #196
@speedyturkey  I recommend proceeding with just part 2 - a function to append new individual json to an existing master meta.json. Since we have a master json one already, there's no need to stitch together just individual ones. The make_draft_json will still produce one json file per table, the user will then manually validate it, and then the user will run the stitch function.

Keep it simple, b

[2017-04-13 16:22] NealHumphrey commented on #136
@ehenry2172 - I talked to Urban as well. My question was about the subsidies in the current Preservation Catalog marked as subsidy source "DC/AFFPIPELINE". Turns out they are not currently pulling in new buildings from this source, so we are good to go on adding this datasource. As noted above, we should do #194 and then come back to this ticket so that we can supplement the data from #194 with st

[2017-04-13 16:37] NealHumphrey commented on #178
Thanks @jasonrhaas for getting this up! Closing this issue as we have a deployed version of this working. As noted in my review of the PR, did move this into the /python folder and ended up converting the queries to SQLAlchemy for consistency with how the ingestion code works so there's a lower barrier for people to get up to speed on the code.

I'll post a new issue and probably plan to do a plan

[2017-04-13 16:37] #178 closed

[2017-04-13 16:49] #150 closed

[2017-04-13 16:51] NealHumphrey commented on #142
Closing this per the shift to the Flask approach. Sad to see good code not used :( We may end up still using Lambda for some jobs depending how our server plays out, TBD.

[2017-04-13 16:51] #142 closed

[2017-04-13 17:16] NealHumphrey opened #198 "Tax assessment data via opendata API"
Opendata.dc.gov provides [tax assessment data](http://opendata.dc.gov/datasets/integrated-tax-system-public-extract-facts) of all properties in DC via an API.

- [ ] Create a TaxApiConn class based on the MarApiConn class currently in the code. Use this to add raw data files to /data/raw/tax_assessment/opendata/YYYYMMDD when the python/cmd/data.py script is run with the appropriate arguments. Writ

[2017-04-13 17:25] NealHumphrey commented on #139
On hold - higher priority stuff out there

[2017-04-13 17:26] NealHumphrey commented on #130
Complete!

[2017-04-13 17:26] #130 closed

[2017-04-13 17:27] #125 closed

[2017-04-13 17:28] NealHumphrey commented on #104
Hey @rmcarder where does this stand? Can you add a list of tables to issue #152 so that they can pull the data from there?

[2017-04-13 17:28] #94 closed

[2017-04-13 17:30] NealHumphrey commented on #92
@kasao10  - good news, I found out that any of the DHCD-funded sources (including LIHTC and the Housing Production Trust Fund) have the AMI data available in their DHCD Pipeline database as described in #136 . We will still need this for some of the other programs (Housing Authority, Section 8, etc.) though.

Also sorry I haven't pulled the unique programs for you yet - assuming that is still usef

[2017-04-13 17:33] NealHumphrey commented on #90
Update to this - the Affordable Housing Data Set from #194 apparently includes most IZ units (it is only missing those that are part of the [ADU program](https://dhcd.dc.gov/service/affordable-dwelling-units). Just verifying we should put this PDF ruling-based approach on hold until we've fully utilized these other data sources.

[2017-04-13 17:35] #78 closed

[2017-04-13 17:37] NealHumphrey commented on #77
Latest update - the recent buildings (definitely post 2015 and mostly 2011 and later) are available from DHCD's quickbase API as described in #136 . We may want to circle back to using the PDFs for earlier years if needed after we've fully utilized all the other approaches. Putting this on hold.

[2017-04-13 17:39] NealHumphrey commented on #53
@hansak11 you were working on this with Jeanne, right? Where does this stand? Do you guys have a recommendation yet for which dataset from zillow we should actually use?

[2017-04-13 17:46] NealHumphrey commented on #58
Hey @louvis - now that we have a pipeline set up, and you're experienced with adding new data sources and resolving these issues, you want to revive this list and solve any remaining ones?

A few notes:
- DC tax data set will be available when #198 is done
- Parsing data into multiple columns will be possible when #176 is done
- Number of bedrooms might be obtainable using a similar approach as #1

[2017-04-13 17:52] NealHumphrey commented on #50
Note the PUD scraper that @salomoneb wrote should be adapated to follow the BaseApiConn approach in the `/python/sources` folder to line up with our current code. We'll want to refactor his scraper into this new format once #198 is done (to provide us a with a source of SSL's) or possibly utilizing the same data as #140 (which would be another source of all SSL's - but note that for this scraper w

[2017-04-13 17:52] NealHumphrey commented on #50
Putting on hold until either 198 or 140 is done.

[2017-04-13 17:53] NealHumphrey commented on #47
In google drive instead, and drive is linked from /resources

[2017-04-13 17:53] #47 closed

[2017-04-13 17:55] NealHumphrey commented on #15
I'm marking this as 'Ready' but the description needs some updating to fit with current process. Contact me if you want to work on this. Core concept is we need to have a function that can be used as part of the Cleaners that we can pass it an address or a lat/lon and it will do geocoding of that address as compared to the Zillow shapefiles.

[2017-04-13 17:56] NealHumphrey commented on #4
Closing - we can add this later if really desired.

[2017-04-13 17:56] #4 closed

[2017-04-13 20:32] hansak11 commented on #53
@NealHumphrey I did look into the zillow data earlier but haven't had a chance to look at it again since we were trying to work with Docker. Do you need this information soon? I can try to work on it this weekend and see if I find a good dataset to use.

[2017-04-13 20:59] NealHumphrey commented on #53
No specific timeline, just want to get this integrated in the next few weeks. I was cleaning up all our tickets and this didn't have you as an assignee so I wanted to make sure you were still on it and it hadn't dropped off the radar. Thanks!

[2017-04-14 14:17] ptgott commented on #193
I'll have a stab today at the third part of (1), 'have mapBox fill the zones based on the data'. I'll set the 'visibility' layout property to 'none' to anticipate making the menu.

[2017-04-14 19:10] kasao10 commented on #92
Yes, that would be.  Thanks!

On Thu, Apr 13, 2017 at 1:30 PM, Neal Humphrey <notifications@github.com>
wrote:

[2017-04-14 19:19] kasao10 opened #199 "Ingesting real_property file"
Working to add real_property_Mar2017 to database.

housing-insights/data/raw/preservation_catalog/20170315

[2017-04-14 19:50] NealHumphrey opened #200 "WMATA upgrade api call"
There is currently code in `/python/scripts/wmata_distcalc.py` (from @prisalex) that pulls information from WMATA about available bus and metro stops and then calculates the walking distance from each building in our projects table to each metro/bus stop nearby.

We want to update this to reflect our current approach to getting data from APIs, as well as fix a few implementation issues identified

[2017-04-14 20:08] ptgott commented on #193
In PR #201, I've implemented a version of the third task under item one. I've changed 'getAPIData()' in housing-insights.js into a slightly different function, 'getInitialData()', to reflect two things about it: first, it fetches data from the project server in general, rather than just the API; and second, in its current form, the code is meant to grab all data sources we might need for a given v

[2017-04-14 20:23] NealHumphrey commented on #193
@ptgott, a couple responses:
- for your addDataToPolygons method, we should (after this weekend) work to get all data sources to behave consistently in how they use zone names. We can make sure the geoJSON and the API have the exact same label for each zone so that no callback is necessary.
- I'm guessing a heirarchical structure for the data will be useful, e.g. nesting 'neighborhood' and 'ward'

[2017-04-14 20:34] kasao10 commented on #199
@NealHumphrey I'm having trouble locating table_info.json.  Could you direct me?

[2017-04-14 20:36] NealHumphrey commented on #199
I was too quick in renaming it in the instructions. In the current code it
is called meta.json. The confusion between meta and manifest is why we want
to rename, but it just hasn't happened yet.

[2017-04-14 22:33] NealHumphrey opened #204 "Add shortest distance to WMATA api routes result"
The alpha version of the api has a `nearby_transit` endpoint that returns:
- List of all bus stops and metro stops within 0.5 miles walking distance
- Unique list of bus routes and metro routes accessible at these stops

As an enhanced version, also return the shortest walking distance to each route.

For the 'bus_routes' and 'rail_routes' json results, instead of returning a list of strings, retu

[2017-04-14 23:15] nealfwilliams opened #206 "Map load listener not registered until after map is loaded"
After the initial api calls are made, a load event listener is registered on the mapbox map object.  However, currently the map sometimes loads before the api calls finish, so the callback is never called.  On my machine this seems to happen only when using chrome.

[2017-04-15 05:15] nealfwilliams opened #209 "Ajax API calls aren't given sufficient time to load"
The getInitialData function in housing-insights.js will stop checking for the requested data after x intervals of y milliseconds.  Right now x and y are set to 10 and 500, respectively.  On firefox, with my internet connection, this isn't always enough time to complete the requests.  Since we don't know what the internet connection will be like on Monday, these shouldn't probably be bumped up.

[2017-04-15 18:11] NealHumphrey commented on #204
Resolved with #211

[2017-04-15 18:11] #204 closed

[2017-04-15 18:12] speedyturkey commented on #169
Fixed by PR 189.

[2017-04-15 18:12] #169 closed

[2017-04-15 22:46] NealHumphrey opened #212 "JUNE: Front-end Refactor"
General catch all to put things that would be good to make more systematic in the next version. @ptgott and @ostermanj feel free to add stuff as you come across it.

- Overall look at our code structure - how do we feel about it? Can we do some things more consistently? For example, function declarations as variables vs. the app dictionary (esp. across multiple files), IIFE vs. chaining of functio

[2017-04-16 00:06] NealHumphrey opened #213 "Needed API endpoints for Monday demo"
- [x] Number of building permits within X miles of given latititude+longitude. Potential endpoint url using params? `/api/building_permits/<dist>?latitude=<latitude>&longitude=<longitude>`
    - see the `python/housinginsights/analysis/rough_nearby_building_permits.sql" query for a pre-filter query approach that filters lat/lon to those near enough to be considered
    - Should make a mapping of

[2017-04-16 00:08] NealHumphrey commented on #213
@prisalex if you're interested in taking this on this weekend it'd be a big help! I'll look at it mid-day Sunday if no one has claimed it by then, shouldn't be too terribly difficult - just gotta add in an implementation of Haversine formula.

[2017-04-16 00:17] NealHumphrey commented on #212
Commenting on #2 - here's a demo of built in map-box legend, though we want to link ours out to other parts of the page too: https://www.mapbox.com/mapbox-gl-js/example/updating-choropleth/

[2017-04-16 01:21] ptgott commented on #212
Here's one thing we can talk about adding to the list: changing the division of labor between front-end and back-end so that the choice of datasets to fetch and display is done on the back-end. This way we won't have to, for example, manually enter information about each API query into rich-map.js. What this would allow would, in theory, be more extensibility in adding datasets (e.g. over 10 datas

[2017-04-16 05:05] ohaaga commented on #213
I made a draft PR in case nobody else bites.  Probably out of the loop tomorrow, or I'd offer to debug and test.  Break a leg on Monday.

[2017-04-16 09:04] nealfwilliams commented on #193
When using Firefox on my internet connection (it isn't great), the app doesn't always successfully finish all its API calls within the 10 x 500 millisecond time limit specified in housing-insights.js.  We probably want to bump this limit up before the demo, otherwise a slow internet connection could make the app totally nonfunctional.  See issue #209

[2017-04-16 12:20] NealHumphrey commented on #213
@ohaaga awesome, thanks!

[2017-04-17 16:38] NealHumphrey commented on #212
@ptgott I think we probably don't want to totally push this onto the API, but I do think you're right that we need to build more flexibility into the front end and more uniformity into the back end, allowing the front end to render appropriately across different data sets using the same code.

I'm concerned about future long-term performance implications of getting one big JSON object for each pag

[2017-04-17 18:54] NealHumphrey commented on #209
@nealfwilliams I see the two lines in housing-insights.js under the `getInitialData` function (line 116). Is that the only place that needs changing? Should I just bump the 10 up to something like 60 for safety? If it doesn't load in 30 seconds we've got bigger problems.

[2017-04-17 18:58] NealHumphrey commented on #213
Deployed!

[2017-04-17 18:58] #213 closed

[2017-04-17 19:42] nealfwilliams commented on #209
Yeah 60 should definitely make sense.  I can submit a PR for this.

[2017-04-17 19:53] NealHumphrey commented on #209
No need, I'm doing clean up of some labeling and stuff so am adding it in
right now.

[2017-04-18 20:51] ptgott commented on #212
That sounds good! Also, it might be good to stitch aggregate data together with polygon geojson for regions on the backend. For zone data the API could return only a geojson file that includes the relevant aggregates, an alternative to combining the aggregate json and the geojson on the front end after separate XHRs.

[2017-04-19 01:51] hansak11 commented on #53
Apologies, Neal! I ended up staying late at work and the red line was a mess today and hence could not join the work session. I still haven't had a chance to figure out which Zillow dataset will be useful. I should have some time this week to look into it but if someone else wants to take over this task, it might work better (if this is an emergency) I do not have the admin restrictions on my lapt

[2017-04-19 14:38] NealHumphrey commented on #212
@ptgott, @ostermanj , @prisalex and I discussed options at last night's work session for how to approach refactoring the front end code to deal with these issues. The below sketch is what Paul and I sketched out at the end of the night per this discussion.

Next steps: we proposed making a "hello world" version of this architecture, independent of our current code, to demo the interface that each

[2017-04-24 01:05] ptgott commented on #212
Oh aside from what I've mentioned in PR#226, when it comes time to implement the new organization of the JS files, it'd be good to set up some unit tests, just to make sure everything 'works' while we're moving the code around.

[2017-04-24 20:12] citizenrich commented on #152
Heyo. Wanted to document where we are with census API. Here's the code. Small issue at the end remains to be fixed, then functions created and tests written.

https://gist.github.com/citizenrich/75ea8e03bd61725a9219ddc2341a6a0b

[2017-04-24 20:55] NealHumphrey commented on #152
Thanks @citizenrich! Appreciate the update. Looks like it's coming along!

Feel free to put this into a Work in Progress pull request  - this can allow line-item comments and such.

A few additional bits of feedback based on a quick skim of the code, to think about incorporating as you work on next phase of this:

- Do look at the MarApiConn code structure - we'll want to wrap your functional appr

[2017-04-25 02:26] juliaall commented on #141
Just snooping around the Project and Subsidy tables a bit. I'll be doing a join and export that to Tableau public.

[2017-04-25 12:45] mkalish commented on #197
Done, pending validation from @NealHumphrey

[2017-04-25 18:36] NealHumphrey opened #227 ""Insights" page"
Continue refining the concept of insights page:

Sketch from Jeff:
![image_uploaded_from_ios_1024](https://cloud.githubusercontent.com/assets/5642566/25401717/7a441294-29c4-11e7-8c85-75abcb2f8e2a.jpg)
That front page is for a more casual, public user to get a sense of the project generally. Then, we'd have two other views- what I'm tentatively calling an 'explore' page and an 'analysis' page.

Her

[2017-04-26 00:46] mkalish commented on #197
Elastic Beanstalk now setup

[2017-04-26 20:40] NealHumphrey commented on #197
Cool! I'll start the migration. Traveling for the long weekend so will likely be next week.

[2017-04-27 20:42] jasonrhaas commented on #183
I'll take this one on. I have to set up my environment from scratch again, so this will be a good opportunity to get this working from a clean installation.

[2017-04-27 20:43] jasonrhaas commented on #168
How do I add myself to the team page?  I'm not seeing any team member information in the `/docs/team/index.md` file.

[2017-04-27 21:55] NealHumphrey commented on #194
@jkwening you should also know about this work that has already been done on some de-duplication scripts. It has not been merged in so it is not in the current code base - I will ask Louis to do a pull request. But, you won't want to use it directly - instead you can pull from it as needed to incorporate into the object-oriented approach we're using now.

[2017-04-27 22:06] NealHumphrey commented on #168
@jasonrhaas I set this up but then haven't followed up with anyone to actually add themselves yet -  but it would be great if you could start the ball rolling.

What do you mean when you don't see any team member information in index.md? There should be a block of html like this:

[code]

Which you should be able to copy and paste just below the block for me, and edit name/description/image url.

[2017-04-29 20:16] emkap01 commented on #141
I added some csvs to Drive that anyone can use for [creating custom polygon maps by Ward and by ANC in Tableau](https://drive.google.com/open?id=0B_asTpLdSlEwLTlYQ0c2RDJfa2M).

[2017-04-30 00:15] dogtoothdigital commented on #133
Hey there; I've been experimenting with this issue and I've figured out a potential solution by amending the `DataReader` class as you've requested.  I tested it against a few of the opendata.dc.gov files you've mentioned and the fix seems to work correctly.  I'd like to test it more thoroughly and review everything well before I submit a pull request.

`(housing-insights) ubuntu@ip-[redacted]:~/p

[2017-05-01 03:42] louvis commented on #141
I'm working with the REAC Score data. I have some visualizations started in Tableau Public and hope to add some maps.

[2017-05-02 04:02] NealHumphrey commented on #141
Hey all (@juliall, @emkap01, @louvis ) - send me links to your visualizations so I can have them pulled up for the Tuesday night demos!

[2017-05-02 12:27] juliaall commented on #141
Hi Neal,

Unfortunately, I don't have anything to share. My db connection dropped at the last meeting, and I never made it a priority to get it fixed nor had time to look at the csvs loaded.

I cannot make it tonight, but am sure the visualizations look good thus far.

-Julia

[2017-05-02 16:44] NealHumphrey commented on #212
Flag - should review https://github.com/codefordc/housing-insights/issues/143 for a few relevant discussion topics that should be pulled into this refactor / next steps.

[2017-05-02 16:45] NealHumphrey commented on #143
Hey all, closing this issue since we have the basic map view deployed - but, there's lots of discussion in here that's still kinda relevant. Flagged it in #212

[2017-05-02 16:45] #143 closed

[2017-05-02 16:46] NealHumphrey commented on #104
Hey @rmcarder do you still have the printed list of tables you reviewed? Did this ever make it somewhere shareable?

[2017-05-02 16:47] #80 closed

[2017-05-02 16:48] #129 closed

[2017-05-02 16:49] #193 closed

[2017-05-02 16:50] #139 closed

[2017-05-02 16:53] NealHumphrey commented on #200
From @nmolivo on Slack, adding here as a note about current status: "We are on the second bullet. We have a question on the following code. Do you mind walking through what it is doing?"  @NealHumphrey will coordinate with them - @jgordo04 and @nmolivo just let me know what specific question you have!

[2017-05-02 16:55] #106 closed

[2017-05-02 17:56] louvis commented on #141
Here's what I have so far: [Average REAC Scores by Ward](https://public.tableau.com/views/HousingInsightsVisualizations/AverageREACScorebyWard?:embed=y&:display_count=yes), [REAC Scores and Properties by Ward](https://public.tableau.com/views/HousingInsightsVisualizations/REACScoresandPropertiesbyWard?:embed=y&:display_count=yes), [REAC Score Property Map](https://public.tableau.com/views/HousingI

[2017-05-02 18:41] NealHumphrey commented on #141
Cool thanks @louvis. Looks like a good start.

Just a bit of feedback on next steps based on a quick glance: one thing to
consider would be putting a diverging color scheme on that REAC score map.
Specifically, a 59 or below is a failing score so might be worth sticking a
different color on that. When there are multiple inspections it might also
be interesting to do something other than averaging

[2017-05-02 19:17] terrysky18 commented on #196
I looked into the codes in make_draft_json while I was attempting to write an unit test script.  I would like to have a go at this task.

[2017-05-02 19:20] NealHumphrey commented on #196
Go for it! Add yourself as an assignee and change the 'ready' label to 'in progress' whenever you actually start work on it.

[2017-05-02 21:18] NealHumphrey commented on #212
@ptgott and @ostermanj after playing with this some myself, I thought it might be useful to also consider the absolute-minimum refactor version so we can decide appropriate tradeoff.

My thoughts about some minimum features:
- Wrap all charts into their own unifying function/object (or maybe append them to the `app` object, though this is where I ran into prototypical inheritance issues). This way

[2017-05-02 22:21] terrysky18 opened #235 "FileNotFoundError while running nosetest"
![nosetest error 2017-5-2](https://cloud.githubusercontent.com/assets/3409035/25641683/70fb8f56-2f63-11e7-8e13-f333cdad58a6.jpg)

While studying the current unit tests, I ran into this error.  Here is the error output.

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\UsersDirectory\\Repository\\housing-insights\\python\\housinginsights\\ingestion\\../../../data\\sample/project_sample.

[2017-05-02 23:25] joawu commented on #141
Here are some visualizations for the project.csv:

[Number of Expiring Units by Ward and Cluster](https://public.tableau.com/profile/publish/NumberofExpiringUnitsinEachWardandClusterproject_csv/NumberofExpiringUnitsinEachWardandCluster#!/publish-confirm)

[Expiring Subsidy Timeline](https://public.tableau.com/profile/publish/ExpiringSubsidyTimelineproject_csv/ExpiringSubsidyTimeline#!/publish-conf

[2017-05-03 00:01] jgordo04 commented on #200
Working on converting /python/scripts/wmata_distcalc.py to class based, but need to learn how to test it with a database. Have some hold ups with bullet 2 also, but should be cleared up with learning how to test it.

[2017-05-03 00:05] joawu commented on #141
[Buildings with Expiring Subsidies in Each Ward](https://public.tableau.com/profile/publish/BuildingswithExpiringSubsidiesinEachWardproject_csv/BuildingswithExpiringSubsidies#!/publish-confirm)

[2017-05-03 01:01] just4jin commented on #187
in progress

[2017-05-03 01:03] kasao10 commented on #199
real_property dataset is ingested, and committed, although interestingly, there were no changes to the meta.json that were committed (so I assume the code was already in there).

Documentation is still incomplete.

[2017-05-03 01:04] kasao10 commented on #92
Need to still get in contact with Risha Williams at DCHFA and make sense of all the programs.

[2017-05-03 01:43] emkap01 commented on #90
@NealHumphrey I will assume this issue will remain "on hold" unless you think otherwise.

[2017-05-03 16:27] Nunie123 commented on #141
Below is the excel file I used to build a few visualizations (which I posted in Slack).  To get the data I ran the code in analysis.txt, which relied on tables built using the scripts in transformations.txt.

[hi_chart_prototypes.xlsx](https://github.com/codefordc/housing-insights/files/974026/hi_chart_prototypes.xlsx)

[transformations.txt](https://github.com/codefordc/housing-insights/files/9740

[2017-05-03 22:06] NealHumphrey commented on #105
@louvis This is the ticket I was talking about on Tuesday - let me know if you take it on!

[2017-05-04 01:08] Nunie123 opened #236 "Produce list of filter criteria"
Being able to filter the result set of properties is a critical feature.

In order to implement the filter feature, we need to decide on a list of criteria that the user will be able to filter on.  At this late stage of the project, we should limit our filter criteria to data that is currently ingested, or data that we expect to be ingested soon (consult with ingestion team).

Once we have decided

[2017-05-04 01:24] Nunie123 commented on #236
Potential filter criteria:

- Type of subsidy
- Agency providing subsidy
- Subsidy start date
- Subsidy end date
- At risk of leaving program
- Number of units covered by subsidy
- Active vs. former subsidized properties
- REAC score
- Last inspection
- Last renovation
- Avg. rent by neighborhood/ward/census tract
- Higher vs. lower crime by neighborhood/ward/census tract
- neighborhood/ward/censu

[2017-05-04 02:56] louvis commented on #105
@NealHumphrey thanks for pointing me to it. I'll try and dig into it and make some progress as I work through on the visualizations.

[2017-05-04 15:21] NealHumphrey commented on #236
@Nunie123 - thanks for starting this! I suggest starting simple to get the ball rolling. The following fields are a) definitely available and b) definitely needed and c) represent a few different technical challenges for how the data is associated to a building.

We will want more than this eventually,

1) project ->
This is the most simple filter, where one record means one project that is filter

[2017-05-04 16:10] NealHumphrey commented on #176
@speedyturkey this all looks great. The one issue I found was that the new approach broke a few tests in test_ingestion.py. Your tests are good replacements for that, but we do want to run all the tests in case that's not the case. I'm hoping to add TravisCI to our Github account soon to better flag stuff like that.

I'm merging in locally and will fix that up and push it back here.

[2017-05-04 16:10] NealHumphrey commented on #176
@speedyturkey no action on your part - I'll fix the ingestion tests

[2017-05-04 22:17] NealHumphrey opened #237 "JUNE: BROWSE Master Issue"
For our June 13th launch, the Browse team is in charge of both populating our database with the bulk of our data sources, as well as building out the front end navigation to toggle between viewing multiple data sources. These are the components that need to be completed in time for our June 13th launch:

Data quality
- [x] Geocode all data sources with a consistent format for the city zones (ward,

[2017-05-04 23:59] xee5ch commented on #183
Do you need assistance with this? I also would like to set up Python properly in the Docker setup.

[2017-05-05 02:09] jasonrhaas commented on #183
@xee5ch I plan to get to this either this weekend or early next week.  If you have time before then, feel free to give it a stab!

[2017-05-05 02:18] domaley opened #238 "Overlay Market Rent to Aff. Housing Units"

[2017-05-05 03:04] xee5ch commented on #183
Yeah I started taking a look but had to figure out Python issues with virtualenv at the same time.

We want it in web or as a separate ingestion container?

[2017-05-05 13:28] NealHumphrey commented on #183
@xee5ch I think we want it in a separate ingestion container. We should include the Python container in docker-compose.yml, but the default behavior should not be to run the ingestion script - it should require the user to enter an additional command. That way they only  need to rebuild their database when desired (since the data in the docker database will persist between spin ups).

[2017-05-05 13:30] NealHumphrey commented on #238
@domaley what do you mean by this ticket? Are you making a Tableau viz or something else?

[2017-05-05 14:03] xee5ch commented on #183
Yeah I'm of two minds with that. Like you I was worried. I was going to make a separate container and realized it might be best to spin up that separate container with a bash prompt that dumped quick text explaining hey run this example command or something like it. There is no real default command after all.

I will spend some time this evening with it because I had trouble getting anything to ru

[2017-05-05 15:02] NealHumphrey commented on #183
@xee5ch Have you gone through the [onboarding instructions](http://housinginsights.org/resources/onboarding/) yet? I don't see your github username on the onboarding survey responses. If you fill that out w/ your email and/or Slack username I can send you the secrets.json - though note that you can convert secrets.example.json into a secrets.json file that works for local usage (it just doesn't ha

[2017-05-05 15:47] NealHumphrey commented on #209
Implemented in launch

[2017-05-05 15:47] #209 closed

[2017-05-05 15:48] NealHumphrey commented on #206
@ostermanj I'm closing this as a separate issue since I assume this will be handled differently in the refactor - but just a heads up for you!

[2017-05-05 15:48] #206 closed

[2017-05-05 15:51] NealHumphrey commented on #200
@jgordo04 if #2 is tricky, I actually did already build the parsing into the API endpoint since it was needed for that - I'd suggest holding off on it for now and just flag it with a TODO and we can get to it at some point. It'd be better for advanced users that are tapping into the database to have this available, but it's not on a critical path.

[2017-05-05 15:52] #199 closed

[2017-05-05 16:21] NealHumphrey commented on #137
Closing this issue in favor of other relevant issues. I moved the background information about these buildings into our /docs/data portion of the website.

[2017-05-05 16:21] #137 closed

[2017-05-05 16:51] NealHumphrey commented on #131
Added note about this report to the documentation of the DHCD database.

[2017-05-05 16:51] #131 closed

[2017-05-05 17:00] dogtoothdigital commented on #133
Hey, Neal--

I'm going to submit a pull request but I wanted to let you know that I took care of this issue.

1. Created a test version of `manifest.csv` that (1) refers directly to DC's opendata vendor server rather than the S3 bucket with your manually-BOM-stripped `.csv` files and (2) just includes the affected files you enumerated (for the building_permits and dc_tax tables) :

`$ cat manifest

[2017-05-05 17:06] NealHumphrey commented on #133
@dogtoothdigital This is awesome! Sorry I didn't get you credentials earlier. Did you fill out the [onboarding survey](http://housinginsights.org/resources/onboarding/)? I don't see your github username in the responses. If you fill that out I can send you the secrets.json on either Slack or email (for future use).

Look forward to the PR, looks like it should be good to go.

[2017-05-05 17:07] Nunie123 commented on #236
@NealHumphrey I was thinking of building a table or two that would be the target of the API calls from the map filter front end.

However, it might not be worth it if people are making changes soon to the existing tables.

Do you think it's worthwhile to proceed with what we've got, and then iterate as the tables get updated, or wait for the changes to take place and then build the tables that wil

[2017-05-05 17:09] NealHumphrey commented on #188
@emkap01, this is where the data logging status currently stands. Can you coordinate with @joawu to get this caught up with current status so you'll have what you need for the ingestion team?

[2017-05-05 17:12] #177 closed

[2017-05-05 17:14] #176 closed

[2017-05-05 17:15] #167 closed

[2017-05-05 17:17] NealHumphrey commented on #156
I don't think we need mobile wireframes, just a bit of mild thought by the JS people implementing these pages about how to degrade gracefully.

[2017-05-05 17:17] #156 closed

[2017-05-05 17:18] NealHumphrey commented on #171
#157 has sketches to refer to.

[2017-05-05 17:18] NealHumphrey commented on #157
Closing in favor of #171

[2017-05-05 17:18] #157 closed

[2017-05-05 17:44] NealHumphrey commented on #236
@Nunie123 I can do a very quick pass this afternoon to handle a few key issues, to get you close enough that later edits won't be to egregious:
- rename all above noted column names
- Make zone names consistent for all above tables (and hopefully others)
- Eliminate the census_mapping table be instead using consistent naming during cleaning
- Add a new table called census, and put acs_median_rent

[2017-05-05 17:49] NealHumphrey commented on #127
@thischrisoliver What's the status of this and any other persona tickets? Do we have usable versions that I can add to our /resources documentation page to link to?

[2017-05-05 17:49] #107 closed

[2017-05-05 18:00] NealHumphrey commented on #16
Didn't ever receive response from open.data@dc.gov. Sent second inquiry 5/5/2017

[2017-05-05 18:11] Nunie123 commented on #236
@NealHumphrey You're the man.

[2017-05-05 20:16] ostermanj commented on #212
long note on status of my "option2" refactor over in PR #232

[2017-05-05 20:46] thischrisoliver commented on #127
The evaluator persona is incomplete right now because there just weren't really any trends I could pull from the interviews. I'm going to (maybe this weekend?) make a proto-persona based on assumptions I can make from what information we do have.

I'm also planning to (again maybe this weekend?) flesh out the Policy Maker, Policy Advocate, Tenant Advocate, and Developer a little more, explaining w

[2017-05-05 20:57] thischrisoliver commented on #156
I'd argue that the design of the layout and what features are included for mobile requires more than just mild thought. It's actually something we were giving a lot of thought to on the design team. That said, mobile accessibility would most likely best serve tenant advocates who need to look up information about a specific building, which isn't our top priority right now. I think it's something t

[2017-05-05 21:20] NealHumphrey commented on #236
@Nunie123 I got this working with my most recent pull request. I'm having trouble with the live database and applying the changes - I will need to deal with that tomorrow morning (Saturday). But, if you do anything before then you can use the local docker database by pulling the latest dev branch.

[2017-05-05 21:55] Nunie123 commented on #236
Linking to @thischrisoliver 's google sheet which shows a breakdown of data points and their priority for including in the filtering.  Thanks, Chris!

[2017-05-05 22:55] dogtoothdigital commented on #133
@NealHumphrey Re onboarding survey -- thought I had bc I've been getting project email but maybe not; did it again just in case.  Sorry!
-meg

[2017-05-05 23:10] xee5ch commented on #183
Sorry @NealHumphrey, I was busy that night trying to read all the docs and reading through back issues since I was so new, before I started asking for access. I needed to fix docker compose on my own misfit Linux laptop anyway.

I filled out the survey pretty late this afternoon once worked settled.

[2017-05-06 03:50] dogtoothdigital commented on #235
Looks like it's probably specific to NTFS; couldn't replicate the error in my linux environment.

[2017-05-06 21:49] ptgott commented on #237
@NealHumphrey @ostermanj @jkwening @dogtoothdigital
Today I've been working on changing around rich-map.js to accommodate a more extensible range of data sets. It's all really messy so far, but I should have a PR ready by Tuesday's meeting. The main goals are:
- Query the API as menu options are selected, rather than loading all data sets at once at the start.
- Use a JSON file to populate the men

[2017-05-07 18:57] jkwening opened #243 "ValueError: dict contains fields not in fieldnames: 'unique_data_id' when rebuilding local database with new data."
I may be mistaken and hopefully it is only on my end but there seems to be an issue with the loading data work flow. I was getting a "ValueError: dict contains fields not in fieldnames: 'unique_data_id'" when I run load_data.py after following the steps in adding data sources guide.

After tracing through the code, the error is being thrown from the write() method in the CSVWriter module. It is ex

[2017-05-07 19:26] NealHumphrey commented on #243
@jkwening yep that's from #176. I think that perhaps we forgot to update the make_draft_json code  to also add that new unique_data_id field. In `/python/scripts/add_required_in_source_to_meta.py` that did this for the existing code so I had not yet tested it with a new data source.

Is that the only fix in that branch? If you can make a pull request we can get that hotfix into the live code so ot

[2017-05-08 00:46] Nunie123 commented on #236
I was thinking that our filter api might just give us a data dump of relevant fields every time the main page loads.  There are not that many records, so performance should be pretty quick for the download.  Then doing the actual filtering in JS will make for good responsiveness.

The below zip file contains a json and csv of what the data dump would potentially look like.  Since the project to su

[2017-05-08 03:17] jkwening commented on #243
This is not the only fix in the branch. As I traced through the code, I added doc-strings to the modules and their methods and minor refactoring to facilitate understanding the code base. The main goal of this was to ease debugging for others if they run into issue and expedite understanding of the code base and work flow. So I think they should be included in the pull request but someone should m

[2017-05-08 13:32] ostermanj commented on #237
@NealHumphrey @ostermanj @jkwening @dogtoothdigital

@ptgott:  I may have done a bit of the same in the refactoring PR #232, at least re: accommodating a diversity of data sets.  In that PR, the housing-insights.js has a `getData()` method that consults a manifest (preferably in the future *the* manifest) to build the correct API call based on the parameters passed to it.  For instance: `getData('

[2017-05-08 14:07] ptgott commented on #237
@NealHumphrey @ostermanj @jkwening @dogtoothdigital
This approach sounds good. One thing I was working on was building the menu of data and zone layers within the Browse view from a JSON file, rather than hard-coding it into the JS. This way the Python team can let the JS team know which datasets are available within the API, and which zone layers go with them, in a way that immediately makes them

[2017-05-08 16:43] jasonrhaas commented on #183
OK so I'm working on this using volume mounts in Docker.  The problem is the age old Python path imports.  The ingestion code does some funky things with how it imports modules, and this is not playing nice when the code moves to a different location like `"/code/python/housinginsights/ingestion/functions.py"`

The traceback I'm getting is:

[code]

I believe this can be fixed by moving to relativ

[2017-05-08 17:41] NealHumphrey commented on #183
@jasonrhaas in @jkwening's pull request #233 he refactored most of the code to use this method of appending to the path to handle relative imports:

`sys.path.append(os.path.abspath(os.path.join(os.path.dirname(__file__),os.pardir)))`

I'm reviewing this pull request today so that method should be available in dev shortly. Do you think that will fix this import issue also?

If this or the hack met

[2017-05-08 18:14] jasonrhaas commented on #183
@NealHumphrey Yea as I'm trying to load in the data using the standard procedure on the website, I'm running into the exact same issue.  Which is actually good news -- meaning that the docker environment I have set up is mimicking what we already have.

I'll try running with the #233 changes to see if that helps.

[2017-05-08 18:53] xee5ch commented on #183
I generally had trouble with using volumes in the docker-compose.yml file set to the same directory as host workdir in the Dockerfile. I tried playing with that for hours on Sunday, even with the Jekyll as the issues manifest themselves with Gemfiles and requirements files and people all over Github warn of that.  I never did figure out the proper way, bc it is conducive to have for the Python stu

[2017-05-08 18:54] xee5ch commented on #183
Looking at 245 it seems you figured it out where I failed. Good work, Jason.

[2017-05-08 19:24] jasonrhaas opened #246 "Error loading in *sample* data"
When trying to load in the sample data using the command `python load_data.py docker rebuild sample`, a Traceback occurs:

[code]

This is due to a few fields in the **meta.json** and **sample_meta.json** that have not been updated since a recent re-factoring.

**UPDATE**:  I have a fix for this, it is coming in a PR shortly.

[2017-05-08 20:18] jasonrhaas commented on #183
PR is up! #245

[2017-05-08 20:34] jasonrhaas commented on #183
@xee5ch No worries!  I've used `docker-compose` quite a bit at my last job.  I'm a big fan 👍

[2017-05-08 20:41] jasonrhaas commented on #246
This can be closed

[2017-05-08 20:41] #246 closed

[2017-05-08 22:31] NealHumphrey commented on #243
Fixed in #244

[2017-05-08 22:31] #243 closed

[2017-05-09 00:20] emkap01 commented on #188
Will do.  @joawu are you going to be at the meeting tomorrow night?  If so we can sync up then, if not I will compare the spreadsheet you started against the tables that are currently in the Postgres db, as well as against whatever other "raw" datasets we have in the s3 bucket.  I can take a first pass at updating the spreadsheet based on those findings and then we can go from there.

[2017-05-09 00:52] ptgott commented on #237
It looks like I'll have my changes to the Browse view ready for a PR by this weekend, rather than tomorrow. Some of the changes will have a more efficient counterpart in Refactor Option 2 (see PR #232), in particular the loading of datasets as the user selects them, rather than all at once during the initial page load. Others will be newer, such as populating the data menu based on a .json file of

[2017-05-09 13:50] NealHumphrey commented on #236
@Nunie123 to talk about with some front end people tonight: instead of de-duping the data, would it make more sense to either a) denormalize the data by adding columns for stuff like subsidies based on a max number of subsidies (i.e. columns for subsidy1, subsidy2, subsidy3), or b) to use the JSON format to nest the sub-tables of data (i.e. subsidies = [subsidy1,subsidy2])

[2017-05-09 13:59] jasonrhaas commented on #187
I'm interested in improving the data ingestion automation process as well.  This issue and #198 seem to be related.  Both are using opendata.dc.gov, so I think that rather than generating custom data ingestions for each, we should have a more generalized approach for ingesting data from opendata.dc.gov.

I think that using the API is 100% the right approach, rather than manually downloading data.

[2017-05-09 14:10] NealHumphrey opened #248 "JUNE: FILTER Master Issue"
Core purpose: Connect our various data sources directly to the affordable housing buildings. It allows users to find subsets of buildings that match a complex set of criteria. Provides an answer to questions like “Show me all Section 8 buildings with less than 100 units and in a census tract with above average income.” Stretch goal is to provide some interesting data visualizations comparing filte

[2017-05-09 14:34] NealHumphrey commented on #16
Response from open.data@dc.gov:

"You are correct, the most recent data available for building permits is January 2017. This is what you are seeing within the dataset. Open Data DC is not receiving updates from DCRA at this time. Although, we are working with DCRA to re-establish the live feed but do not yet have a timeline. The date seen in the details page is actually a date where we made an edi

[2017-05-09 14:42] NealHumphrey opened #249 "JUNE: API Refactor"
Turn our current one-page, raw SQL API approach into something scalable:
- [ ] Create a logical separation of concerns among different API endpoint types, with an appropriate
- [ ] Make sure we have a consistent approach to how endpoints are served, to provide an easier method for the front end to switch between data sources and add new graphs. Coordinate with the filter team ( #248) re: filter en

[2017-05-09 14:57] NealHumphrey opened #250 "JUNE: Insights Master"
For the June 13th launch, we want a basic structure for displaying Tableau visualizations.

- [x] Create an 'Insights' page that pulls from a stored list of Tableau visualizations (probably with title, author, topic as the meta data) and displays a tile for each one.
- [x] Create a page for an individual visualization to display it publicly (embedded from Tableau Public)
- [x] Create a set of 4+ w

[2017-05-09 15:01] NealHumphrey opened #251 "JUNE: User Testing"
On June 13th, we will launch the V1 of our website. The User Testing group is responsible for setting up a system for user testing and have it ready to conduct user tests just following the launch (June 14/15) so that we can quickly turn around feedback to incorporate into the V2 launch 6 weeks later.

- [x] Determine goals, usability questions, and user stories (by May 16th)
- [x] Create user tes

[2017-05-09 15:49] NealHumphrey commented on #198
Note on integrating this data from open.data@dc.gov:

EXTRACTDATE field says when this was last updated, looks to be roughly monthly.

[2017-05-09 15:51] NealHumphrey commented on #198
Hey @eng1nerd have you been able to do any work on this issue? Let me know where things stand - and if you're busy with the new job we can also see if someone's able to take it over!

[2017-05-09 15:53] NealHumphrey commented on #187
@jasonrhaas Yes, it would be good to use the same approach - though part of breaking things up was to have things that multiple people could work on it once.

@jkwening is leading up the Python side of the data ingestion code so he's the best one to coordinate with!

[2017-05-09 16:37] NealHumphrey commented on #194
PR 233 is merged in! Next up: combining the dchousing table with the projects table. @jkwening let's discuss tonight.

[2017-05-09 21:00] NealHumphrey opened #252 "Unified Filter/Browse Design"
At last week's meeting, we discussed making the Filter method (for choosing individual buildings) and the Browse method (for viewing city-wide data sets that are not buildings) into one unified view. To make this happen, we need a 'good enough' implementation plan about how to start building this unified page. The Javascript team members will need an overall layout and initial set of core design e

[2017-05-09 21:50] eng1nerd commented on #198
@NealHumphrey I'm sorry for the delay. I will try to finish it by tomorrow 6pm. If something will not be right or it will take me much longer, then some other person should probably step in.

[2017-05-09 23:13] ostermanj commented on #212
To update this issue: PR #253 continues option 2 refactor and has the data overlays working (crime and building permits) in a basic way, using the MVC format and the getData() method.

[2017-05-09 23:13] thischrisoliver commented on #188
I updated the
[Requested Data Status](https://docs.google.com/spreadsheets/d/1UnuTvDRrCya3gWaNTfDQfTQPRwuwAqB6p9zzlCLDh_g/edit?usp=sharing) spreadsheet, prioritizing each request.

[2017-05-09 23:16] thischrisoliver commented on #237
Here's the [Requested Data Status](https://docs.google.com/spreadsheets/d/1UnuTvDRrCya3gWaNTfDQfTQPRwuwAqB6p9zzlCLDh_g/edit?usp=sharing) spreadsheet (i.e. the data wishlist).

[2017-05-09 23:39] txomashernandez commented on #251
Running list of user stories to test, to be revised as the filter and browse views are defined:
- As a Housing Insights user, I can search for a specific subset of house based off of certain criteria and pull up a list of just those houses.
- As a housing Insights user, I can browse for a specific set of houses that meet given criteria.
- As a housing Insights user, I can select a zone type (ward,

[2017-05-10 00:14] xee5ch opened #254 "Investigate DCHD TOPA Monthly Filings for Ingestion"
Per conversation with @jkwening and the rest of the Browse/Ingestion Team, there is a high demand for TOPA data.  According to the DC website, they have monthly updates going back to 2016 listed below.

https://dhcd.dc.gov/page/weekly-report-tenant-opportunity-purchase-act-topa-filings

Each month links to a subsequent page with attached PDF, which appears to be a PDF export for from Excel directl

[2017-05-10 01:21] xee5ch commented on #254
Per @emkap01 there is a sample XLS file that seems to be a cleaned version of similar data that can be found.  Just leaving this for future reference or analysis.

https://docs.google.com/spreadsheets/d/1zRGbvcg2X6RrwLuDdTq9SmCXQo-Mp_GOO-9kuxYc60Y/edit#gid=0

[2017-05-10 01:58] xee5ch opened #255 "Update Docs for Current Data Ingestion Workflow"
Per tonight's meeting will try to update data ingestion doc in onboarding resources accordingly to focus on dataset provenance, DB tables, and ingest prioritization.

[2017-05-10 10:23] jkwening opened #257 "Refactor load_data.py"
Encapsulate load_data.py into a class or function that can be callable from another script per BROWSE Master Issues within Ingestion Infrastructure goals for V1 launch.

[2017-05-10 19:30] Nunie123 commented on #248
The attached files should be used as an example response from the filter api endpoint.  This is what the data will look like once the endpoint is operational.

As a reminder, the nlihc_id is duplicated in this data set.

[filter_api_response.zip](https://github.com/codefordc/housing-insights/files/990984/filter_api_response.zip)

[2017-05-10 23:55] emkap01 commented on #16
Sure, I will reach out.

[2017-05-11 14:16] NealHumphrey commented on #255
@xee5ch I'm assuming this was covered by your PR, so I'm closing the issue - if there is something additional you needed to add, feel free to re-open the issue and comment as to what additional stuff might be needed.

[2017-05-11 14:16] #255 closed

[2017-05-11 14:28] NealHumphrey commented on #252
The DC Action for Children example above  ("choose a dataset functionality on this tool") has a pullout sidebar. The [Disaster Operations map](https://ccusa.github.io/Disaster_Vulnerability_Map/#3/38.91/-76.92) that @rmcarder is working on just implemented similar functionality. [This commit]((https://github.com/ccusa/Disaster_Vulnerability_Map/pull/36/files) got the sidebar open/close navigation

[2017-05-11 14:53] xee5ch commented on #254
Minor progress and early in the process.

- Tested building a Docker container with normal CPython 3 and pdfquery (because I cannot get it working with Anaconda since it is not the default channel and is a per user build)
- Emailed DC OpenData address like Neal in other tickets asking if the only way to get access to this is through PDF.

@NealHumphrey: TOPA data is marked as high and PDF of Excel

[2017-05-11 15:54] NealHumphrey commented on #254
@xee5ch CNHED maintains (maintained?) a Google Spreadsheet where they manually pulled out some of this information - which could be a source for historical data, at least. I'm not sure how up to date it is. Besides that, I think that getting this in machine-readable format (probably an XLS spreadsheet) is possible but will require pressure to DHCD. The best method to do that is
a) Contact opendata

[2017-05-11 17:17] xee5ch commented on #254
OK seems we are on the same page given your reply. Also for others, Neal sent a follow up email to CNHED contacts about the provenance of their Google spreadsheet data.

I will toy with PDF manipulation this weekend.

[2017-05-12 20:22] NealHumphrey opened #260 "API save location as a property and create folder if needed"
The API `XXXApiConn()` classes are inconsistent in how they choose where to store the output csv file created from their data source. `TaxApiConn` (about to be merged in) added the save folder as a hard-coded relative path, whereas others accept a user input. All of them also fail if the folder does not already exist.

In preparation for automatic data downloading, we should unify this with a cons

[2017-05-12 20:24] NealHumphrey commented on #260
@jkwening I'm thinking about this approach for our API save paths, as a first step towards automatic api data pulls. I ended up being pretty detailed in the ticket - I can either implement or if you want to do it after you finish the phase 2 of the DCHousing feel free. Whoever starts on it first post up here to claim.

[2017-05-12 20:25] NealHumphrey commented on #260
Also available for anyone else that wants some ingestion-related work and wants to learn about @property techniques!

[2017-05-12 20:32] xee5ch commented on #260
I was thinking a lot of this as I spent a lot of time alt-tabbing and reading the Python for the status update tables. Then I was wondering what kind of tools exist for managing pipelines like ours.

I quickly found an open source project designed by Spotify engineers called [Luigi](https://luigi.readthedocs.io).

Is there interest in a more integrated tool? Do we have time to shoe horn? I'm hones

[2017-05-12 20:51] NealHumphrey commented on #260
I'd be open to an integrated tool - it's just the omnipresent tradeoff of time and complexity (time to refactor, time saved vs. time learning a new tool, etc). I'd say let's get a quick+simple (but potentially fragile) method up and running for V1 and then use that to assess how big/small our needs are for something like Luigi. If you want to do a POC that's also a welcome way to explore the issue

[2017-05-12 21:13] xee5ch commented on #260
Yeah I was drafting a follow up "but your decorator method is slick too" and I mean it. You all run the show I'm just worried what happens long-term. I will see what I can accomplish this weekend.

[2017-05-12 21:16] NealHumphrey commented on #198
Latest status:

- @eng1nerd 's code has been merged into the codefordc repository under the branch name `198-add-tax-data`; should pick up code from there.
- Current TaxApiConn class uses the 'GeoService` api. Instead we should use the 'GeoJSON' api url, but swap it out for .csv as noted on the opendata documentation (bottom of page): http://opendata.dc.gov/pages/using-apis . This will resolve the

[2017-05-12 21:19] NealHumphrey commented on #194
Hey @jkwening Flagging a future issue we'll run into using the endpoint you set up for this. ESRI by default limits the API calls to 1,000 records, as we found in #198 . Using the geojson endpoint but swapping .geojson for .csv will return the full api data already formatted as .csv. We should switch to this data download method - though you can maybe wait to convert the code until we do another a

[2017-05-12 21:21] NealHumphrey commented on #187
@ajhalani and @just4jin flagging an issue for you that came up in the tax ingestion. The json api's have a default limit of 1,000 records. Looks like the best solution is using the 'geojson' api endpoint, but swap .geojson for .csv to get a bulk download of all the api already in csv format.

[2017-05-12 21:22] NealHumphrey commented on #16
Flagging the ESRI geojson limit on this ticket too, which came up in tax ingestion. The json api's have a default limit of 1,000 records. Looks like the best solution is using the 'geojson' api endpoint, but swap .geojson for .csv to get a bulk download of all the api already in csv format.

[2017-05-12 22:24] NealHumphrey commented on #260
We need to decide how to store the files anyways - I'm guessing this method would still be useful even if we do switch to Luigi later.

[2017-05-13 02:38] ajhalani commented on #187
Thanks Neal.

[2017-05-13 20:10] emkap01 commented on #188
As discussed at the last meeting, the next challenge is to make sure we can account for all of the data that is of 'High' interest to end users. To do that, we will have to reconcile the topics they are most interested in with the data we have already modeled into our production db, as well as the data we have collected but not modeled, as well as the data we still need to collect.

Mapping topics

[2017-05-13 21:15] xee5ch commented on #188
Re the Google Doc, @emkap01 and @NealHumphrey, seeding that Tableau Dashboard, that is different from the one previously discussed.  Shall we change the documentation to refer to that?  I was working on the old one, but I had been making slow progess.  This was the subject of close #258.

[2017-05-13 22:09] emkap01 commented on #188
@xee5ch I propose we discuss the potential change briefly at the next Tuesday meeting, and if we end up with consensus then we can change the documentation afterward.  In the meantime, if you want to just continue using the old one, that's fine, I can easily update the new one manually with whatever changes are necessary (I'm not expecting a ton of new datasets to get loaded in the next week or so

[2017-05-13 22:17] emkap01 commented on #188
A related task for this issue would be for someone to write a script that can generate a csv that describes all the raw datasets in the S3 bucket.  The csv needs to have three fields:

1. filepath
2. file_created_date
3. filename

Once we have those records created, we can just append them to the Manifest Tracker sheet, that way we will have a complete catalog of all the data available to us. The

[2017-05-13 22:45] xee5ch commented on #188
@emkap01 Ok.  I just wanted to keep the docs updated since we seem to onboard people every meeting, and would like the site to serve as a good starting point so people read it before or after the meeting.  I still refer to the old Google doc.  If you are ok with that, I can hold off.

Re the CSV of filepath, file_created_date, and filename, have you seen the XML generated from the landing page of

[2017-05-14 21:18] ptgott commented on #237
@NealHumphrey @ostermanj @jkwening @dogtoothdigital
In PR #261 I've made a number of changes to the organization of the Browse view.

Since we'll be making @ostermanj's refactor the new basis for the Browse view, I'm taking this PR as a set of suggestions to incorporate with the refactor. We can discuss which features from this PR to add to the refactored Browse view.

**Note that everything relat

[2017-05-15 04:01] louvis commented on #250
Hey everybody, for those of you looking to setup polygon maps [like the ones Eric created](https://public.tableau.com/profile/eric.k3077#!/vizhome/AH_Analysis/TOPAMap), these are the steps you need to follow:

- [Download the appropriate polygon file](https://drive.google.com/drive/folders/0B_asTpLdSlEwLTlYQ0c2RDJfa2M?usp=sharing) (Ward, ANC, Neighborhood Cluster)

- Query and export the data you

[2017-05-15 21:36] emkap01 commented on #188
@xee5ch yes right now we'd be using the data about what's in the S3 bucket to update the [Manifest Tracker](https://docs.google.com/spreadsheets/d/1IMEVCdDwl5ab8dk5uSyk2dCCg_uIZOAkFIe0Ee8VAQA/edit?usp=sharing) Google Sheet that feeds the Tableau dashboard.

Eventually I think it would be ideal to find a way to build a pipeline dashboard/tracker that just updates automatically every time a new data

[2017-05-15 22:12] NealHumphrey commented on #188
Hey all, so I wasn't in the discussion last week and don't know the full story of how you're planning to use this Tableau dashboard and other tracking, so definitely don't want to slow you all down.

The big challenge on data tracking is keeping things as [DRY](http://programmer.97things.oreilly.com/wiki/index.php/Don't_Repeat_Yourself) as we can.

A few observations I'd make from what I see in th

[2017-05-15 22:32] NealHumphrey commented on #249
Hey @ohaaga and @jasonrhaas just wanted to check in on the status of work on this. Jason mentioned you guys talked last week. What are you thinking re: approach? What do you think about a target of next week for having a structure in place for the refactor, so that we can open the code up to adding other endpoints as needed?

As a heads up, there are two more endpoints that our front end needs - o

[2017-05-15 23:06] NealHumphrey commented on #175
Hey @ehenry2172 - I wanted to check in on this. After you wrapped up the PR #164 we talked about you taking on this improvements to it as well. Are you still interested in working on that? Do you have any uncommitted/pushed code out there?

Let me know if you can take it on, or if you want me to reassign this issue. Thanks!

[2017-05-16 02:51] xee5ch commented on #188
Well, I was not sure what to do because I knew one of your PRs was #105 with the Jekyll auto-population and I said they were probably something we should tackle at the same time. Given the issues on Slack and #249 a lot of this stuff might need to change the better suit the API, depending on where it gets stuffed directly into the DB, or at all.

[2017-05-16 03:25] jkwening opened #262 "hotfix - Issue in mar.py after refactor"
Still referencing `self.conn.get()` after refactoring to inherit from BaseApiConn...fixed by replacing reference with `self.get()`.

[2017-05-16 05:42] jasonrhaas commented on #249
Other than prototyping and planning I have not been able to dedicate much time to this yet.  I should be able to dig into this a bit more this week.  Once I did into the data ingestion more I can have a better idea of how long this should take to do.

[2017-05-16 11:49] NealHumphrey commented on #188
@xee5ch and @emkap01 we can discuss tonight hopefully! Due to timing and how much code would need to change I'm currently not expecting big shifts to the meta.json or manifest.csv, though manifest will need to change to handle API sources. My main point about S3 was just to say just because something's in S3 doesn't mean it should be used, and just because something's missing doesn't mean it shoul

[2017-05-16 11:58] NealHumphrey commented on #262
@jkwening I ran into this yesterday too; hotfix should already be in dev as of ~5pm yesterday.

[2017-05-16 13:48] jkwening commented on #262
@NealHumphrey great - thanks! I'll cancel my pull request. I added an additional method for reverse lookup given lat and long and test case for mar.py - I'll just ship it along with what I'm doing with dchousing insertion code when ready unless someone needs it sooner.

Also, if @ehenry2172 can't complete #175 I can take that one one also and push include my work in that for completeness instead.

[2017-05-16 14:15] NealHumphrey commented on #262
No need to cancel your PR - I can go ahead and merge your other improvements in now. It's always better to merge in quickly in this kind of project since with so many people it's much more likely that multiple people will touch the same code. Merge fast, pull often - dev might break, but that's what master is for.

[2017-05-16 14:16] #262 closed

[2017-05-16 20:11] NealHumphrey commented on #254
@xee5ch So I got an update on this from Urban/DHCD.

1) Peter has spreadsheet version(s) of the data from the DHCD website that we can get regularly, as DHCD emails the spreadsheet version to housing advocates. Later we can figure out how to tap into that data source or have Urban manually upload them regularly.

2) We can get older data from CNHED's google spreadsheet. It should be about as accur

[2017-05-16 21:31] txomashernandez commented on #251
A working

[2017-05-16 21:42] txomashernandez commented on #251
Running list of testing goals and usability questions, to be revised with the further refinement of the filter and browse view's development:

**User Testing Goals:**
- Validate the design direction of having a combined browse and filter sections.
- Determine if interesting and useful housing data is displayed and searchable.

**Additional Usability Questions:**
- Are specific elements confusing o

[2017-05-16 21:43] txomashernandez commented on #251
**Working user testing script:** https://docs.google.com/document/d/1nu07vWqehNEfJRYufN0YvnJwEJrLFv2RXVZf4ldrRII/edit?usp=sharing

[2017-05-16 23:26] Heysol commented on #250
Hi I'll be working on some demographics data such as race, and  income for each ward taken from the ACS 5 year estimate 2010-2014

[2017-05-17 00:19] jasonrhaas commented on #183
@NealHumphrey Can this PR be closed out?  I thought you made some changes to this but I don't see them in this PR?

[2017-05-17 00:59] domaley opened #264 "Clean up Neighborhood Cluster Polygon"
Match the ObjectID # to the Official Neighborhood Clusters

[2017-05-17 01:03] louvis commented on #250
I'm working with the building permit and reach score data to see if there are any visualizations that help us understand what geographic areas and specific buildings might be at risk.

[2017-05-17 02:09] #264 closed

[2017-05-17 02:11] domaley commented on #250
I'm working on visualizations of median rent and market rent to see if the placement of subsidized housing is actually disincentivizing private investment in some areas. I'm work w/ census data and looking to see if we will be able to show change over time.

[2017-05-17 13:50] ptgott commented on #212
@ostermanj @NealHumphrey
I'm going to incorporate the front-end refactor with some bits of the latest Browse view front-end code (#237) tomorrow and maybe Friday, organizing this so the refactor (#253) becomes the default Javascript code base. Here's a list of specific plans. Let me know if there's anything else, or if you'd like to organize the work differently!

@NealHumphrey and I talked about

[2017-05-17 19:31] ostermanj commented on #212
This all sounds good! I may experiment with tangential things in the coming days like UI components and ideas for switching between views, but let me know if you want to divvy these tasks up at all.

[2017-05-17 20:08] NealHumphrey commented on #92
Hey @kasao10 - it was tricky but I think I got it!

If you download the latest data:
`aws s3 sync s3://housinginsights data --profile housinginsights`

you should now have two new files in the folder /data/interim called `subsidy_pairs.csv` and `avg_total_subsidies_by_program.csv`.

Here is the query I used to create them:
https://github.com/codefordc/housing-insights/blob/dev/python/housinginsigh

[2017-05-18 12:14] NealHumphrey commented on #254
@xee5ch If you sync your data folder (run this from the root of the repo: `aws s3 sync s3://housinginsights data --profile housinginsights`) you'll have 4 new files in the /raw/TOPA_notices folder - 3 years of topa notices (files starting with Rcasd_) and a data dictionary with the field definitions for those files. Have at it!

You should follow the standard 'add a new data source' instructions a

[2017-05-18 14:20] NealHumphrey commented on #248
@Nunie123 couple quick clarifications from you so we can do integration work with this sample data set during the Saturday hackathon:

1) I'm assuming this is the same one that you posted to Slack?
2) Does this contain all records to filter on?
3) Do you also have the associated SQL query used to make this? Can you commit it to github? I've been putting WIP sql queries into the /python/housinginsi

[2017-05-18 14:40] NealHumphrey opened #267 "Demo filter selection objects"
To divide up the work, the Javascript code needed for the front-end filter can be divided into two tasks: adding filter components to the page that update the state of the page, and using a state-change announcement to apply filtering to the data set using the current page state. This ticket is for part 1 of this task.

**Demo at least one data set with each of 3 data selection types:**

- [x] Ove

[2017-05-18 14:54] NealHumphrey opened #268 "Filtered NLIHC_ID using current state"
To divide up the work, the Javascript code needed for the front-end filter can be divided into two tasks: adding filter components to the page that update the state of the page, and using a state-change announcement to apply filtering to the data set using the current page state. This ticket is for part 2 of this task. (part 1 is #267 )

As discussed at our planning meeting, the filtering will be

[2017-05-18 22:57] xee5ch commented on #254
Excellent. I will look tonight or tomorrow.

[2017-05-19 20:31] NealHumphrey opened #271 "Subsidy timeline is broken in refactored /docs/tool"
No subsidy information is displayed on the timeline

[2017-05-19 20:37] NealHumphrey opened #272 "Uncaught exception when going from building view back to map view."
@ostermanj to investigate later, doesn't appear to break any functionality. This applies to the refactored code versio in the current pull request #270 soon to be merged to dev.

To recreate:

Go to /tool page
Navigate to a building view (I went to /tool/building.html?building=NL000360)
Click back button.

This appears in console:
[code]

Nothing appears broken on page so might be non issue.

[2017-05-19 20:50] NealHumphrey commented on #271
Update - maybe I just found a weird data issue not a code issue.
- This one works (as do many others): http://127.0.0.1:4000/tool/building.html?building=NL000102
- This one doesn't: http://127.0.0.1:4000/tool/building.html?building=NL000360

[2017-05-20 02:56] NealHumphrey commented on #252
From Chris: current version https://github.com/ccusa/Disaster_Vulnerability_Map/pull/36/files

[2017-05-20 02:58] NealHumphrey opened #273 "Implement filtering UI on tool map view"
Use [this clickable mockup](https://app.moqups.com/neal@nhumphrey.com/dDYbZTfu6T/view) as the basis for ui. Be sure to choose 'pages' on the left and check out each of the different modes.

- [x] Make 4 panes: Add sidebar slide-out with sub-nav for choosing data sources (use #267 for components).
    - The [Disaster vulnerability map](https://ccusa.github.io/Disaster_Vulnerability_Map/#3/38.91/-76

[2017-05-20 05:20] terrysky18 commented on #196
Finally finished development for this bug fix.  Here is the list of changes:

- Added 'checkTable' function to check whether the new table is in table_info.json

- Added 'appendJSON' function to append the new table to table_info.json

- Added 'duplicateTable' function to handle when the new table is a duplicate entry in table_info.json.  User has the option either overwrite the entry or cancel.

[2017-05-20 16:23] ptatian commented on #140
Recommend using http://opendata.dc.gov/datasets/integrated-tax-system-public-extract as the main property tax database file.

[2017-05-20 17:03] NealHumphrey opened #274 "Opendata.dc.gov connection class"
Opendata.dc.gov provides multiple data sets that we need. They provide an api endpoint for each data file that we need already in .csv format.

In our `/python/housinginsights/sources` folder there is a base.py file with a BaseApiConn class.
- [x] Create a new class called OpenDataApiConn() (in a new file called opendata.py) that inherits from the base class.
- [x] add properties to __init__ with

[2017-05-20 17:04] NealHumphrey commented on #274
Look at the /python/housinginsights/sources/mar.py for an example of inheriting from the base class, though this does not use the csv method

[2017-05-20 17:05] ptatian commented on #194
@jkwening In case it's helpful, here's a basic diagram of the Preservation Catalog file schema.
https://urbanorg.box.com/s/t1t8cg9228agxdvvqpg61uxdo7qj8gwe

[2017-05-20 18:38] xee5ch commented on #254
An update from the end of the hackathon. I have uploaded the data and have discussed the high priority columns with Eric.  Will keep working on this, per @NealHumphrey and have a PR soon for adding 2015, 2016, and 2017 data in a separate `topa` table once I have more than rudimentary cleaners.

[2017-05-20 19:01] terrysky18 commented on #53
I will take over this issue.

[2017-05-20 19:12] ptatian commented on #188
The [data tracking sheet](https://docs.google.com/spreadsheets/d/1ueWgrtzlMSKD5y8QF7Xdj3V_4v7xw_A8vwhLAAqaZys) says that HMDA data was ingested to get market sales prices. HMDA is more valuable for getting information about home buyers, such as income or race. That info is not available elsewhere.

You can see an example of how we used these data in one of our [old Housing Monitor reports](http://

[2017-05-21 02:41] citizenrich commented on #152
Very small beginning here: https://github.com/codefordc/housing-insights/pull/281

[2017-05-21 03:28] ajhalani commented on #274
Relates to https://github.com/codefordc/housing-insights/issues/187 as well.

[2017-05-21 05:09] xee5ch commented on #254
Sorry, an overdue update.  I had issues determining where I went astray, but I was not setting recreate_table and was not capturing the different years like census and other aggregate tables.  Shame on me.  This is it, but needs more work.

https://github.com/xee5ch/housing-insights/tree/ingestion-topa-notices

It appears I have a dirty commit with my IDE auto-formatting sloppy whitespacing that i